<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap",
        "CSSName": "corporate",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_corporate_header.html',{
        "path": "",
        "HeaderClass": "bg-body",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row gy-4 justify-content-between">
                        <div class="col-lg-6">
                            <h6 class="text-primary position-relative d-inline-block px-3 py-2 mb-5 ls-2 fw-400"> <span class="position-absolute top-0 start-0 bottom-0 bg-primary bg-opacity-10 w-25"></span>Our blog</h6>
                            <h1 class="fw-300 display-4">Latest <span class="fw-600">articles</span></h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section pt-0">
                <div class="container">
                    <div class="row gy-5 gy-md-7">
                        <div class="col-md-6">
                            <div class="hover-scale">
                                <div class="hover-scale-in position-relative">
                                    <span class="bg-primary py-2 px-3 text-center position-absolute top-0 start-0 mt-3 ms-3 z-1">
                                        <span class="h1 d-block text-white m-0 lh-1">24</span>
                                        <span class="text-white">OCT</span>
                                    </span>
                                    <a href="#">
                                        <img src="../assets/img/corporate/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                                <div class="pt-3">
                                    <div class="d-flex text-uppercase fs-sm pb-3">
                                        <span><a class="link-effect-02 text-reset" href="#">Corporate</a></span>
                                        <span class="vr my-1 mx-3"></span>
                                        <span><a class="link-effect-02 text-reset" href="#">By, Jenna Lyons</a></span>
                                    </div>
                                    <h5 class="h3 mb-3">
                                        <a class="text-reset" href="#">I like the body. I like to design everything to do with the body.</a>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="pt-2">
                                        <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="hover-scale">
                                <div class="hover-scale-in position-relative">
                                    <span class="bg-primary py-2 px-3 text-center position-absolute top-0 start-0 mt-3 ms-3 z-1">
                                        <span class="h1 d-block text-white m-0 lh-1">24</span>
                                        <span class="text-white">OCT</span>
                                    </span>
                                    <a href="#">
                                        <img src="../assets/img/corporate/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                                <div class="pt-3">
                                    <div class="d-flex text-uppercase fs-sm pb-3">
                                        <span><a class="link-effect-02 text-reset" href="#">Corporate</a></span>
                                        <span class="vr my-1 mx-3"></span>
                                        <span><a class="link-effect-02 text-reset" href="#">By, Jenna Lyons</a></span>
                                    </div>
                                    <h5 class="h3 mb-3">
                                        <a class="text-reset" href="#">I like the body. I like to design everything to do with the body.</a>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="pt-2">
                                        <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="hover-scale">
                                <div class="hover-scale-in position-relative">
                                    <span class="bg-primary py-2 px-3 text-center position-absolute top-0 start-0 mt-3 ms-3 z-1">
                                        <span class="h1 d-block text-white m-0 lh-1">24</span>
                                        <span class="text-white">OCT</span>
                                    </span>
                                    <a href="#">
                                        <img src="../assets/img/corporate/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                                <div class="pt-3">
                                    <div class="d-flex text-uppercase fs-sm pb-3">
                                        <span><a class="link-effect-02 text-reset" href="#">Corporate</a></span>
                                        <span class="vr my-1 mx-3"></span>
                                        <span><a class="link-effect-02 text-reset" href="#">By, Jenna Lyons</a></span>
                                    </div>
                                    <h5 class="h3 mb-3">
                                        <a class="text-reset" href="#">I like the body. I like to design everything to do with the body.</a>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="pt-2">
                                        <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="hover-scale">
                                <div class="hover-scale-in position-relative">
                                    <span class="bg-primary py-2 px-3 text-center position-absolute top-0 start-0 mt-3 ms-3 z-1">
                                        <span class="h1 d-block text-white m-0 lh-1">24</span>
                                        <span class="text-white">OCT</span>
                                    </span>
                                    <a href="#">
                                        <img src="../assets/img/corporate/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                                <div class="pt-3">
                                    <div class="d-flex text-uppercase fs-sm pb-3">
                                        <span><a class="link-effect-02 text-reset" href="#">Corporate</a></span>
                                        <span class="vr my-1 mx-3"></span>
                                        <span><a class="link-effect-02 text-reset" href="#">By, Jenna Lyons</a></span>
                                    </div>
                                    <h5 class="h3 mb-3">
                                        <a class="text-reset" href="#">I like the body. I like to design everything to do with the body.</a>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="pt-2">
                                        <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="hover-scale">
                                <div class="hover-scale-in position-relative">
                                    <span class="bg-primary py-2 px-3 text-center position-absolute top-0 start-0 mt-3 ms-3 z-1">
                                        <span class="h1 d-block text-white m-0 lh-1">24</span>
                                        <span class="text-white">OCT</span>
                                    </span>
                                    <a href="#">
                                        <img src="../assets/img/corporate/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                                <div class="pt-3">
                                    <div class="d-flex text-uppercase fs-sm pb-3">
                                        <span><a class="link-effect-02 text-reset" href="#">Corporate</a></span>
                                        <span class="vr my-1 mx-3"></span>
                                        <span><a class="link-effect-02 text-reset" href="#">By, Jenna Lyons</a></span>
                                    </div>
                                    <h5 class="h3 mb-3">
                                        <a class="text-reset" href="#">I like the body. I like to design everything to do with the body.</a>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="pt-2">
                                        <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="hover-scale">
                                <div class="hover-scale-in position-relative">
                                    <span class="bg-primary py-2 px-3 text-center position-absolute top-0 start-0 mt-3 ms-3 z-1">
                                        <span class="h1 d-block text-white m-0 lh-1">24</span>
                                        <span class="text-white">OCT</span>
                                    </span>
                                    <a href="#">
                                        <img src="../assets/img/corporate/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                                <div class="pt-3">
                                    <div class="d-flex text-uppercase fs-sm pb-3">
                                        <span><a class="link-effect-02 text-reset" href="#">Corporate</a></span>
                                        <span class="vr my-1 mx-3"></span>
                                        <span><a class="link-effect-02 text-reset" href="#">By, Jenna Lyons</a></span>
                                    </div>
                                    <h5 class="h3 mb-3">
                                        <a class="text-reset" href="#">I like the body. I like to design everything to do with the body.</a>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <div class="pt-2">
                                        <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination justify-content-center pt-8">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="bi-chevron-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="bi-chevron-right"></i></a></li>
                    </ul>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_corporate_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>