<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap",
        "CSSName": "corporate",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_corporate_header.html',{
        "path": "",
        "HeaderClass": "bg-body",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row gy-4 justify-content-between">
                        <div class="col-lg-6">
                            <h6 class="text-primary position-relative d-inline-block px-3 py-2 mb-5 ls-2 fw-400"> <span class="position-absolute top-0 start-0 bottom-0 bg-primary bg-opacity-10 w-25"></span> Contact Us</h6>
                            <h1 class="fw-300 display-4">We're <span class="fw-600">here to help</span><br> Let’s talk</h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <div>
                <img src="../assets/img/corporate/banner-01.jpg" title="" alt="">
            </div>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading">
                        <div class="col-lg-6">
                            <h2 class="display-5 fw-300">Let's <span class="fw-700">connect</span> and get to know each other</h2>
                        </div>
                    </div>
                    <div class="card card-body p-4 p-lg-6">
                        <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="#">
                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <label class="form-label" for="contact-name">Full name *</label>
                                    <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="contact-email">Your email *</label>
                                    <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="contact-phone">Phone</label>
                                    <input type="tel" name="contact-phone" class="form-control" placeholder="+01 888 888 6666" id="contact-phone">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="contactsubject">Subject *</label>
                                    <input type="tel" name="contactsubject" class="form-control" placeholder="+01 888 888 6666" id="contactsubject">
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label" for="contact-message">We can help you?</label>
                                    <textarea class="form-control" id="contact-message" name="message" rows="5" placeholder="Hi there, I would like to ..." data-constraints="@Required"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit" name="send">Get Started</button>
                                    <div class="snackbars" id="form-output-global"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="border-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">01</h2>
                                <h5 class="mb-3">Head Office</h5>
                                <p>2 Embarcadero Center,<br> San Francisco,<br> CA 94111 USA</p>
                                <div class="pt-2">
                                    <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Location</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 bg-gray-100">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">02</h2>
                                <h5 class="mb-3">Billing information</h5>
                                <p>2 Embarcadero Center,<br> San Francisco,<br> CA 94111 USA</p>
                                <div class="pt-2">
                                    <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Location</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">03</h2>
                                <h5 class="mb-3">General contact</h5>
                                <p>info@domainname.com<br>support@domainname.com</p>
                                <p>+01 3232 3232 3232 <br> +44 023 3232 3232</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 bg-gray-100">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">04</h2>
                                <h5 class="mb-3">Social networks</h5>
                                <p class="mb-2"><a class="link-effect-02 text-primary ls-2 fw-700 text-uppercase fs-sm" href="#">Facebook</a></p>
                                <p class="mb-2"><a class="link-effect-02 text-primary ls-2 fw-700 text-uppercase fs-sm" href="#">Twitter</a></p>
                                <p class="mb-2"><a class="link-effect-02 text-primary ls-2 fw-700 text-uppercase fs-sm" href="#">Instagram</a></p>
                                <p class="mb-2"><a class="link-effect-02 text-primary ls-2 fw-700 text-uppercase fs-sm" href="#">linkedin</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_corporate_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>