<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap",
        "CSSName": "corporate",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_corporate_header.html',{
        "path": "",
        "HeaderClass": "bg-body",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row gy-4 justify-content-between">
                        <div class="col-lg-6">
                            <h6 class="text-primary position-relative d-inline-block px-3 py-2 mb-5 ls-2 fw-400"> <span class="position-absolute top-0 start-0 bottom-0 bg-primary bg-opacity-10 w-25"></span> Services</h6>
                            <h1 class="fw-300 display-4">Embrace the <span class="fw-600">disruption with</span> Technology.</h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <div>
                <img class="w-100" src="../assets/img/corporate/banner-01.jpg" title="" alt="">
            </div>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-5">
                            <h2 class="display-4 fw-300">Complex <br><span class="fw-700">Development</span><br> Programs</h2>
                        </div>
                        <div class="col-lg-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <div class="pt-3 pt-lg-3">
                                <a href="#" class="btn btn-hover-icon btn-primary">
                                    <span class="btn-text">Let's Started today</span>
                                    <span class="btn-icon"><i class="bi-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3 border">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">01</h2>
                                <h5 class="mb-3">Close deals with prospects faster</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="pt-2">
                                    <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 border">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">02</h2>
                                <h5 class="mb-3">Build stronger customer relationships</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="pt-2">
                                    <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 border">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">03</h2>
                                <h5 class="mb-3">Resolve customer issues faster</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="pt-2">
                                    <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 border">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">04</h2>
                                <h5 class="mb-3">Work faster with agency partners</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="pt-2">
                                    <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 border">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">05</h2>
                                <h5 class="mb-3">Close deals with prospects faster</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="pt-2">
                                    <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 border">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">06</h2>
                                <h5 class="mb-3">Build stronger customer relationships</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="pt-2">
                                    <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 border">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">07</h2>
                                <h5 class="mb-3">Resolve customer issues faster</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="pt-2">
                                    <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 border">
                            <div class="p-xxl-6 p-xl-5 p-lg-4 p-3">
                                <h2 class="text-primary mb-5">08</h2>
                                <h5 class="mb-3">Work faster with agency partners</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="pt-2">
                                    <a class="link-effect-02 text-mode ls-2 fw-700 text-uppercase fs-sm" href="#">Lear More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading">
                        <div class="col-lg-6">
                            <h2 class="display-5 fw-300">Meet our <span class="fw-700">Leadership Team</span></h2>
                        </div>
                    </div>
                    <div class="swiper-hover-arrow">
                        <div class="swiper swiper-container" data-swiper-options='{
                          "slidesPerView": 1.5,
                              "spaceBetween": 10,
                              "navigation": {
                                "nextEl": ".swiper-next-02",
                                "prevEl": ".swiper-prev-02"
                              },
                              "breakpoints": {
                                "600": {
                                  "slidesPerView": 2.5
                                },
                                "991": {
                                  "slidesPerView": 3,
                                  "spaceBetween": 15
                                },
                                "1200": {
                                  "slidesPerView": 4,
                                  "spaceBetween": 30
                                }
                              }
                        }'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="hover-scale">
                                        <div class="hover-scale-in">
                                            <img src="../assets/img/avatar/01.jpg" title="" alt="">
                                        </div>
                                        <div class="pt-3 lh-sm fs-sm">
                                            <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                            <span class="fs-xs">Co-founder</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale">
                                        <div class="hover-scale-in">
                                            <img src="../assets/img/avatar/02.jpg" title="" alt="">
                                        </div>
                                        <div class="pt-3 lh-sm fs-sm">
                                            <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                            <span class="fs-xs">Co-founder</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale">
                                        <div class="hover-scale-in">
                                            <img src="../assets/img/avatar/03.jpg" title="" alt="">
                                        </div>
                                        <div class="pt-3 lh-sm fs-sm">
                                            <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                            <span class="fs-xs">Co-founder</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale">
                                        <div class="hover-scale-in">
                                            <img src="../assets/img/avatar/04.jpg" title="" alt="">
                                        </div>
                                        <div class="pt-3 lh-sm fs-sm">
                                            <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                            <span class="fs-xs">Co-founder</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale">
                                        <div class="hover-scale-in">
                                            <img src="../assets/img/avatar/05.jpg" title="" alt="">
                                        </div>
                                        <div class="pt-3 lh-sm fs-sm">
                                            <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                            <span class="fs-xs">Co-founder</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale">
                                        <div class="hover-scale-in">
                                            <img src="../assets/img/avatar/06.jpg" title="" alt="">
                                        </div>
                                        <div class="pt-3 lh-sm fs-sm">
                                            <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                            <span class="fs-xs">Co-founder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-arrow-style-02 swiper-prev swiper-prev-02"><i class="bi bi-chevron-left"></i></div>
                            <div class="swiper-arrow-style-02 swiper-next swiper-next-02"><i class="bi bi-chevron-right"></i></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-md-9 text-center text-md-start">
                            <h3 class="fw-300 display-4 m-0">Here are some of the <span class="fw-700">benefits</span> of choosing our <span class="fw-700">custom development</span> and testing services:</h3>
                            <div class="pt-5">
                                <a href="#" class="btn btn-hover-icon btn-primary btn-lg">
                                    <span class="btn-text">Let's Started today</span>
                                    <span class="btn-icon"><i class="bi-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_corporate_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>