<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap",
        "CSSName": "corporate",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_corporate_header.html',{
        "path": "",
        "HeaderClass": "bg-body",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row gy-4 justify-content-between">
                        <div class="col-lg-6">
                            <h6 class="text-primary position-relative d-inline-block px-3 py-2 mb-5 ls-2 fw-400"> <span class="position-absolute top-0 start-0 bottom-0 bg-primary bg-opacity-10 w-25"></span> Our Team</h6>
                            <h1 class="fw-300 display-4">Our People <span class="fw-600">Drives Us</span></h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <div>
                <img src="../assets/img/corporate/banner-01.jpg" title="" alt="">
            </div>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading">
                        <div class="col-lg-6">
                            <h2 class="display-5 fw-300">Meet our <span class="fw-700">Leadership Team</span></h2>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/01.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/02.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/03.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/04.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/05.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/06.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/07.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/08.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/09.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/04.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/05.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/avatar/06.jpg" title="" alt="">
                                </div>
                                <div class="pt-3 lh-sm fs-sm">
                                    <h6 class="m-0 text-uppercase ls-1 fs-sm">Jenna Ortega</h6>
                                    <span class="fs-xs">Co-founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-md-9 text-center text-md-start">
                            <h3 class="fw-300 display-4 m-0">Here are some of the <span class="fw-700">benefits</span> of choosing our <span class="fw-700">custom development</span> and testing services:</h3>
                            <div class="pt-5">
                                <a href="#" class="btn btn-hover-icon btn-primary btn-lg">
                                    <span class="btn-text">Let's Started today</span>
                                    <span class="btn-icon"><i class="bi-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_corporate_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>