<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap",
        "CSSName": "restaurant",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
========================
Wrapper 
========================
-->
    <div class="wrapper">
        
        @@include('./header/_restaurant_header.html',{
        "path": "",
        "HeaderClass": "",
        })
        
        <!-- Main -->
        <main>
            @@include('./page-heading/_page-heading-02.html', {
                "titleSm": "THE STORY BEHIND",
                "title": "About Us",
            })
            <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center gy-4 pb-5">
                        <div class="col-lg-5">
                            <p class="fs-1 text-mode lh-sm text-lg-end">Hi! Our Restaurant has been present for over 15 years in the market. We make the most of all our customers.</p>
                        </div>
                        <div class="col-lg-7 ps-lg-8">
                            <div class="row gx-sm-8">
                                <div class="col-sm-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3" data-masonry='{"percentPosition": true }'>
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/restrourent/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/restrourent/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/restrourent/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/restrourent/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/restrourent/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/restrourent/about-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- section -->
            <section class="section position-relative" style="background-image: url(../assets/img/restrourent/home-banner-3.jpg);">
                <div class="position-absolute opacity-60 top-0 end-0 start-0 bottom-0 bg-black"></div>
                <div class="container position-relative">
                    <div class="row align-items-center gy-5">
                        <div class="col-lg-8">
                            <p class="text-white">SPECIALISTS</p>
                            <h3 class="display-3 text-white m-0">We create delicious experiences</h3>
                        </div>
                        <div class="col-lg-4 text-center">
                            <a href="https://www.youtube.com/watch?v=ZXEC0IrOWGk" class="icon-xl btn btn-primary p-0 rounded-circle after-shadow video-btn">
                                <i class="bi-play-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading justify-content-center">
                        <div class="col-lg-8 text-center">
                            <p class="text-primary title-01 m-0">SPECIALISTS</p>
                            <h3 class="h1 pt-1 m-0">Our Special Masterchef</h3>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/restrourent/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="h5 mb-1">Toni kroos</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/restrourent/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="h5 mb-1">Toni kroos</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/restrourent/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="h5 mb-1">Toni kroos</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/restrourent/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="h5 mb-1">Toni kroos</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- section -->
            <section class="section bg-dark">
                <div class="container">
                    <div class="swiper swiper-container" data-swiper-options='{
                        "slidesPerView": 1,
                        "spaceBetween": 0,
                        "loop": true,
                        "pagination": {
                            "el": ".swiper-pagination",
                            "clickable": true
                        },
                        "autoplay": {
                            "delay": 5000,
                            "disableOnInteraction": false
                        }
                    }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="px-md-10 text-center">
                                    <p class="h1 text-white mb-5">I was looking for a modern HTML/Bootstrap template for my project and after exhausting research on the internet finally, find the Mombo Theme”. It is classic, light, and well documented.</p>
                                    <h6 class="m-0 text-white h4">Nancy Drew</h6>
                                    <span class="text-white">Co-Founder</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="px-md-10 text-center">
                                    <p class="h1 text-white mb-5">I was looking for a modern HTML/Bootstrap template for my project and after exhausting research on the internet finally, find the Mombo Theme”. It is classic, light, and well documented.</p>
                                    <h6 class="m-0 text-white h4">Nancy Drew</h6>
                                    <span class="text-white">Co-Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination light position-relative mt-5"></div>
                    </div>
                </div>
            </section>
            <!-- end section -->
             <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading justify-content-center">
                        <div class="col-lg-8 text-center">
                            <p class="text-primary title-01 m-0">CONTACT</p>
                            <h3 class="h1 pt-1 m-0">Make a Reservation</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="card shadow-none">
                                <div class="card-body">
                                    <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="../assets/vendor/mail/bat/rd-mailform.php">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                    <label class="form-label" for="contact-name">Your Name</label>
                                                    <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label class="form-label" for="contact-email">Email Address</label>
                                                    <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label" for="contact-phone">Phone (optional)</label>
                                                    <input type="tel" name="contact-phone" class="form-control" placeholder="+01 888 888 6666" id="contact-phone">
                                                </div>
                                            </div>
                                            <div class="col-md-6 d-flex flex-row">
                                                <div class="form-group w-100 d-flex flex-column">
                                                    <label class="form-label" for="contact-message">Message</label>
                                                    <textarea class="form-control min-h-150px h-100 w-100" id="contact-message" name="message" rows="3" placeholder="Hi there, I would like to ..." data-constraints="@Required" style="height: 150px"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12 pt-2 text-center">
                                                <button class="btn btn-primary" type="submit" name="send">Book Your Table</button>
                                                <div class="snackbars" id="form-output-global"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_restaurant_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
========================
End Wrapper 
========================
-->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>