<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap",
        "CSSName": "restaurant",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
========================
Wrapper 
========================
-->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_restaurant_header.html',{
        "path": "",
        "HeaderClass": "",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
             <!-- Home Slider -->
             <div class="swiper swiper-restaurant-home bg-dark">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="bg-cover bg-no-repeat effect-section" style="background-image: url(../assets/img/restrourent/home-banner-1.jpg);">
                            <div class="mask bg-dark opacity-40"></div>
                            <div class="container position-relative px-5 px-lg-3">
                                <div class="row min-vh-100 align-items-center py-12 justify-content-center">
                                    <div class="col-lg-8 col-xl-9 pt-8 text-center">
                                        <h6 class="text-white pb-3">PROMOTION </h6>
                                        <h1 class="display-2 mb-3 text-white lh-1">Amazing Table with River View & lot of Menus </h1>
                                        <div class="">
                                            <p class="fs-5 text-white opacity-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        </div>
                                        <div class="pt-2">
                                            <a class="btn btn-outline-light me-2" href="#">Book Your Table</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-cover bg-no-repeat effect-section" style="background-image: url(../assets/img/restrourent/home-banner-2.jpg);">
                            <div class="mask bg-dark opacity-40"></div>
                            <div class="container position-relative px-5 px-lg-3">
                                <div class="row min-vh-100 align-items-center py-12 justify-content-center">
                                    <div class="col-lg-8 col-xl-9 pt-8 text-center">
                                        <h6 class="text-white pb-3">PROMOTION </h6>
                                        <h1 class="display-2 mb-3 text-white lh-1">Amazing Table with River View & lot of Menus </h1>
                                        <div class="">
                                            <p class="fs-5 text-white opacity-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        </div>
                                        <div class="pt-2">
                                            <a class="btn btn-outline-light me-2" href="#">Book Your Table</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-arrow-style-02 swiper-next swiper-next-01"><i class="bi bi-chevron-right"></i> </div>
                <div class="swiper-arrow-style-02 swiper-prev swiper-prev-01"><i class="bi bi-chevron-left"></i></div>
            </div>
            <!-- End Home Slider -->
            <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row align-items-center gy-5">
                        <div class="col-lg-5 pe-xl-8">
                            <h3 class="h1">Hello.<br /> Our structure has been present for over <span class="text-primary">15 years</span>. We make the best !</h3>
                            <p class="lead">Simple and balanced. Alexander Petillo brings together flavors and specialties</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            <div class="pt-2">
                                <a class="btn btn-primary me-2" href="#">Book Table</a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-6">
                                    <img src="../assets/img/restrourent/about-1.jpg" title="" alt="">
                                </div>
                                <div class="col-6">
                                    <img src="../assets/img/restrourent/about-1.jpg" title="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- section -->
            <section class="section position-relative" style="background-image: url(../assets/img/restrourent/home-banner-3.jpg);">
                <div class="position-absolute opacity-60 top-0 end-0 start-0 bottom-0 bg-black"></div>
                <div class="container position-relative">
                    <div class="row align-items-center gy-5">
                        <div class="col-lg-8">
                            <p class="text-white">COME AND SEE</p>
                            <h3 class="display-3 text-white m-0">We create delicious experiences</h3>
                        </div>
                        <div class="col-lg-4 text-center">
                            <a href="https://www.youtube.com/watch?v=ZXEC0IrOWGk" class="icon-xl btn btn-primary p-0 rounded-circle after-shadow video-btn">
                                <i class="bi-play-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading justify-content-center">
                        <div class="col-lg-8 text-center">
                            <p class="text-primary title-01 m-0">DISCOVER</p>
                            <h3 class="h1 pt-1">SELECTED MENU</h3>
                        </div>
                    </div>
                    <div class="row gx-md-10">
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li class="pb-4">
                                    <div class="d-flex align-items-baseline pb-2">
                                        <h6 class="m-0 pe-4 h5 text-primary">STEAK TARTARE BUTTER</h6>
                                        <span class="border-bottom flex-grow-1"></span>
                                        <span class="ps-4 h5 m-0">$120</span>
                                    </div>
                                    <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                </li>
                                <li class="pb-4">
                                    <div class="d-flex align-items-baseline pb-2">
                                        <h6 class="m-0 pe-4 h5 text-primary">SOUP OF CONSOMME</h6>
                                        <span class="border-bottom flex-grow-1"></span>
                                        <span class="ps-4 h5 m-0">$120</span>
                                    </div>
                                    <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                </li>
                                <li class="pb-4">
                                    <div class="d-flex align-items-baseline pb-2">
                                        <h6 class="m-0 pe-4 h5 text-primary">CHICKEN WITH PEANUTS</h6>
                                        <span class="border-bottom flex-grow-1"></span>
                                        <span class="ps-4 h5 m-0">$120</span>
                                    </div>
                                    <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                </li>
                                <li class="pb-4">
                                    <div class="d-flex align-items-baseline pb-2">
                                        <h6 class="m-0 pe-4 h5 text-primary">HERBED LAMB STEAKS</h6>
                                        <span class="border-bottom flex-grow-1"></span>
                                        <span class="ps-4 h5 m-0">$120</span>
                                    </div>
                                    <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                </li>
                                <li class="pb-4">
                                    <div class="d-flex align-items-baseline pb-2">
                                        <h6 class="m-0 pe-4 h5 text-primary">RISOTTO WITH SEAFOOD</h6>
                                        <span class="border-bottom flex-grow-1"></span>
                                        <span class="ps-4 h5 m-0">$120</span>
                                    </div>
                                    <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li class="pb-4">
                                    <div class="d-flex align-items-baseline pb-2">
                                        <h6 class="m-0 pe-4 h5 text-primary">STEAK TARTARE BUTTER</h6>
                                        <span class="border-bottom flex-grow-1"></span>
                                        <span class="ps-4 h5 m-0">$120</span>
                                    </div>
                                    <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                </li>
                                <li class="pb-4">
                                    <div class="d-flex align-items-baseline pb-2">
                                        <h6 class="m-0 pe-4 h5 text-primary">SOUP OF CONSOMME</h6>
                                        <span class="border-bottom flex-grow-1"></span>
                                        <span class="ps-4 h5 m-0">$120</span>
                                    </div>
                                    <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                </li>
                                <li class="pb-4">
                                    <div class="d-flex align-items-baseline pb-2">
                                        <h6 class="m-0 pe-4 h5 text-primary">CHICKEN WITH PEANUTS</h6>
                                        <span class="border-bottom flex-grow-1"></span>
                                        <span class="ps-4 h5 m-0">$120</span>
                                    </div>
                                    <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                </li>
                                <li class="pb-4">
                                    <div class="d-flex align-items-baseline pb-2">
                                        <h6 class="m-0 pe-4 h5 text-primary">HERBED LAMB STEAKS</h6>
                                        <span class="border-bottom flex-grow-1"></span>
                                        <span class="ps-4 h5 m-0">$120</span>
                                    </div>
                                    <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                </li>
                                <li class="pb-4">
                                    <div class="d-flex align-items-baseline pb-2">
                                        <h6 class="m-0 pe-4 h5 text-primary">RISOTTO WITH SEAFOOD</h6>
                                        <span class="border-bottom flex-grow-1"></span>
                                        <span class="ps-4 h5 m-0">$120</span>
                                    </div>
                                    <p class="m-0">Simple and balanced. Alexander Petillo</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- section -->
            <section class="section position-relative" style="background-image: url(../assets/img/restrourent/home-banner-4.jpg);">
                <div class="position-absolute opacity-60 top-0 end-0 start-0 bottom-0 bg-black"></div>
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 text-center">
                            <p class="text-white title-01 m-0">COME AND SEE</p>
                            <h3 class="display-3 text-white pt-2 m-0 lh-1">We create delicious experiences</h3>
                            <div class="pt-4">
                                <a class="btn btn-outline-light me-2" href="#">Book Your Table</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row gy-5 align-items-center">
                        <div class="col-lg-5 pe-xl-10">
                            <p class="text-primary title-01 m-0">COME AND SEE</p>
                            <h3 class="h1 mb-4 pt-3">Our excellent service and top quality dishes are unmatched. Pick the best. </h3>
                            <p class="lead">Simple and balanced. Alexander Petillo brings together flavors and specialties</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            <div class="pt-2">
                                <img src="../assets/img/restrourent/signature.png" title="" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row align-items-center g-0">
                                <div class="col-6">
                                    <img src="../assets/img/restrourent/about-1.jpg" title="" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="ms-n5 ms-lg-n10" src="../assets/img/restrourent/about-1.jpg" title="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- section -->
            <section class="section bg-dark">
                <div class="container">
                    <div class="swiper swiper-container" data-swiper-options='{
                        "slidesPerView": 1,
                        "spaceBetween": 0,
                        "loop": true,
                        "pagination": {
                            "el": ".swiper-pagination",
                            "clickable": true
                        },
                        "autoplay": {
                            "delay": 5000,
                            "disableOnInteraction": false
                        }
                    }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="px-md-10 text-center">
                                    <p class="h1 text-white mb-5">I was looking for a modern HTML/Bootstrap template for my project and after exhausting research on the internet finally, find the Mombo Theme”. It is classic, light, and well documented.</p>
                                    <h6 class="m-0 text-white h4">Nancy Drew</h6>
                                    <span class="text-white">Co-Founder</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="px-md-10 text-center">
                                    <p class="h1 text-white mb-5">I was looking for a modern HTML/Bootstrap template for my project and after exhausting research on the internet finally, find the Mombo Theme”. It is classic, light, and well documented.</p>
                                    <h6 class="m-0 text-white h4">Nancy Drew</h6>
                                    <span class="text-white">Co-Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination position-relative light mt-5"></div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading justify-content-center">
                        <div class="col-lg-8 text-center">
                            <p class="text-primary title-01 m-0">CONTACT</p>
                            <h3 class="h1 pt-1 m-0">Make a Reservation</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="card shadow-none">
                                <div class="card-body">
                                    <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="../assets/vendor/mail/bat/rd-mailform.php">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <div class="form-group mb-3">
                                                    <label class="form-label" for="contact-name">Your Name</label>
                                                    <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label class="form-label" for="contact-email">Email Address</label>
                                                    <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label" for="contact-phone">Phone (optional)</label>
                                                    <input type="tel" name="contact-phone" class="form-control" placeholder="+01 888 888 6666" id="contact-phone">
                                                </div>
                                            </div>
                                            <div class="col-md-6 d-flex flex-row">
                                                <div class="form-group w-100 d-flex flex-column">
                                                    <label class="form-label" for="contact-message">Message</label>
                                                    <textarea class="form-control min-h-150px h-100 w-100" id="contact-message" name="message" rows="3" placeholder="Hi there, I would like to ..." data-constraints="@Required" style="height: 150px"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12 pt-2 text-center">
                                                <button class="btn btn-primary" type="submit" name="send">Book Your Table</button>
                                                <div class="snackbars" id="form-output-global"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- Section -->
            <div class="">
                <div class="container-fluid py-2">
                    <div class="swiper swiper-container" data-swiper-options='{
                        "slidesPerView": 3,
                        "spaceBetween": 10,
                        "loop": true,
                        "breakpoints": {
                            "650": {
                                "slidesPerView": 4
                            },
                            "991": {
                                "slidesPerView": 5
                            },
                            "1024": {
                                "slidesPerView": 7
                            }
                        }
                    }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="hover-scale">
                                    <div class="hover-scale-in">
                                        <a href="#"><img src="../assets/img/restrourent/about-1.jpg" title="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hover-scale">
                                    <div class="hover-scale-in">
                                        <a href="#"><img src="../assets/img/restrourent/about-1.jpg" title="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hover-scale">
                                    <div class="hover-scale-in">
                                        <a href="#"><img src="../assets/img/restrourent/about-1.jpg" title="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hover-scale">
                                    <div class="hover-scale-in">
                                        <a href="#"><img src="../assets/img/restrourent/about-1.jpg" title="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hover-scale">
                                    <div class="hover-scale-in">
                                        <a href="#"><img src="../assets/img/restrourent/about-1.jpg" title="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hover-scale">
                                    <div class="hover-scale-in">
                                        <a href="#"><img src="../assets/img/restrourent/about-1.jpg" title="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hover-scale">
                                    <div class="hover-scale-in">
                                        <a href="#"><img src="../assets/img/restrourent/about-1.jpg" title="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hover-scale">
                                    <div class="hover-scale-in">
                                        <a href="#"><img src="../assets/img/restrourent/about-1.jpg" title="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hover-scale">
                                    <div class="hover-scale-in">
                                        <a href="#"><img src="../assets/img/restrourent/about-1.jpg" title="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_restaurant_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
========================
End Wrapper 
========================
-->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <script type="text/javascript">
        var swiper = new Swiper(".swiper-restaurant-home", {
            grabCursor: true,
            effect: "creative",
            loop: true,
            creativeEffect: {
                prev: {
                    shadow: true,
                    translate: ["-120%", 0, -500],
                },
                next: {
                    shadow: true,
                    translate: ["120%", 0, -500],
                },
            },
            navigation: {
                nextEl: ".swiper-next-01",
                prevEl: ".swiper-prev-01",
            },
        });
    </script>
    <!-- End script start -->
</body>

</html>