<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap",
        "CSSName": "marketing",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_marketing_header.html',{
        "path": "",
        "HeaderClass": "border-bottom border-white border-opacity-10",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="parallax pt-10" style="background-image: url(../assets/img/marketing/home-banner.jpg)">
                <div class="position-absolute top-0 end-0 start-0 bottom-0 bg-black bg-opacity-80"></div>
                <div class="container position-relative">
                    <div class="row gy-4 py-6 py-lg-10 align-items-center">
                        <div class="col-md-8 text-center text-md-start">
                            <h1 class="display-5 text-white mb-4">Projects</h1>
                        </div>
                        <div class="col-md-4">
                            <ol class="breadcrumb breadcrumb-light m-0 justify-content-center justify-content-md-end">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Projects</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-sm-6 col-lg-3">
                            <div class="position-relative rounded-3 overflow-hidden hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/marketing/project-1.jpg" title="" alt="">
                                </div>
                                <h6 class="text-white position-absolute top-0 start-0 ms-4 mt-4">Facebook</h6>
                                <h6 class="text-white position-absolute bottom-0 start-0 h4 end-0 p-3 bg-black-gradient-reverse bg-opacity-80 m-0">
                                    <a class="link-effect-03-2x text-white" href="#">Marketing - How to growp online with reels?</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="position-relative rounded-3 overflow-hidden hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/marketing/project-1.jpg" title="" alt="">
                                </div>
                                <h6 class="text-white position-absolute top-0 start-0 ms-4 mt-4">Facebook</h6>
                                <h6 class="text-white position-absolute bottom-0 start-0 h4 end-0 p-3 bg-black-gradient-reverse bg-opacity-80 m-0">
                                    <a class="link-effect-03-2x text-white" href="#">Marketing - How to growp online with reels?</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="position-relative rounded-3 overflow-hidden hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/marketing/project-1.jpg" title="" alt="">
                                </div>
                                <h6 class="text-white position-absolute top-0 start-0 ms-4 mt-4">Facebook</h6>
                                <h6 class="text-white position-absolute bottom-0 start-0 h4 end-0 p-3 bg-black-gradient-reverse bg-opacity-80 m-0">
                                    <a class="link-effect-03-2x text-white" href="#">Marketing - How to growp online with reels?</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="position-relative rounded-3 overflow-hidden hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/marketing/project-1.jpg" title="" alt="">
                                </div>
                                <h6 class="text-white position-absolute top-0 start-0 ms-4 mt-4">Facebook</h6>
                                <h6 class="text-white position-absolute bottom-0 start-0 h4 end-0 p-3 bg-black-gradient-reverse bg-opacity-80 m-0">
                                    <a class="link-effect-03-2x text-white" href="#">Marketing - How to growp online with reels?</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="position-relative rounded-3 overflow-hidden hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/marketing/project-1.jpg" title="" alt="">
                                </div>
                                <h6 class="text-white position-absolute top-0 start-0 ms-4 mt-4">Facebook</h6>
                                <h6 class="text-white position-absolute bottom-0 start-0 h4 end-0 p-3 bg-black-gradient-reverse bg-opacity-80 m-0">
                                    <a class="link-effect-03-2x text-white" href="#">Marketing - How to growp online with reels?</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="position-relative rounded-3 overflow-hidden hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/marketing/project-1.jpg" title="" alt="">
                                </div>
                                <h6 class="text-white position-absolute top-0 start-0 ms-4 mt-4">Facebook</h6>
                                <h6 class="text-white position-absolute bottom-0 start-0 h4 end-0 p-3 bg-black-gradient-reverse bg-opacity-80 m-0">
                                    <a class="link-effect-03-2x text-white" href="#">Marketing - How to growp online with reels?</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="position-relative rounded-3 overflow-hidden hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/marketing/project-1.jpg" title="" alt="">
                                </div>
                                <h6 class="text-white position-absolute top-0 start-0 ms-4 mt-4">Facebook</h6>
                                <h6 class="text-white position-absolute bottom-0 start-0 h4 end-0 p-3 bg-black-gradient-reverse bg-opacity-80 m-0">
                                    <a class="link-effect-03-2x text-white" href="#">Marketing - How to growp online with reels?</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="position-relative rounded-3 overflow-hidden hover-scale">
                                <div class="hover-scale-in">
                                    <img src="../assets/img/marketing/project-1.jpg" title="" alt="">
                                </div>
                                <h6 class="text-white position-absolute top-0 start-0 ms-4 mt-4">Facebook</h6>
                                <h6 class="text-white position-absolute bottom-0 start-0 h4 end-0 p-3 bg-black-gradient-reverse bg-opacity-80 m-0">
                                    <a class="link-effect-03-2x text-white" href="#">Marketing - How to growp online with reels?</a>
                                </h6>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section pt-0">
                <div class="container">
                    <div class="section-heading">
                        <h2 class="h1 display-4">Our<br>Testimonials</h2>
                    </div>
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="border p-4 rounded-3">
                                <div class="d-flex align-items-center pb-4">
                                    <div class="avatar-xl">
                                        <img class="avatar-img rounded-3" src="../assets/img/avatar/01.jpg" title="" alt="">
                                    </div>
                                    <div class="col ps-4">
                                        <h5 class="m-0">jenna ortega</h5>
                                        <span>Co-Founder & CEO</span>
                                    </div>
                                </div>
                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="border p-4 rounded-3">
                                <div class="d-flex align-items-center pb-4">
                                    <div class="avatar-xl">
                                        <img class="avatar-img rounded-3" src="../assets/img/avatar/02.jpg" title="" alt="">
                                    </div>
                                    <div class="col ps-4">
                                        <h5 class="m-0">jenna ortega</h5>
                                        <span>Co-Founder & CEO</span>
                                    </div>
                                </div>
                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_marketing_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>