<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap",
        "CSSName": "marketing",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_marketing_header.html',{
        "path": "",
        "HeaderClass": "border-bottom border-white border-opacity-10",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="parallax pt-10" style="background-image: url(../assets/img/marketing/banner-01.jpg)">
                <div class="position-absolute top-0 end-0 start-0 bottom-0 bg-black bg-opacity-80"></div>
                <div class="container position-relative">
                    <div class="row gy-4 py-6 py-lg-10 align-items-center">
                        <div class="col-md-8 text-center text-md-start">
                            <h1 class="display-5 text-white mb-4">Services</h1>
                        </div>
                        <div class="col-md-4">
                            <ol class="breadcrumb breadcrumb-light m-0 justify-content-center justify-content-md-end">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Services</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-between gy-5">
                        <div class="col-md-8">
                            <h6 class="text-primary mb-3">Our Best Services</h6>
                            <h2 class="display-3">Offering A Variety Of High-End Services</h2>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="overflow-hidden">
                <div class="container">
                    <img class="img-w-lg-130" src="../assets/img/marketing/banner-01.jpg">
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container accordion-style-01">
                    <div class="accordion accordion-flush" id="accordion_services">
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <span class="h2 m-0 col-md-5">Web Design</span>
                                    <span class="fw-400 col-md-7 d-none d-md-block text-body text-uppercase">Let's check in Details</span>
                                    <span class="accordion-icon"></span>
                                </button>
                            </div>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion_services">
                                <div class="accordion-body">
                                    <div class="row g-0 justify-content-md-end">
                                        <div class="col-md-7">
                                            <div class="s-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <span class="h2 m-0 col-md-5">UI/UX Design</span>
                                    <span class="fw-400 col-md-7 d-none d-md-block text-body text-uppercase">Let's check in Details</span>
                                    <span class="accordion-icon"></span>
                                </button>
                            </div>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion_services">
                                <div class="accordion-body">
                                    <div class="row g-0 justify-content-md-end">
                                        <div class="col-md-7">
                                            <div class="s-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <span class="h2 m-0 col-md-5">Mobile Application</span>
                                    <span class="fw-400 col-md-7 d-none d-md-block text-body text-uppercase">Let's check in Details</span>
                                    <span class="accordion-icon"></span>
                                </button>
                            </div>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion_services">
                                <div class="accordion-body">
                                    <div class="row g-0 justify-content-md-end">
                                        <div class="col-md-7">
                                            <div class="s-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                                    <span class="h2 m-0 col-md-5">User research</span>
                                    <span class="fw-400 col-md-7 d-none d-md-block text-body text-uppercase">Let's check in Details</span>
                                    <span class="accordion-icon"></span>
                                </button>
                            </div>
                            <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordion_services">
                                <div class="accordion-body">
                                    <div class="row g-0 justify-content-md-end">
                                        <div class="col-md-7">
                                            <div class="s-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section pt-0 overflow-hidden">
                <div class="container">
                    <div class="section-heading">
                        <h2 class="h1 display-4">Meet our<br> Leadership</h2>
                    </div>
                    <div class="swiper-hover-arrow">
                        <div class="swiper swiper-container swiper-no-scroll" data-swiper-options='{
                          "slidesPerView": 1.5,
                              "spaceBetween": 10,
                              "navigation": {
                                "nextEl": ".swiper-next-02",
                                "prevEl": ".swiper-prev-02"
                              },
                              "breakpoints": {
                                "600": {
                                  "slidesPerView": 2.5
                                },
                                "991": {
                                  "slidesPerView": 4,
                                  "spaceBetween": 15
                                },
                                "1200": {
                                  "slidesPerView": 5,
                                  "spaceBetween": 30
                                }
                              }
                        }'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="hover-scale text-center border rounded-3 p-4">
                                        <div class="hover-scale-in rounded-circle overflow-hidden avatar-xxxl mb-4">
                                            <img class="avatar-img" src="../assets/img/avatar/01.jpg" title="" alt="">
                                        </div>
                                        <h5 class="mb-1">Jenna Ortega</h5>
                                        <span class="fs-sm">Co Founder</span>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale text-center border rounded-3 p-4">
                                        <div class="hover-scale-in rounded-circle overflow-hidden avatar-xxxl mb-4">
                                            <img class="avatar-img" src="../assets/img/avatar/02.jpg" title="" alt="">
                                        </div>
                                        <h5 class="mb-1">Jenna Ortega</h5>
                                        <span class="fs-sm">Co Founder</span>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale text-center border rounded-3 p-4">
                                        <div class="hover-scale-in rounded-circle overflow-hidden avatar-xxxl mb-4">
                                            <img class="avatar-img" src="../assets/img/avatar/03.jpg" title="" alt="">
                                        </div>
                                        <h5 class="mb-1">Jenna Ortega</h5>
                                        <span class="fs-sm">Co Founder</span>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale text-center border rounded-3 p-4">
                                        <div class="hover-scale-in rounded-circle overflow-hidden avatar-xxxl mb-4">
                                            <img class="avatar-img" src="../assets/img/avatar/04.jpg" title="" alt="">
                                        </div>
                                        <h5 class="mb-1">Jenna Ortega</h5>
                                        <span class="fs-sm">Co Founder</span>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale text-center border rounded-3 p-4">
                                        <div class="hover-scale-in rounded-circle overflow-hidden avatar-xxxl mb-4">
                                            <img class="avatar-img" src="../assets/img/avatar/05.jpg" title="" alt="">
                                        </div>
                                        <h5 class="mb-1">Jenna Ortega</h5>
                                        <span class="fs-sm">Co Founder</span>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale text-center border rounded-3 p-4">
                                        <div class="hover-scale-in rounded-circle overflow-hidden avatar-xxxl mb-4">
                                            <img class="avatar-img" src="../assets/img/avatar/06.jpg" title="" alt="">
                                        </div>
                                        <h5 class="mb-1">Jenna Ortega</h5>
                                        <span class="fs-sm">Co Founder</span>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale text-center border rounded-3 p-4">
                                        <div class="hover-scale-in rounded-circle overflow-hidden avatar-xxxl mb-4">
                                            <img class="avatar-img" src="../assets/img/avatar/07.jpg" title="" alt="">
                                        </div>
                                        <h5 class="mb-1">Jenna Ortega</h5>
                                        <span class="fs-sm">Co Founder</span>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale text-center border rounded-3 p-4">
                                        <div class="hover-scale-in rounded-circle overflow-hidden avatar-xxxl mb-4">
                                            <img class="avatar-img" src="../assets/img/avatar/08.jpg" title="" alt="">
                                        </div>
                                        <h5 class="mb-1">Jenna Ortega</h5>
                                        <span class="fs-sm">Co Founder</span>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hover-scale text-center border rounded-3 p-4">
                                        <div class="hover-scale-in rounded-circle overflow-hidden avatar-xxxl mb-4">
                                            <img class="avatar-img" src="../assets/img/avatar/09.jpg" title="" alt="">
                                        </div>
                                        <h5 class="mb-1">Jenna Ortega</h5>
                                        <span class="fs-sm">Co Founder</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-arrow-style-02 swiper-prev swiper-prev-02"><i class="bi bi-chevron-left"></i></div>
                            <div class="swiper-arrow-style-02 swiper-next swiper-next-02"><i class="bi bi-chevron-right"></i></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section pt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <h6 class="text-primary mb-5">Who we are?</h6>
                            <h2 class="display-5 m-0"><span class="mark">Marketing agencies</span> can <span class="avatar-lg"><img class="avatar-img rounded-circle" src="../assets/img/avatar/02.jpg"></span> help you create and <span class="text-primary">distribute</span> content that will <span class="text-primary">attract</span> and engage <span class="avatar-lg"><img class="avatar-img rounded-circle" src="../assets/img/avatar/04.jpg"></span> your target audience.</h2>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section position-relative">
                <div class="bg-effect-mode position-absolute top-0 end-0 start-0 bottom-0 opacity-10" style="background-image: url(../assets/img/effect/dot-effect-01.svg);"></div>
                <div class="container position-relative">
                    <div class="section-heading">
                        <h6 class="text-primary mb-3">Blog</h6>
                        <h2 class="display-3">Latest<br> Updates</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="hover-scale">
                                <div class="hover-scale-in position-relative rounded-3">
                                    <div class="position-absolute top-0 start-0 mt-3 ms-3 z-1">
                                        <span class="px-4 py-2 bg-primary rounded-pill text-white fs-sm">Marketing</span>
                                    </div>
                                    <a href="#">
                                        <img src="../assets/img/marketing/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="bg-mode-re p-3 p-lg-4 rounded-3 mx-3 mt-n6 z-1 position-relative border">
                                <h5 class="h4 m-0">
                                    <a class="link-effect-03-2x text-reset" href="#">I like the body. I like to design everything to do with the body.</a>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hover-scale">
                                <div class="hover-scale-in position-relative rounded-3">
                                    <div class="position-absolute top-0 start-0 mt-3 ms-3 z-1">
                                        <span class="px-4 py-2 bg-primary rounded-pill text-white fs-sm">Marketing</span>
                                    </div>
                                    <a href="#">
                                        <img src="../assets/img/marketing/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="bg-mode-re p-3 p-lg-4 rounded-3 mx-3 mt-n6 z-1 position-relative border">
                                <h5 class="h4 m-0">
                                    <a class="link-effect-03-2x text-reset" href="#">I like the body. I like to design everything to do with the body.</a>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hover-scale">
                                <div class="hover-scale-in position-relative rounded-3">
                                    <div class="position-absolute top-0 start-0 mt-3 ms-3 z-1">
                                        <span class="px-4 py-2 bg-primary rounded-pill text-white fs-sm">Marketing</span>
                                    </div>
                                    <a href="#">
                                        <img src="../assets/img/marketing/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="bg-mode-re p-3 p-lg-4 rounded-3 mx-3 mt-n6 z-1 position-relative border">
                                <h5 class="h4 m-0">
                                    <a class="link-effect-03-2x text-reset" href="#">I like the body. I like to design everything to do with the body.</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_marketing_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>