<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <div class="header-height-bar"></div>
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top header-height bg-body border-bottom",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            
            <!-- Section -->
            <section class="section effect-section bg-gray-100">
                <img class="position-absolute bottom-0 start-0 pe-none w-custom w-lg-custom" style="--bs-w-custom: 100px; --bs-w-lg-custom: 250px;" src="../assets/img/effect/polygon-01.png" title="" alt="">
                <img class="position-absolute top-0 end-0 pe-none w-custom w-lg-custom" style="--bs-w-custom: 100px; --bs-w-lg-custom: 150px;" src="../assets/img/effect/polygon-02.png" title="" alt="">
                <div class="container position-relative">
                    <div class="row justify-content-center section-heading wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                        <div class="col-lg-6 text-center">
                            <h1>We are born to Design Experience.</h1>
                            <p class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="portfolio-content row g-2 lightbox-gallery wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/about/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/about/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/about/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/about/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/about/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-6 col-sm-4 grid-item">
                            <img class="rounded-3" src="../assets/img/about/about-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100 pt-0">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 pe-xl-12 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <h3 class="mb-3 h1">We provide advanced solutions to growin your online business</h3>
                            <p class="fs-lg w-lg-80">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <p class="fs-lg"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col-lg-12 pt-5 counter">
                            <div class="bg-body shadow-lg p-4 rounded-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                                <div class="row gy-4">
                                    <div class="col-6 col-lg-3 py-4">
                                        <div class="text-center">
                                            <h6 class="count h1 mb-2" data-to="4506" data-speed="4506">4506</h6>
                                            <span>Happy Clients</span>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3 py-4">
                                        <div class="text-center">
                                            <h6 class="count h1 mb-2" data-to="1580" data-speed="1580">1580</h6>
                                            <span>Photo Capture</span>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3 py-4">
                                        <div class="text-center">
                                            <h6 class="count h1 mb-2" data-to="1280" data-speed="1280">1280</h6>
                                            <span>Projects</span>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3 py-4">
                                        <div class="text-center">
                                            <h6 class="count h1 mb-2" data-to="9642" data-speed="9642">9642</h6>
                                            <span>Clients call</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-9 col-xl-7 text-center wow fadeInUp" data-wow-duration="0.5s">
                            <h3 class="h1 mb-3">Our qualified team</h3>
                            <div class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-sm-6 col-lg-3 hover-scale wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.05s">
                            <div class="hover-scale-in overflow-hidden rounded-3">
                                <img src="../assets/img//team/team-1.jpg" title="" alt="">
                            </div>
                            <div class="position-relative mx-4 mx-lg-3 bg-body shadow-lg rounded-3 p-4 mt-n5 text-center">
                                <h6 class="mb-0">Nancy Drew</h6>
                                <span class="text-muted small">UI engineer</span>
                                <div class="nav pt-2 justify-content-center">
                                    <a class="icon-sm hover-top rounded-circle text-white bg-facebook mx-1" href="#"><i class="lh-1 bi-facebook"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-twitter mx-1" href="#"><i class="lh-1 bi-twitter"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-linkedin mx-1" href="#"><i class="lh-1 bi-linkedin"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-instagram mx-1" href="#"><i class="lh-1 bi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 hover-scale wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <div class="hover-scale-in overflow-hidden rounded-3">
                                <img src="../assets/img//team/team-1.jpg" title="" alt="">
                            </div>
                            <div class="position-relative mx-4 mx-lg-3 bg-body shadow-lg rounded-3 p-4 mt-n5 text-center">
                                <h6 class="mb-0">Nancy Drew</h6>
                                <span class="text-muted small">UI engineer</span>
                                <div class="nav pt-2 justify-content-center">
                                    <a class="icon-sm hover-top rounded-circle text-white bg-facebook mx-1" href="#"><i class="lh-1 bi-facebook"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-twitter mx-1" href="#"><i class="lh-1 bi-twitter"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-linkedin mx-1" href="#"><i class="lh-1 bi-linkedin"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-instagram mx-1" href="#"><i class="lh-1 bi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 hover-scale wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.15s">
                            <div class="hover-scale-in overflow-hidden rounded-3">
                                <img src="../assets/img//team/team-1.jpg" title="" alt="">
                            </div>
                            <div class="position-relative mx-4 mx-lg-3 bg-body shadow-lg rounded-3 p-4 mt-n5 text-center">
                                <h6 class="mb-0">Nancy Drew</h6>
                                <span class="text-muted small">UI engineer</span>
                                <div class="nav pt-2 justify-content-center">
                                    <a class="icon-sm hover-top rounded-circle text-white bg-facebook mx-1" href="#"><i class="lh-1 bi-facebook"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-twitter mx-1" href="#"><i class="lh-1 bi-twitter"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-linkedin mx-1" href="#"><i class="lh-1 bi-linkedin"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-instagram mx-1" href="#"><i class="lh-1 bi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 hover-scale wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            <div class="hover-scale-in overflow-hidden rounded-3">
                                <img src="../assets/img//team/team-1.jpg" title="" alt="">
                            </div>
                            <div class="position-relative mx-4 mx-lg-3 bg-body shadow-lg rounded-3 p-4 mt-n5 text-center">
                                <h6 class="mb-0">Nancy Drew</h6>
                                <span class="text-muted small">UI engineer</span>
                                <div class="nav pt-2 justify-content-center">
                                    <a class="icon-sm hover-top rounded-circle text-white bg-facebook mx-1" href="#"><i class="lh-1 bi-facebook"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-twitter mx-1" href="#"><i class="lh-1 bi-twitter"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-linkedin mx-1" href="#"><i class="lh-1 bi-linkedin"></i></a>
                                    <a class="icon-sm hover-top rounded-circle text-white bg-instagram mx-1" href="#"><i class="lh-1 bi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-8 col-xl-7 text-center wow fadeInUp" data-wow-duration="0.5s">
                            <h3 class="h1 mb-3">Get started with Mombo.</h3>
                            <div class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>
                    <div class="swiper swiper-container wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s" data-swiper-options='{
                          "slidesPerView": 1,
                          "spaceBetween": 24,
                          "loop": true,
                          "breakpoints": {
                            "650": {
                              "slidesPerView": 2
                            },
                            "991": {
                              "slidesPerView": 2
                            },
                            "1024": {
                              "slidesPerView": 6
                            }
                          }
                        }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="bg-body p-3 p-lg-4 shadow rounded-3 mb-3">
                                    <img src="../assets/img/brand/airbnb.svg" title="" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="bg-body p-3 p-lg-4 shadow rounded-3 mb-3">
                                    <img src="../assets/img/brand/paypal.svg" title="" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="bg-body p-3 p-lg-4 shadow rounded-3 mb-3">
                                    <img src="../assets/img/brand/slack.svg" title="" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="bg-body p-3 p-lg-4 shadow rounded-3 mb-3">
                                    <img src="../assets/img/brand/spotify.svg" title="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <div class="section">
                <div class="container">
                    <div class="row g-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                        <div class="col-6 col-md-3 d-flex flex-row">
                            <div class="bg-dark w-100 position-relative p-3 p-lg-5 d-flex flex-column">
                                <div class="icon-lg bg-white text-primary rounded-circle mb-8">
                                    <i class="bi bi-instagram"></i>
                                </div>
                                <a class="stretched-link text-white mt-auto ms-auto fs-lg" href="#">
                                    Instagram <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="#">
                                <img src="../assets/img/team/team-1.jpg" title="" alt="">
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="#">
                                <img src="../assets/img/team/team-1.jpg" title="" alt="">
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="#">
                                <img src="../assets/img/team/team-1.jpg" title="" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>