<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top navbar-transparent header-height",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Page Title -->
            @@include('./page-heading/_page-heading-01.html', {
                "title": "About",
            })
            <!-- Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row align-items-center gy-4 justify-content-between">
                        <div class="col-lg-5 col-xl-4 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <div class="h3 mb-3">Make smarter business decisions with data analysis</div>
                            <p class="mb-5">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                            <div class="d-flex mb-6">
                                <div class="icon-lg border border-primary rounded bg-gray-100 dots-icon">
                                    <i class="bi-laptop"></i>
                                    <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                </div>
                                <div class="col ps-3">
                                    <h6>Web Development</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="icon-lg border border-primary rounded bg-gray-100 dots-icon">
                                    <bi class="bi-tools"></i>
                                        <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                </div>
                                <div class="col ps-3">
                                    <h6>Logo &amp; Identity</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <img src="../assets/img/feature/feature-01.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section>
                <div class="container-fluid p-0">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-3 bg-cover bg-no-repeat bg-center min-h-350px" style="background-image: url(../assets/img/about/about-1.jpg);"></div>
                        <div class="col-md-6 col-lg-3">
                            <div class="p-5 p-lg-8 bg-primary wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                                <label class="text-white text-opacity-65 mb-3">Build perfect websites</label>
                                <h5 class="text-white mb-3">Unlimited power and customization possibilities</h5>
                                <p class="text-white text-opacity-65">Momboo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups. The passage is attributed to an unknown typesetter in the 15th century who is thought.</p>
                                <div class="pt-3">
                                    <a class="btn btn-outline-light" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 bg-cover bg-no-repeat bg-center min-h-350px" style="background-image: url(../assets/img/about/about-1.jpg);"></div>
                        <div class="col-md-6 col-lg-3">
                            <div class="p-5 p-lg-8 bg-primary  wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                                <label class="text-white text-opacity-65 mb-3">Build perfect websites</label>
                                <h5 class="text-white mb-3">Unlimited power and customization possibilities</h5>
                                <p class="text-white text-opacity-65">Momboo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups. The passage is attributed to an unknown typesetter in the 15th century who is thought.</p>
                                <div class="pt-3">
                                    <a class="btn btn-outline-light" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row section-heading justify-content-center text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                        <div class="col-lg-8 col-xl-6">
                            <h3 class="h1 title-03 pb-3 mb-3">How do we create amazing products</h3>
                            <div class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</div>
                        </div>
                    </div>
                    <div class="tab-style-3 mt-3">
                        <ul class="nav nav-fill nav-tabs shadow-lg wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <li class="nav-item">
                                <a href="#tab3_sec1" data-bs-toggle="tab" class="active">
                                    <div class="only-icon only-icon-lg mb-3"><i class="bi-chat"></i></div>
                                    <span class="w-100 d-block">Discussion</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab3_sec2" data-bs-toggle="tab">
                                    <div class="only-icon only-icon-lg mb-3"><i class="bi-tools"></i></div>
                                    <span class="w-100 d-block">Creative Concept</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab3_sec3" data-bs-toggle="tab">
                                    <div class="only-icon only-icon-lg mb-3"><i class="bi-megaphone"></i></div>
                                    <span class="w-100 d-block">Production</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab3_sec4" data-bs-toggle="tab">
                                    <div class="only-icon only-icon-lg mb-3"><i class="bi-heart"></i></div>
                                    <span class="w-100 d-block">Happy Client</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            <!-- start tab content -->
                            <div id="tab3_sec1" class="tab-pane fade in active show">
                                <div class="row align-items-center pt-3 pt-lg-5 gy-4">
                                    <div class="col-lg-6 text-center">
                                        <img src="../assets/img/feature/feature-01.jpg" title="" alt="">
                                    </div>
                                    <div class="col-lg-6 ps-lg-7 ps-xl-12">
                                        <h2 class="h1 mb-4">Welcome to Mombo <u class="text-primary">Digital Marketing</u></h2>
                                        <p class="mb-2 fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups. Ut enim ad minim veniam.
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6 my-3">
                                                <h5 class="text-primary h6 mb-2">Mobile Friendly</h5>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                            <!-- col -->
                                            <div class="col-md-6 my-3">
                                                <h5 class="text-primary h6 mb-2">Multiple Layouts</h5>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                            <!-- col -->
                                        </div>
                                        <!-- row -->
                                        <div class="btn-bar pt-2">
                                            <a class="btn btn-primary" href="#">More About</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <div id="tab3_sec2" class="tab-pane fade in">
                                <div class="row align-items-center pt-3 pt-lg-5 gy-4 flex-row-reverse">
                                    <div class="col-lg-6 text-center">
                                        <img src="../assets/img/feature/feature-01.jpg" title="" alt="">
                                    </div>
                                    <div class="col-lg-6 pe-lg-7 pe-xl-12">
                                        <h2 class="h1 mb-4">Welcome to Mombo <u class="text-primary">Digital Marketing</u></h2>
                                        <p class="mb-2 fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups. Ut enim ad minim veniam.
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6 my-3">
                                                <h5 class="text-primary h6 mb-2">Mobile Friendly</h5>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                            <!-- col -->
                                            <div class="col-md-6 my-3">
                                                <h5 class="text-primary h6 mb-2">Multiple Layouts</h5>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                            <!-- col -->
                                        </div>
                                        <!-- row -->
                                        <div class="btn-bar pt-2">
                                            <a class="btn btn-primary" href="#">More About</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <div id="tab3_sec3" class="tab-pane fade in">
                                <div class="row align-items-center pt-3 pt-lg-5 gy-4">
                                    <div class="col-lg-6 text-center">
                                        <img src="../assets/img/feature/feature-01.jpg" title="" alt="">
                                    </div>
                                    <div class="col-lg-6 ps-lg-7 ps-xl-12">
                                        <h2 class="h1 mb-4">Welcome to Mombo <u class="text-primary">Digital Marketing</u></h2>
                                        <p class="mb-2 fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups. Ut enim ad minim veniam.
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6 my-3">
                                                <h5 class="text-primary h6 mb-2">Mobile Friendly</h5>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                            <!-- col -->
                                            <div class="col-md-6 my-3">
                                                <h5 class="text-primary h6 mb-2">Multiple Layouts</h5>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                            <!-- col -->
                                        </div>
                                        <!-- row -->
                                        <div class="btn-bar pt-2">
                                            <a class="btn btn-primary" href="#">More About</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <div id="tab3_sec4" class="tab-pane fade in">
                                <div class="row align-items-center pt-3 pt-lg-5 gy-4 flex-row-reverse">
                                    <div class="col-lg-6 text-center">
                                        <img src="../assets/img/feature/feature-01.jpg" title="" alt="">
                                    </div>
                                    <div class="col-lg-6 pe-lg-7 pe-xl-12">
                                        <h2 class="h1 mb-4">Welcome to Mombo <u class="text-primary">Digital Marketing</u></h2>
                                        <p class="mb-2 fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups. Ut enim ad minim veniam.
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6 my-3">
                                                <h5 class="text-primary h6 mb-2">Mobile Friendly</h5>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                            <!-- col -->
                                            <div class="col-md-6 my-3">
                                                <h5 class="text-primary h6 mb-2">Multiple Layouts</h5>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                            <!-- col -->
                                        </div>
                                        <!-- row -->
                                        <div class="btn-bar pt-2">
                                            <a class="btn btn-primary" href="#">More About</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <div class="py-7 bg-primary">
                <div class="container">
                    <div class="row counter">
                        <div class="col-6 col-lg-3 my-3 text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <div class="purecounter text-white h1 mb-1" data-purecounter-start="0" data-purecounter-end="650"></div>
                            <p class="text-white-50 after-50px bg-light-after pb-3 m-0">Happy Clients</p>
                        </div>
                        <div class="col-6 col-lg-3 my-3 text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            <div class="purecounter text-white h1 mb-1" data-purecounter-start="0" data-purecounter-end="987"></div>
                            <p class="text-white-50 after-50px bg-light-after pb-3 m-0">Work Completed</p>
                        </div>
                        <div class="col-6 col-lg-3 my-3 text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                            <div class="purecounter text-white h1 mb-1" data-purecounter-start="0" data-purecounter-end="350"></div>
                            <p class="text-white-50 after-50px bg-light-after pb-3 m-0">Award Winning</p>
                        </div>
                        <div class="col-6 col-lg-3 my-3 text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                            <div class="purecounter text-white h1 mb-1" data-purecounter-start="0" data-purecounter-end="850"></div>
                            <p class="text-white-50 after-50px bg-light-after pb-3 m-0">Telephonic Talk</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->
            <!-- Section -->
            <section id="team" class="section bg-gray-100">
                <div class="container">
                    <div class="row section-heading justify-content-center text-center  wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                        <div class="col-lg-8 col-xl-6">
                            <h3 class="h1 title-03 pb-3 mb-3">Our Advisors</h3>
                            <div class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</div>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>