<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <div class="header-height-bar"></div>
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top header-height bg-body border-bottom",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            
            <!-- section -->
            <section class="pb-4 pt-8">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header pt-12" style="background-image: url(../assets/img/bg/bg-banner-1.jpg);"></div>
                                <div class="card-body pt-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center mt-n4">
                                            <div class="avatar-xl">
                                                <img class="rounded-circle border border-2 border-white" src="../assets/img/team/team-1.jpg" title="" alt="">
                                            </div>
                                            <div class="col ps-3 pt-6">
                                                <h5 class="m-0">Julia Roberts</h5>
                                                <span>@Julia</span>
                                            </div>
                                        </div>
                                        <div class="ms-auto d-none d-lg-block">
                                            <button class="btn btn-primary-soft btn-icon">
                                                <span class="btn-inner--text">
                                                    Setting
                                                </span>
                                                <i class="bi bi-gear"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex align-items-center d-lg-none">
                                    <h5 class="m-0">Menu</h5>
                                    <button class="btn btn-primary ms-auto px-2 py-1 d-inline-flex align-items-center justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="bi bi-list fs-3 lh-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- Section -->
            <section class="section pt-0">
                <div class="container">
                    <div class="row">
                        <!-- Sidebar -->
                        <div class="col-lg-3">
                            <div class="card collapse d-lg-block mb-4" id="collapseExample">
                                <div class="card-body">
                                    <h6 class="text-uppercase small mb-2">Account</h6>
                                    <ul class="nav nav-sub mb-4">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="account-overview.html">
                                                <i class="bi-person-fill nav-icon"></i> Personal info
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="account-security.html">
                                                <i class="bi-shield-fill nav-icon"></i> Login & security
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="account-notifications.html">
                                                <i class="bi-bell-fill nav-icon"></i> Notifications
                                                <span class="badge bg-primary text-white rounded-pill">1</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <h6 class="text-uppercase small mb-2">Billing</h6>
                                    <ul class="nav nav-sub">
                                        <li class="nav-item">
                                            <a class="nav-link " href="account-payment.html">
                                                <i class="bi-credit-card nav-icon"></i> Plans &amp; payment
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="account-address.html">
                                                <i class="bi-map nav-icon"></i> Address
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="account-team.html">
                                                <i class="bi-person-workspace nav-icon"></i> Teams
                                                <span class="badge bg-primary text-white rounded-pill">+2 new users</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#">
                                                <i class="bi-lock-fill nav-icon"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Sidebar -->
                        <!-- Content -->
                        <div class="col-lg-9">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h5 class="m-0">Shop notifications</h5>
                                </div>
                                <div class="card-body">
                                    <div class="list-group list-group-flush">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="fw-400 mb-1">A product from wishlist is on sale</h6><span class="text-sm text-muted">You will receive an alert when one of your favorite products has a discount price.</span>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault9">
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-3">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="fw-400 mb-1">A new product is released</h6><span class="text-sm text-muted">You will receive an alert when one of your favorite products has a discount price.</span>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-3">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="fw-400 mb-1">New promotions are available</h6><span class="text-sm text-muted">You will receive an alert when one of your favorite products has a discount price.</span>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked1" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h5 class="m-0">Billing notifications</h5>
                                </div>
                                <div class="card-body">
                                    <div class="list-group list-group-flush">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="fw-400 mb-1">A product from wishlist is on sale</h6><span class="text-sm text-muted">You will receive an alert when one of your favorite products has a discount price.</span>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault10">
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-3">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="fw-400 mb-1">A new product is released</h6><span class="text-sm text-muted">You will receive an alert when one of your favorite products has a discount price.</span>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked2" checked>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-3">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="fw-400 mb-1">New promotions are available</h6><span class="text-sm text-muted">You will receive an alert when one of your favorite products has a discount price.</span>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked3" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h5 class="m-0">Front emails</h5>
                                </div>
                                <div class="card-body">
                                    <div class="list-group list-group-flush">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="fw-400 mb-1">A product from wishlist is on sale</h6><span class="text-sm text-muted">You will receive an alert when one of your favorite products has a discount price.</span>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault11">
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-3">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="fw-400 mb-1">A new product is released</h6><span class="text-sm text-muted">You will receive an alert when one of your favorite products has a discount price.</span>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked4" checked>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-3">
                                        <div class="d-flex">
                                            <div>
                                                <h6 class="fw-400 mb-1">New promotions are available</h6><span class="text-sm text-muted">You will receive an alert when one of your favorite products has a discount price.</span>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked5" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>