<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <div class="header-height-bar"></div>
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top header-height bg-body border-bottom",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            
            <!-- Page Title -->
            <section class="effect-section section bg-fixed bg-center bg-no-repeat" style="background-image: url(../assets/img/bg/bg-banner-1.jpg);">
                <div class="mask bg-black opacity-70"></div>
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 text-center">
                            <h2 class="text-white h1 mb-4">Blog</h2>
                            <ol class="breadcrumb mb-0 mt-3 justify-content-center text-white">
                                <li class="breadcrumb-item"><a class="text-reset" href="index.html">Home</a></li>
                                <li class="breadcrumb-item active text-white">Blog</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Page Title -->
            <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row g-3">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card hover-scale overflow-hidden hover-top">
                                <div class="position-relative hover-scale-in">
                                    <a href="#">
                                        <img class="card-img-top" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                    </a>
                                    <span class="position-absolute bottom-0 start-0 ms-3 mb-3 bg-primary px-3 py-2 text-white small rounded-3 fw-700">30 Aug, 2022</span>
                                </div>
                                <div class="card-body">
                                    <span class="d-block mb-2">
                                        <a class="fw-700" href="#">Business</a>
                                    </span>
                                    <h3 class="h5 mb-3"><a class="text-reset stretched-link" href="#">How to take beautiful photos with phone?</a></h3>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card hover-scale overflow-hidden hover-top">
                                <div class="position-relative hover-scale-in">
                                    <a href="#">
                                        <img class="card-img-top" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                    </a>
                                    <span class="position-absolute bottom-0 start-0 ms-3 mb-3 bg-primary px-3 py-2 text-white small rounded-3 fw-700">30 Aug, 2022</span>
                                </div>
                                <div class="card-body">
                                    <span class="d-block mb-2">
                                        <a class="fw-700" href="#">Business</a>
                                    </span>
                                    <h3 class="h5 mb-3"><a class="text-reset stretched-link" href="#">How to take beautiful photos with phone?</a></h3>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card hover-scale overflow-hidden hover-top">
                                <div class="position-relative hover-scale-in">
                                    <a href="#">
                                        <img class="card-img-top" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                    </a>
                                    <span class="position-absolute bottom-0 start-0 ms-3 mb-3 bg-primary px-3 py-2 text-white small rounded-3 fw-700">30 Aug, 2022</span>
                                </div>
                                <div class="card-body">
                                    <span class="d-block mb-2">
                                        <a class="fw-700" href="#">Business</a>
                                    </span>
                                    <h3 class="h5 mb-3"><a class="text-reset stretched-link" href="#">How to take beautiful photos with phone?</a></h3>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card hover-scale overflow-hidden hover-top">
                                <div class="position-relative hover-scale-in">
                                    <a href="#">
                                        <img class="card-img-top" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                    </a>
                                    <span class="position-absolute bottom-0 start-0 ms-3 mb-3 bg-primary px-3 py-2 text-white small rounded-3 fw-700">30 Aug, 2022</span>
                                </div>
                                <div class="card-body">
                                    <span class="d-block mb-2">
                                        <a class="fw-700" href="#">Business</a>
                                    </span>
                                    <h3 class="h5 mb-3"><a class="text-reset stretched-link" href="#">How to take beautiful photos with phone?</a></h3>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card hover-scale overflow-hidden hover-top">
                                <div class="position-relative hover-scale-in">
                                    <a href="#">
                                        <img class="card-img-top" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                    </a>
                                    <span class="position-absolute bottom-0 start-0 ms-3 mb-3 bg-primary px-3 py-2 text-white small rounded-3 fw-700">30 Aug, 2022</span>
                                </div>
                                <div class="card-body">
                                    <span class="d-block mb-2">
                                        <a class="fw-700" href="#">Business</a>
                                    </span>
                                    <h3 class="h5 mb-3"><a class="text-reset stretched-link" href="#">How to take beautiful photos with phone?</a></h3>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card hover-scale overflow-hidden hover-top">
                                <div class="position-relative hover-scale-in">
                                    <a href="#">
                                        <img class="card-img-top" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                    </a>
                                    <span class="position-absolute bottom-0 start-0 ms-3 mb-3 bg-primary px-3 py-2 text-white small rounded-3 fw-700">30 Aug, 2022</span>
                                </div>
                                <div class="card-body">
                                    <span class="d-block mb-2">
                                        <a class="fw-700" href="#">Business</a>
                                    </span>
                                    <h3 class="h5 mb-3"><a class="text-reset stretched-link" href="#">How to take beautiful photos with phone?</a></h3>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-5">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="bi-chevron-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="bi-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- End section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>