<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top navbar-transparent header-height",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            
            <!-- Home Banner -->
            <section class="bg-primary effect-section section" style="background-image: url(../assets/img/bg/bg-banner-1.jpg);">
                <div class="mask bg-primary opacity-80"></div>
                <div class="container position-relative">
                    <div class="header-height-bar"></div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2 class="text-white display-3 mb-3">Job openings</h2>
                            <p class="fs-lg text-white text-opacity-65 pb-2">We are a professional digital agency providing premium themes, UI/UX design and web apps that you will simply love.</p>
                            <div class="text-center">
                                <a class="btn btn-light me-3" href="#">Contact Us</a>
                                <a class="btn btn-outline-light" href="#">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Home Banner -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center gy-4 align-items-center">
                        <div class="col-lg-6 pe-xl-12 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <h2 class="h1 mb-3">Our core values!</h2>
                            <p class="fs-lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
                            <div class="row pb-2 pt-1">
                                <div class="col-6">
                                    <ul class="list-unstyled">
                                        <li class="py-1 d-flex"><i class="bi bi bi-check-circle-fill text-secondary me-2"></i> Empathy</li>
                                        <li class="py-1 d-flex"><i class="bi bi bi-check-circle-fill text-secondary me-2"></i> Courtesy</li>
                                        <li class="py-1 d-flex"><i class="bi bi bi-check-circle-fill text-secondary me-2"></i> Thriving</li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-unstyled">
                                        <li class="py-1 d-flex"><i class="bi bi bi-check-circle-fill text-secondary me-2"></i> Craftsmanship</li>
                                        <li class="py-1 d-flex"><i class="bi bi bi-check-circle-fill text-secondary me-2"></i> Playfulness</li>
                                        <li class="py-1 d-flex"><i class="bi bi bi-check-circle-fill text-secondary me-2"></i> Solidarity</li>
                                    </ul>
                                </div>
                            </div>
                            <a class="btn btn-primary" href="#">Apply Now</a>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <img src="../assets/img/about/about-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading justify-content-center text-center wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                        <div class="col-lg-6">
                            <label class="bg-primary bg-opacity-10 text-primary px-3 py-1 rounded-pill mb-3">Our Portal</label>
                            <h3 class="h1 mb-3">Why join us?</h3>
                            <div class="fs-lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 mt-3 mb-5 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="d-flex pe-xl-8">
                                <div class="icon-lg text-white bg-primary rounded-circle">1</div>
                                <div class="col ps-4">
                                    <h5 class="h6">Fast growing company</h5>
                                    <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 mt-3 mb-5 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.15s">
                            <div class="d-flex pe-xl-8">
                                <div class="icon-lg text-white bg-primary rounded-circle">2</div>
                                <div class="col ps-4">
                                    <h5 class="h6">Great Colleagues</h5>
                                    <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 mt-3 mb-5 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.20s">
                            <div class="d-flex pe-xl-8">
                                <div class="icon-lg text-white bg-primary rounded-circle">3</div>
                                <div class="col ps-4">
                                    <h5 class="h6">Take Charge</h5>
                                    <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 mt-3 mb-5 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="d-flex pe-xl-8">
                                <div class="icon-lg text-white bg-primary rounded-circle">4</div>
                                <div class="col ps-4">
                                    <h5 class="h6">Don't stop learning</h5>
                                    <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 mt-3 mb-5 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.15s">
                            <div class="d-flex pe-xl-8">
                                <div class="icon-lg text-white bg-primary rounded-circle">5</div>
                                <div class="col ps-4">
                                    <h5 class="h6">Latest technology Front</h5>
                                    <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 mt-3 mb-5 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.20s">
                            <div class="d-flex pe-xl-8">
                                <div class="icon-lg text-white bg-primary rounded-circle">6</div>
                                <div class="col ps-4">
                                    <h5 class="h6">Cross domain exposure</h5>
                                    <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-5 my-3 wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <label class="bg-primary bg-opacity-10 text-primary px-3 py-1 rounded-pill mb-3">@_Life</label>
                            <h3 class="h1 mb-3">Life at Momb</h3>
                            <p class="fs-lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
                            <ul class="list-unstyled">
                                <li class="d-flex py-1"><i class="bi bi-check-circle-fill text-primary me-2"></i>Built with customization</li>
                                <li class="d-flex py-1"><i class="bi bi-check-circle-fill text-primary me-2"></i>Quality design and thoughfully</li>
                                <li class="d-flex py-1"><i class="bi bi-check-circle-fill text-primary me-2"></i>Created with the latest technologies</li>
                            </ul>
                        </div>
                        <div class="col-md-10 col-lg-6 my-3 wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="swiper swiper-container" data-swiper-options='{
                                          "slidesPerView": 1,
                                          "spaceBetween": 0,
                                          "navigation": {
                                            "nextEl": ".swiper-next-01",
                                            "prevEl": ".swiper-prev-01"
                                          },
                                          "autoplay": {
                                            "delay": 5000,
                                            "disableOnInteraction": false
                                          }
                                        }'>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div>
                                            <img class="rounded" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div>
                                            <img class="rounded" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div>
                                            <img class="rounded" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-arrow-style-04 swiper-next swiper-next-01"><i class="bi bi-chevron-right"></i> </div>
                                <div class="swiper-arrow-style-04 swiper-prev swiper-prev-01"><i class="bi bi-chevron-left"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading justify-content-center text-center wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                        <div class="col-lg-6">
                            <label class="bg-primary bg-opacity-10 text-primary px-3 py-1 rounded-pill mb-0">Opening</label>
                            <h3 class="h1 mb-3">We help businesses grow</h3>
                            <div class="fs-lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
                        </div>
                    </div>
                    <div class="mb-4 pt-3">
                        <form class="d-flex flex-column flex-md-row wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <input type="text" class="form-control my-2 me-md-3" placeholder="Search Jobs">
                            <select class="form-select my-2 me-md-3">
                                <option selected="">All locations</option>
                                <option value="location1">Chicago, US</option>
                                <option value="location2">New York, US</option>
                                <option value="location3">Seattle/Kirkland, US</option>
                                <option value="location4">Los Angles, US</option>
                                <option value="location5">Moscow, Russia</option>
                                <option value="location6">Sydney, Australia</option>
                                <option value="location7">Birmingham, UK</option>
                                <option value="location7">Manchester, UK</option>
                                <option value="location8">Beijing, China</option>
                            </select>
                            <button class="btn btn-primary flex-shrink-0 my-2" type="submit">Search Job</button>
                        </form>
                    </div>
                    <div class="mb-5">
                        <div class="mb-4 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <label class="bg-primary bg-opacity-10 text-primary px-3 py-1 rounded-pill mb-0">Analytics</label>
                        </div>
                        <a class="card shadow-hover mb-3  wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s" href="#">
                            <div class="card-body py-3 px-4">
                                <span class="row justify-content-sm-between align-items-sm-center">
                                    <span class="col-sm-6 my-2 text-mode">
                                        Business Strategy Manager
                                    </span>
                                    <span class="col-sm-6 my-2 text-sm-end">
                                        <span class="bg-secondary py-2 px-3 rounded-pill text-white small">Chicago, US</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                        <a class="card shadow-hover mb-3  wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s" href="#">
                            <div class="card-body py-3 px-4">
                                <span class="row justify-content-sm-between align-items-sm-center">
                                    <span class="col-sm-6 my-2 text-mode">
                                        Business Strategy Manager
                                    </span>
                                    <span class="col-sm-6 my-2 text-sm-end">
                                        <span class="bg-secondary py-2 px-3 rounded-pill text-white small">Chicago, US</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                        <a class="card shadow-hover mb-3  wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s" href="#">
                            <div class="card-body py-3 px-4">
                                <span class="row justify-content-sm-between align-items-sm-center">
                                    <span class="col-sm-6 my-2 text-mode">
                                        Business Strategy Manager
                                    </span>
                                    <span class="col-sm-6 my-2 text-sm-end">
                                        <span class="bg-secondary py-2 px-3 rounded-pill text-white small">Chicago, US</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                        <a class="card shadow-hover mb-3  wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s" href="#">
                            <div class="card-body py-3 px-4">
                                <span class="row justify-content-sm-between align-items-sm-center">
                                    <span class="col-sm-6 my-2 text-mode">
                                        Business Strategy Manager
                                    </span>
                                    <span class="col-sm-6 my-2 text-sm-end">
                                        <span class="bg-secondary py-2 px-3 rounded-pill text-white small">Chicago, US</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="mb-5">
                        <div class="mb-4 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <label class="bg-primary bg-opacity-10 text-primary px-3 py-1 rounded-pill mb-0">Analytics</label>
                        </div>
                        <a class="card shadow-hover mb-3 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s" href="#">
                            <div class="card-body py-3 px-4">
                                <span class="row justify-content-sm-between align-items-sm-center">
                                    <span class="col-sm-6 my-2 text-mode">
                                        Business Strategy Manager
                                    </span>
                                    <span class="col-sm-6 my-2 text-sm-end">
                                        <span class="bg-secondary py-2 px-3 rounded-pill text-white small">Chicago, US</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                        <a class="card shadow-hover mb-3 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s" href="#">
                            <div class="card-body py-3 px-4">
                                <span class="row justify-content-sm-between align-items-sm-center">
                                    <span class="col-sm-6 my-2 text-mode">
                                        Business Strategy Manager
                                    </span>
                                    <span class="col-sm-6 my-2 text-sm-end">
                                        <span class="bg-secondary py-2 px-3 rounded-pill text-white small">Chicago, US</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                        <a class="card shadow-hover mb-3 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s" href="#">
                            <div class="card-body py-3 px-4">
                                <span class="row justify-content-sm-between align-items-sm-center">
                                    <span class="col-sm-6 my-2 text-mode">
                                        Business Strategy Manager
                                    </span>
                                    <span class="col-sm-6 my-2 text-sm-end">
                                        <span class="bg-secondary py-2 px-3 rounded-pill text-white small">Chicago, US</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <div class="mb-4 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <label class="bg-primary bg-opacity-10 text-primary px-3 py-1 rounded-pill mb-0">Analytics</label>
                        </div>
                        <a class="card shadow-hover mb-3 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s" href="#">
                            <div class="card-body py-3 px-4">
                                <span class="row justify-content-sm-between align-items-sm-center">
                                    <span class="col-sm-6 my-2 text-mode">
                                        Business Strategy Manager
                                    </span>
                                    <span class="col-sm-6 my-2 text-sm-end">
                                        <span class="bg-secondary py-2 px-3 rounded-pill text-white small">Chicago, US</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                        <a class="card shadow-hover mb-3 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s" href="#">
                            <div class="card-body py-3 px-4">
                                <span class="row justify-content-sm-between align-items-sm-center">
                                    <span class="col-sm-6 my-2 text-mode">
                                        Business Strategy Manager
                                    </span>
                                    <span class="col-sm-6 my-2 text-sm-end">
                                        <span class="bg-secondary py-2 px-3 rounded-pill text-white small">Chicago, US</span>
                                    </span>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>