<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <div class="header-height-bar"></div>
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top header-height bg-body border-bottom",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            
            <!-- Section -->
            <section class="section bg-gray-100 border-bottom">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 col-xl-8 text-center pb-8  wow fadeInUp" data-wow-duration="0.5s">
                            <h3 class="h1 mb-3">Android with Flutter Developer</h3>
                            <div class="nav justify-content-center">
                                <span class="mb-2 pe-3">Posted: <span class="text-mode">5 days ago</span></span>
                                <span class="mb-2 pe-3">Openings: <span class="text-mode">5</span></span>
                                <span class="mb-2 pe-3">Experience: <span class="text-mode"> 1 to 3 Years</span></span>
                                <span class="mb-2 text-primary"><i class="bi bi-pin me-2"></i>United States</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section pt-0">
                <div class="container mt-n12">
                    <div class="row align-items-start gy-4">
                        <div class="col-lg-8 col-xxl-9 wow fadeInUp" data-wow-duration="0.5s">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="border-bottom pb-2 mb-3">
                                        <h3 class="h4 mb-2">Android with Flutter Developer</h3>
                                        <div class="nav">
                                            <span class="small mb-2 pe-3">Posted: <span class="text-mode">5 days ago</span></span>
                                            <span class="small mb-2 pe-3">Openings: <span class="text-mode">5</span></span>
                                            <span class="small mb-2 pe-3">Experience: <span class="text-mode"> 1 to 3 Years</span></span>
                                            <span class="small mb-2 text-primary"><i class="bi bi-pin me-2"></i>United States</span>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <h5 class="mb-3 pt-2">Skills</h5>
                                    <div class="nav mb-3">
                                        <span class="border rounded-3 px-3 py-1 me-2 mb-2 small bg-gray-100">Css3</span>
                                        <span class="border rounded-3 px-3 py-1 me-2 mb-2 small bg-gray-100">Html5</span>
                                        <span class="border rounded-3 px-3 py-1 me-2 mb-2 small bg-gray-100">Photoshop</span>
                                        <span class="border rounded-3 px-3 py-1 me-2 mb-2 small bg-gray-100">Wordpress</span>
                                        <span class="border rounded-3 px-3 py-1 me-2 mb-2 small bg-gray-100">JavaScript</span>
                                        <span class="border rounded-3 px-3 py-1 me-2 mb-2 small bg-gray-100">Sass</span>
                                        <span class="border rounded-3 px-3 py-1 me-2 mb-2 small bg-gray-100">Less</span>
                                    </div>
                                    <h5 class="mb-3 pt-2">Requirements</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="d-flex text-dark">
                                            <span class="w-100px text-body">Role</span>
                                            Design Engineer
                                        </li>
                                        <li class="d-flex text-dark">
                                            <span class="w-100px text-body">Education</span>
                                            Master
                                        </li>
                                        <li class="d-flex text-dark">
                                            <span class="w-100px text-body">Age</span>
                                            25+
                                        </li>
                                        <li class="d-flex text-dark">
                                            <span class="w-100px text-body">Language</span>
                                            English
                                        </li>
                                    </ul>
                                    <h5 class="mb-3 pt-2">Responsibilities</h5>
                                    <ul class="list-type-02">
                                        <li>Able to identify the requirement and propose a good alternative solution to client requirement</li>
                                        <li>Design and develop apps(new module development, customization).</li>
                                        <li>Develop applications/features that affect everyday life</li>
                                        <li>You will run aground and become hopelessly stuck in the mud</li>
                                    </ul>
                                    <h5 class="mb-3 pt-2">Experience</h5>
                                    <ul class="list-type-02">
                                        <li>Framework knowledge</li>
                                        <li>Must have experience between 3 to 5 years</li>
                                        <li>Strong knowledge of Python and programming concepts</li>
                                        <li>Knowledge of Linux flavored operating system</li>
                                        <li>Contribution to Open Source Projects</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xxl-3 sticky-lg-top sticky-lg-top-header wow fadeInUp" data-wow-duration="0.5s">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <h3 class="h5 mb-4">Apply for this Job</h3>
                                    <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="../assets/vendor/mail/bat/rd-mailform.php" novalidate="novalidate">
                                        <div class="mb-3">
                                            <input id="contact-name" type="text" name="name" placeholder="Full Name" data-constraints="@Required" class="form-control form-control-has-validation form-control-last-child"><span class="invalid-feedback"></span>
                                        </div>
                                        <div class="mb-3">
                                            <input id="contact-email" type="email" name="email" placeholder="Email" data-constraints="@Required" class="form-control form-control-has-validation form-control-last-child"><span class="invalid-feedback"></span>
                                        </div>
                                        <div class="mb-3">
                                            <input id="contact-Profile" type="text" name="age" placeholder="Linkedin Profile" data-constraints="@Required" class="form-control form-control-has-validation form-control-last-child"><span class="invalid-feedback"></span>
                                        </div>
                                        <div class="mb-3">
                                            <textarea class="form-control form-control-has-validation form-control-last-child" id="contact-message" name="message" rows="3" placeholder="About you" data-constraints="@Required"></textarea><span class="invalid-feedback"></span>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary w-100" type="submit" name="send">Apply Job</button>
                                            <div class="snackbars" id="form-output-global"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section pb-2 bg-gray-100">
                <div class="container wow fadeInUp" data-wow-duration="0.5s">
                    <div class="row section-heading justify-content-center">
                        <div class="col-12 text-center mb-3">
                            <h3 class="h1">Life at our company</h3>
                        </div>
                        <div class="col-lg-6 col-xxl-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                        <div class="col-lg-6 col-xxl-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row g-3">
                        <div class="col-lg-2">
                            <div class="pb-3">
                                <img src="../assets/img/about/about-1.jpg" title="" alt="">
                            </div>
                            <div>
                                <img src="../assets/img/about/about-1.jpg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img src="../assets/img/about/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-lg-2">
                            <div class="pb-3">
                                <img src="../assets/img/about/about-1.jpg" title="" alt="">
                            </div>
                            <div>
                                <img src="../assets/img/about/about-1.jpg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="pb-3">
                                <img src="../assets/img/about/about-1.jpg" title="" alt="">
                            </div>
                            <div>
                                <img src="../assets/img/about/about-1.jpg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="pb-3">
                                <img src="../assets/img/about/about-1.jpg" title="" alt="">
                            </div>
                            <div>
                                <img src="../assets/img/about/about-1.jpg" title="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>