<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top navbar-transparent header-height",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            
            <!-- Page Title -->
            @@include('./page-heading/_page-heading-01.html', {
                "title": "Accordions",
                })
                <!-- Section -->
                <div class="section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <div class="accordion" id="accordionExample_01">
                                    <div class="accordion-item">
                                        <p class="m-0 accordion-header" id="heading_01_1">
                                            <button class="bg-body accordion-button p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_1" aria-expanded="true" aria-controls="collapse_01_1">
                                                Can I change plans later on?
                                            </button>
                                        </p>
                                        <div id="collapse_01_1" class="accordion-collapse collapse show" aria-labelledby="heading_01_1" data-bs-parent="#accordionExample_01">
                                            <div class="accordion-body">
                                                <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <p class="m-0 accordion-header" id="heading_01_2">
                                            <button class="bg-body accordion-button p-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_2" aria-expanded="false" aria-controls="collapse_01_2">
                                                What is the difference between Pro and Ultimate?
                                            </button>
                                        </p>
                                        <div id="collapse_01_2" class="accordion-collapse collapse" aria-labelledby="heading_01_2" data-bs-parent="#accordionExample_01">
                                            <div class="accordion-body">
                                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <p class="m-0 accordion-header" id="heading_01_3">
                                            <button class="bg-body accordion-button p-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_3" aria-expanded="false" aria-controls="collapse_01_3">
                                                Can I try before I buy?
                                            </button>
                                        </p>
                                        <div id="collapse_01_3" class="accordion-collapse collapse" aria-labelledby="heading_01_3" data-bs-parent="#accordionExample_01">
                                            <div class="accordion-body">
                                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Section -->
                <!-- Section -->
                <div class="section bg-gray-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <div class="accordion" id="accordionExample_02">
                                    <div class="accordion-item">
                                        <p class="m-0 accordion-header" id="heading_02_1">
                                            <button class="bg-body accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_02_1" aria-expanded="true" aria-controls="collapse_02_1">
                                                Can I change plans later on?
                                            </button>
                                        </p>
                                        <div id="collapse_02_1" class="accordion-collapse collapse show" aria-labelledby="heading_02_1" data-bs-parent="#accordionExample_02">
                                            <div class="accordion-body bg-body border-start border-5 border-primary">
                                                <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <p class="m-0 accordion-header" id="heading_02_2">
                                            <button class="bg-body accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_02_2" aria-expanded="false" aria-controls="collapse_02_2">
                                                What is the difference between Pro and Ultimate?
                                            </button>
                                        </p>
                                        <div id="collapse_02_2" class="accordion-collapse collapse" aria-labelledby="heading_02_2" data-bs-parent="#accordionExample_02">
                                            <div class="accordion-body bg-body border-start border-5 border-primary">
                                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <p class="m-0 accordion-header" id="heading_02_3">
                                            <button class="bg-body accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_02_3" aria-expanded="false" aria-controls="collapse_02_3">
                                                Can I try before I buy?
                                            </button>
                                        </p>
                                        <div id="collapse_02_3" class="accordion-collapse collapse" aria-labelledby="heading_02_3" data-bs-parent="#accordionExample_02">
                                            <div class="accordion-body bg-body border-start border-5 border-primary">
                                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Section -->
                <!-- Section -->
                <div class="section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <div class="accordion accordion-flush" id="accordionExample_03">
                                    <div class="accordion-item">
                                        <p class="m-0 accordion-header" id="heading_03_1">
                                            <button class="bg-body accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_03_1" aria-expanded="true" aria-controls="collapse_03_1">
                                                Can I change plans later on?
                                            </button>
                                        </p>
                                        <div id="collapse_03_1" class="accordion-collapse collapse show" aria-labelledby="heading_03_1" data-bs-parent="#accordionExample_03">
                                            <div class="accordion-body">
                                                <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <p class="m-0 accordion-header" id="heading_03_2">
                                            <button class="bg-body accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_03_2" aria-expanded="false" aria-controls="collapse_03_2">
                                                What is the difference between Pro and Ultimate?
                                            </button>
                                        </p>
                                        <div id="collapse_03_2" class="accordion-collapse collapse" aria-labelledby="heading_03_2" data-bs-parent="#accordionExample_03">
                                            <div class="accordion-body">
                                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <p class="m-0 accordion-header" id="heading_03_3">
                                            <button class="bg-body accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_03_3" aria-expanded="false" aria-controls="collapse_03_3">
                                                Can I try before I buy?
                                            </button>
                                        </p>
                                        <div id="collapse_03_3" class="accordion-collapse collapse" aria-labelledby="heading_03_3" data-bs-parent="#accordionExample_03">
                                            <div class="accordion-body">
                                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>