<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top navbar-transparent header-height",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Page Title -->
            @@include('./page-heading/_page-heading-01.html', {
                "title": "Testimonials",
            })
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3 my-3">
                            <div class="card overflow-hidden mb-4">
                                <div class="position-relative d-flex align-items-center bg-cover bg-no-repeat h-custom " style="--bs-h-custom:150px; background-image: url(../assets/img/team/team-1.jpg);">
                                    <div class="mask bg-primary opacity-50"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 fw-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-4 position-relative text-center">
                                    <div class="icon-md rounded-circle text-white bg-secondary mb-3"><i class="bi-quote"></i></div>
                                    <p class="m-0px">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 my-3">
                            <div class="card overflow-hidden mb-4">
                                <div class="position-relative d-flex align-items-center bg-cover bg-no-repeat h-custom " style="--bs-h-custom:150px; background-image: url(../assets/img/team/team-1.jpg);">
                                    <div class="mask bg-primary opacity-50"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 fw-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-4 position-relative text-center">
                                    <div class="icon-md rounded-circle text-white bg-secondary mb-3"><i class="bi-quote"></i></div>
                                    <p class="m-0px">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 my-3">
                            <div class="card overflow-hidden mb-4">
                                <div class="position-relative d-flex align-items-center bg-cover bg-no-repeat h-custom " style="--bs-h-custom:150px; background-image: url(../assets/img/team/team-1.jpg);">
                                    <div class="mask bg-primary opacity-50"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 fw-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-4 position-relative text-center">
                                    <div class="icon-md rounded-circle text-white bg-secondary mb-3"><i class="bi-quote"></i></div>
                                    <p class="m-0px">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 my-3">
                            <div class="card overflow-hidden mb-4">
                                <div class="position-relative d-flex align-items-center bg-cover bg-no-repeat h-custom " style="--bs-h-custom:150px; background-image: url(../assets/img/team/team-1.jpg);">
                                    <div class="mask bg-primary opacity-50"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="text-white m-0 fw-600">Nancy Bayers</h5>
                                        <label class="m-0 small text-white">Co-founder</label>
                                    </div>
                                </div>
                                <div class="mt-n4 px-4 pb-4 position-relative text-center">
                                    <div class="icon-md rounded-circle text-white bg-secondary mb-3"><i class="bi-quote"></i></div>
                                    <p class="m-0px">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 my-3">
                            <div class="border border-gray text-center mt-5 mb-4">
                                <div class="icon-lg text-white bg-secondary rounded-circle mt-n5">
                                    <i class="bi-quote"></i>
                                </div>
                                <div class="p-4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    <h5 class="h6 m-0">Nancy Bayers</h5>
                                    <label class="fw-600 small m-0">Co-founder</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 my-3">
                            <div class="border border-gray text-center mt-5 mb-4">
                                <div class="icon-lg text-white bg-secondary rounded-circle mt-n5">
                                    <i class="bi-quote"></i>
                                </div>
                                <div class="p-4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    <h5 class="h6 m-0">Nancy Bayers</h5>
                                    <label class="fw-600 small m-0">Co-founder</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 my-3">
                            <div class="border border-gray text-center mt-5 mb-4">
                                <div class="icon-lg text-white bg-secondary rounded-circle mt-n5">
                                    <i class="bi-quote"></i>
                                </div>
                                <div class="p-4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    <h5 class="h6 m-0">Nancy Bayers</h5>
                                    <label class="fw-600 small m-0">Co-founder</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- section -->
            <section class="section pb-0 bg-gray-100">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 text-center d-none d-md-block">
                            <img src="../assets/img/about/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card card-body shadow border-0">
                                <div class="icon-lg bg-primary text-white rounded-circle mb-5">
                                    <i class="bi-quote"></i>
                                </div>
                                <p class="fs-lg">This theme aute irure dolor in reprehe erit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur for the life sint occaecat cupidatat non proident, sunt in culpa qui officia de est laborum.</p>
                                <div class="pt-2">
                                    <h6 class="m-0">Dick Grayson</h6>
                                    <label class="small">Co-founder of PxDraft</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- section -->
            <section class="border-bottom border-top">
                <div class="container">
                    <div class="separated row">
                        <div class="col-md-6">
                            <div class="text-center p-5 py-lg-12 px-lg-10">
                                <div class="mb-4 d-inline-block avatar-xl rounded-circle overflow-hidden">
                                    <img src="../assets/img/avatar/avatar-1.jpg" title="" alt="">
                                </div>
                                <p class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups, web studio and creative agencies, musicians, architects, etc</p>
                                <div class="p-5px-t">
                                    <h6 class="dark-color m-0px">Martin Luther</h6>
                                    <span>Sr. Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center p-5 py-lg-12 px-lg-10">
                                <div class="mb-4 d-inline-block avatar-xl rounded-circle overflow-hidden">
                                    <img src="../assets/img/avatar/avatar-1.jpg" title="" alt="">
                                </div>
                                <p class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups, web studio and creative agencies, musicians, architects, etc</p>
                                <div class="p-5px-t">
                                    <h6 class="dark-color m-0px">Martin Luther</h6>
                                    <span>Sr. Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-4">
                            <div class="shadow hover-top bg-body rounded-3 px-4 px-lg-7 py-6 text-center">
                                <div class="avatar-xl d-inline-block rounded-circle overflow-hidden">
                                    <img src="../assets/img/avatar/avatar-1.jpg" title="" alt="">
                                </div>
                                <div class="mt-n4 position-relative text-center">
                                    <div class="icon-md text-white bg-secondary rounded-circle mb-3"><i class="bi-quote"></i></div>
                                    <p>Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                                    <h5 class="h6 m-0">Nancy Bayers</h5>
                                    <label class="fw-600 small m-0">Co-founder</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shadow hover-top bg-body rounded-3 px-4 px-lg-7 py-6 text-center">
                                <div class="avatar-xl d-inline-block rounded-circle overflow-hidden">
                                    <img src="../assets/img/avatar/avatar-1.jpg" title="" alt="">
                                </div>
                                <div class="mt-n4 position-relative text-center">
                                    <div class="icon-md text-white bg-secondary rounded-circle mb-3"><i class="bi-quote"></i></div>
                                    <p>Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                                    <h5 class="h6 m-0">Nancy Bayers</h5>
                                    <label class="fw-600 small m-0">Co-founder</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="shadow hover-top bg-body rounded-3 px-4 px-lg-7 py-6 text-center">
                                <div class="avatar-xl d-inline-block rounded-circle overflow-hidden">
                                    <img src="../assets/img/avatar/avatar-1.jpg" title="" alt="">
                                </div>
                                <div class="mt-n4 position-relative text-center">
                                    <div class="icon-md text-white bg-secondary rounded-circle mb-3"><i class="bi-quote"></i></div>
                                    <p>Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                                    <h5 class="h6 m-0">Nancy Bayers</h5>
                                    <label class="fw-600 small m-0">Co-founder</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>