<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top navbar-transparent header-height",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Page Title -->
            @@include('./page-heading/_page-heading-01.html', {
                "title": "Client",
            })
            <!-- Section -->
            <div class="section">
                <div class="container">
                    <div class="row separated">
                        <div class="col-6 col-lg-3">
                            <div class="p-4 p-xl-7 p-lg-6 text-center">
                                <img src="../assets/img/brand/paypal.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="p-4 p-xl-7 p-lg-6 text-center">
                                <img src="../assets/img/brand/spotify.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="p-4 p-xl-7 p-lg-6 text-center">
                                <img src="../assets/img/brand/slack.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="p-4 p-xl-7 p-lg-6 text-center">
                                <img src="../assets/img/brand/amazon.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="p-4 p-xl-7 p-lg-6 text-center">
                                <img src="../assets/img/brand/airbnb.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="p-4 p-xl-7 p-lg-6 text-center">
                                <img src="../assets/img/brand/slack.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="p-4 p-xl-7 p-lg-6 text-center">
                                <img src="../assets/img/brand/spotify.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="p-4 p-xl-7 p-lg-6 text-center">
                                <img src="../assets/img/brand/paypal.svg" title="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End section -->
            <!-- Section -->
            <div class="section bg-gray-100">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-lg-3 my-3">
                            <div class="bg-body shadow p-4 p-xl-7 p-lg-6 rounded">
                                <img src="../assets/img/brand/paypal.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 my-3">
                            <div class="bg-body shadow p-4 p-xl-7 p-lg-6 rounded">
                                <img src="../assets/img/brand/amazon.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 my-3">
                            <div class="bg-body shadow p-4 p-xl-7 p-lg-6 rounded">
                                <img src="../assets/img/brand/slack.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 my-3">
                            <div class="bg-body shadow p-4 p-xl-7 p-lg-6 rounded">
                                <img src="../assets/img/brand/spotify.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 my-3">
                            <div class="bg-body shadow p-4 p-xl-7 p-lg-6 rounded">
                                <img src="../assets/img/brand/airbnb.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 my-3">
                            <div class="bg-body shadow p-4 p-xl-7 p-lg-6 rounded">
                                <img src="../assets/img/brand/slack.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 my-3">
                            <div class="bg-body shadow p-4 p-xl-7 p-lg-6 rounded">
                                <img src="../assets/img/brand/paypal.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 my-3">
                            <div class="bg-body shadow p-4 p-xl-7 p-lg-6 rounded">
                                <img src="../assets/img/brand/amazon.svg" title="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End section -->
            <!-- Section -->
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3 my-3">
                            <div class="hover-bottom-show rounded client-bg bg-no-repeat bg-cover h-custom" style="--bs-h-custom:250px; background-image: url(../assets/img/about/about-1.jpg);">
                                <div class="hover-bottom-show-in d-flex flex-column w-100 h-100 align-items-center justify-content-center text-center">
                                    <div class="hover-bottom-show-in mask bg-dark opacity-70"></div>
                                    <div class="p-4 position-relative z-1">
                                        <img src="../assets/img/brand/airbnb-white.svg" title="" alt="" height="35" class="mx-5">
                                        <p class="text-white m-0 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 my-3">
                            <div class="hover-bottom-show rounded client-bg bg-no-repeat bg-cover h-custom" style="--bs-h-custom:250px; background-image: url(../assets/img/about/about-1.jpg);">
                                <div class="hover-bottom-show-in d-flex flex-column w-100 h-100 align-items-center justify-content-center text-center">
                                    <div class="hover-bottom-show-in mask bg-dark opacity-70"></div>
                                    <div class="p-4 position-relative z-1">
                                        <img src="../assets/img/brand/spotify-white.svg" title="" alt="" height="35" class="mx-5">
                                        <p class="text-white m-0 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 my-3">
                            <div class="hover-bottom-show rounded client-bg bg-no-repeat bg-cover h-custom" style="--bs-h-custom:250px; background-image: url(../assets/img/about/about-1.jpg);">
                                <div class="hover-bottom-show-in d-flex flex-column w-100 h-100 align-items-center justify-content-center text-center">
                                    <div class="hover-bottom-show-in mask bg-dark opacity-70"></div>
                                    <div class="p-4 position-relative z-1">
                                        <img src="../assets/img/brand/slack-white.svg" title="" alt="" height="35" class="mx-5">
                                        <p class="text-white m-0 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 my-3">
                            <div class="hover-bottom-show rounded client-bg bg-no-repeat bg-cover h-custom" style="--bs-h-custom:250px; background-image: url(../assets/img/about/about-1.jpg);">
                                <div class="hover-bottom-show-in d-flex flex-column w-100 h-100 align-items-center justify-content-center text-center">
                                    <div class="hover-bottom-show-in mask bg-dark opacity-70"></div>
                                    <div class="p-4 position-relative z-1">
                                        <img src="../assets/img/brand/paypal-white.svg" title="" alt="" height="35" class="mx-5">
                                        <p class="text-white m-0 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End section -->
            
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>