<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top navbar-transparent header-height",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Page Title -->
            @@include('./page-heading/_page-heading-01.html', {
                "title": "Lists",
            })
            <!-- Section -->
            <div class="section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li class="d-flex py-1">Beautiful and easy to understand UI, professional animations <i class="bi-arrow-right text-primary ps-2 ms-auto align-self-start mt-1"></i></li>
                                <li class="d-flex py-1">Theme advantages are pixel perfect design &amp; clear code delivered <i class="bi-arrow-right text-primary ps-2 ms-auto align-self-start mt-1"></i></li>
                                <li class="d-flex py-1">Present your services with flexible, convenient and multipurpose <i class="bi-arrow-right text-primary ps-2 ms-auto align-self-start mt-1"></i></li>
                                <li class="d-flex py-1">Find more creative ideas for your projects <i class="bi-arrow-right text-primary ps-2 ms-auto align-self-start mt-1"></i></li>
                                <li class="d-flex py-1">Unlimited power and customization possibilities <i class="bi-arrow-right text-primary ps-2 ms-auto align-self-start mt-1"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End section -->
            <!-- Section -->
            <div class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li class="d-flex py-1"><i class="bi-arrow-right text-primary pe-2 align-self-start mt-1"></i>Beautiful and easy to understand UI, professional animations</li>
                                <li class="d-flex py-1"><i class="bi-arrow-right text-primary pe-2 align-self-start mt-1"></i>Theme advantages are pixel perfect design &amp; clear code delivered</li>
                                <li class="d-flex py-1"><i class="bi-arrow-right text-primary pe-2 align-self-start mt-1"></i>Present your services with flexible, convenient and multipurpose</li>
                                <li class="d-flex py-1"><i class="bi-arrow-right text-primary pe-2 align-self-start mt-1"></i>Find more creative ideas for your projects</li>
                                <li class="d-flex py-1"><i class="bi-arrow-right text-primary pe-2 align-self-start mt-1"></i>Unlimited power and customization possibilities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->
            <!-- Section -->
            <div class="section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li class="d-flex py-2"><span class="icon-sm bg-secondary text-white rounded-circle me-2"><i class="bi-arrow-right"></i></span>Beautiful and easy to understand UI, professional animations</li>
                                <li class="d-flex py-2"><span class="icon-sm bg-secondary text-white rounded-circle me-2"><i class="bi-arrow-right"></i></span>Theme advantages are pixel perfect design &amp; clear code delivered</li>
                                <li class="d-flex py-2"><span class="icon-sm bg-secondary text-white rounded-circle me-2"><i class="bi-arrow-right"></i></span>Present your services with flexible, convenient and multipurpose</li>
                                <li class="d-flex py-2"><span class="icon-sm bg-secondary text-white rounded-circle me-2"><i class="bi-arrow-right"></i></span>Find more creative ideas for your projects</li>
                                <li class="d-flex py-2"><span class="icon-sm bg-secondary text-white rounded-circle me-2"><i class="bi-arrow-right"></i></span>Unlimited power and customization possibilities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->
            <!-- Section -->
            <div class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li class="d-flex py-1"><i class="bi bi-check-circle-fill text-primary pe-2 align-self-start"></i>Beautiful and easy to understand UI, professional animations</li>
                                <li class="d-flex py-1"><i class="bi bi-check-circle-fill text-primary pe-2 align-self-start"></i>Theme advantages are pixel perfect design &amp; clear code delivered</li>
                                <li class="d-flex py-1"><i class="bi bi-check-circle-fill text-primary pe-2 align-self-start"></i>Present your services with flexible, convenient and multipurpose</li>
                                <li class="d-flex py-1"><i class="bi bi-check-circle-fill text-primary pe-2 align-self-start"></i>Find more creative ideas for your projects</li>
                                <li class="d-flex py-1"><i class="bi bi-check-circle-fill text-primary pe-2 align-self-start"></i>Unlimited power and customization possibilities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->
            <!-- Section -->
            <div class="section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li class="d-flex p-2 mb-2 rounded border"><i class="bi bi-check-circle-fill text-primary pe-2 align-self-start"></i>Beautiful and easy to understand UI, professional animations</li>
                                <li class="d-flex p-2 mb-2 rounded border"><i class="bi bi-check-circle-fill text-primary pe-2 align-self-start"></i>Theme advantages are pixel perfect design &amp; clear code delivered</li>
                                <li class="d-flex p-2 mb-2 rounded border"><i class="bi bi-check-circle-fill text-primary pe-2 align-self-start"></i>Present your services with flexible, convenient and multipurpose</li>
                                <li class="d-flex p-2 mb-2 rounded border"><i class="bi bi-check-circle-fill text-primary pe-2 align-self-start"></i>Find more creative ideas for your projects</li>
                                <li class="d-flex p-2 mb-2 rounded border"><i class="bi bi-check-circle-fill text-primary pe-2 align-self-start"></i>Unlimited power and customization possibilities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->
            <!-- Section -->
            <div class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li class="pb-3"><span class="d-block text-mode fw-600">Lable Title</span> Beautiful and easy to understand UI, professional animations</li>
                                <li class="pb-3"><span class="d-block text-mode fw-600">Lable Title</span> Theme advantages are pixel perfect design &amp; clear code delivered</li>
                                <li class="pb-3"><span class="d-block text-mode fw-600">Lable Title</span> Present your services with flexible, convenient and multipurpose</li>
                                <li class="pb-3"><span class="d-block text-mode fw-600">Lable Title</span> Find more creative ideas for your projects</li>
                                <li class="pb-3"><span class="d-block text-mode fw-600">Lable Title</span> Unlimited power and customization possibilities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>