<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top navbar-transparent header-height",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Page Title -->
            @@include('./page-heading/_page-heading-01.html', {
                "title": "Team",
            })
             <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden rounded">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded-circle me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 my-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <div class="hover-top-in text-center">
                                <div class="overflow-hidden z-index-1 position-relative px-5">
                                    <img class="rounded-circle border border-5 border-white shadow" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded-3 position-relative mt-n4 bg-body p-4 pt-6 mx-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 my-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            <div class="hover-top-in text-center">
                                <div class="overflow-hidden z-index-1 position-relative px-5">
                                    <img class="rounded-circle border border-5 border-white shadow" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded-3 position-relative mt-n4 bg-body p-4 pt-6 mx-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 my-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                            <div class="hover-top-in text-center">
                                <div class="overflow-hidden z-index-1 position-relative px-5">
                                    <img class="rounded-circle border border-5 border-white shadow" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded-3 position-relative mt-n4 bg-body p-4 pt-6 mx-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 my-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                            <div class="hover-top-in text-center">
                                <div class="overflow-hidden z-index-1 position-relative px-5">
                                    <img class="rounded-circle border border-5 border-white shadow" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded-3 position-relative mt-n4 bg-body p-4 pt-6 mx-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden px-4">
                                    <img class="rounded-circle" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden px-4">
                                    <img class="rounded-circle" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden px-4">
                                    <img class="rounded-circle" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.1s">
                            <div class="hover-top-in">
                                <div class="overflow-hidden px-4">
                                    <img class="rounded-circle" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded position-relative mt-n4 bg-body p-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary text-white rounded me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-3 col-sm-6">
                            <div class="hover-top p-3 bg-body shadow shadow-lg-hover wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                                <div class="">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="pt-3">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="hover-top p-3 bg-body shadow shadow-lg-hover wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                                <div class="">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="pt-3">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="hover-top p-3 bg-body shadow shadow-lg-hover wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                                <div class="">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="pt-3">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="hover-top p-3 bg-body shadow shadow-lg-hover wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                                <div class="">
                                    <img src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="pt-3">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm bg-secondary rounded-circle text-white me-1" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>