<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
    "path": "",
    "FontsURL":
    "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
    "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_classic_header_02.html',{
        "path": "..",
        "imgPath": "../../assets",
        "HeaderClass": "navbar-light fixed-top navbar-transparent",
        "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            
            <!-- Home Section -->
            <section id="home" class="effect-section bg-primary effect-section">
                <div class="position-absolute top-0 end-0 start-0 bottom-0 bg-cover bg-no-repeat opacity-10 bg-fixed" style="background-image: url(../assets/img/effect/ef-bg-2.png);"></div>
                <div class="container position-relative">
                    <div class="row justify-content-center align-items-center section min-vh-100">
                        <div class="col-lg-7 text-center">
                            <h2 class="display-3 text-white fw-300 mb-4">It's time to amplify <br /><span class="typed fw-700" data-elements="Creativity, Awesomeness,"></span>.</h2>
                            <p class="fs-xl text-white text-opacity-85">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="pt-3">
                                <a class="btn btn-white me-2" href="#">Learn More</a>
                                <a class="btn btn-outline-white" href="#">Live Video</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="links-white">
                    <a href="#about" class="mouse"></a>
                </div>
            </section>
            <!-- End Home Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row align-items-center align-items-center justify-content-between">
                        <div class="col-lg-5 pe-xxl-10">
                            <h3 class="h1 mb-2">A new standard in analysis</h3>
                            <p class="fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                            <div class="pt-2">
                                <a class="btn btn-primary" href="#">Know More</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="rounded bg-body shadow overflow-hidden">
                                        <div>
                                            <img src="../assets/img/home/about-1.jpg" title="" alt="">
                                        </div>
                                        <div class="d-flex p-3 align-items-center">
                                            <div class="icon-md bg-primary rounded-circle text-white">
                                                <span>RR</span>
                                            </div>
                                            <div class="col ps-3">
                                                <h6 class="m-0">Rachel Roth</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="rounded bg-body shadow overflow-hidden">
                                        <div class="p-4">
                                            <img src="../assets/img/brand/brand-1.svg" title="" alt="">
                                        </div>
                                        <div class="p-3 text-center">
                                            <div class="text-center text-warning mb-2">
                                                <i class="bi-star"></i>
                                                <i class="bi-star"></i>
                                                <i class="bi-star"></i>
                                                <i class="bi-star"></i>
                                                <i class="bi-star"></i>
                                            </div>
                                            <h6 class="mb-0">4.50 out of 5 stars</h6>
                                            <span>from 30 reviews</span>
                                        </div>
                                    </div>
                                    <div class="d-flex p-3 align-items-center rounded bg-body shadow mt-3">
                                        <div class="icon-md bg-primary rounded-circle text-white">
                                            <i class="bi-person-circle"></i>
                                        </div>
                                        <div class="col ps-3">
                                            <h6 class="m-0">500+ Active Users</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-7 text-center">
                            <h3 class="h1 mb-1">Greatly simplified <span class="text-primary">workflow</span></h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="row tab-style-7">
                        <div class="col-lg-5 pe-xxl-10">
                            <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                                <li class="nav-item m-0 mb-3" role="presentation">
                                    <button class="nav-link active text-start" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                        <div class="d-flex">
                                            <div class="icon-md bg-white rounded border border-primary rounded-circle">
                                                <span class="text-primary fw-700">1</span>
                                            </div>
                                            <div class="col ps-3">
                                                <h6 class="mb-1">Create an account</h6>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                        </div>
                                    </button>
                                </li>
                                <li class="nav-item m-0 mb-3" role="presentation">
                                    <button class="nav-link text-start" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                        <div class="d-flex">
                                            <div class="icon-md bg-white rounded border border-primary rounded-circle">
                                                <span class="text-primary fw-700">2</span>
                                            </div>
                                            <div class="col ps-3">
                                                <h6 class="mb-1">Start a project</h6>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                        </div>
                                    </button>
                                </li>
                                <li class="nav-item m-0 mb-3" role="presentation">
                                    <button class="nav-link text-start" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                                        <div class="d-flex">
                                            <div class="icon-md bg-white rounded border border-primary rounded-circle">
                                                <span class="text-primary fw-700">3</span>
                                            </div>
                                            <div class="col ps-3">
                                                <h6 class="mb-1">Deploy and conquer</h6>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                        </div>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-7">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                    <img src="../assets/img/home/laptop.jpg" title="" alt="">
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                    <img src="../assets/img/home/laptop.jpg" title="" alt="">
                                </div>
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                                    <img src="../assets/img/home/laptop.jpg" title="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-primary effect-section">
                <div class="position-absolute top-0 end-0 start-0 bottom-0 bg-cover bg-no-repeat opacity-10 bg-fixed" style="background-image: url(../assets/img/effect/ef-bg-2.png);"></div>
                <div class="container position-relative">
                    <div class="row gy-4 justify-content-between align-items-center">
                        <div class="col-lg-5">
                            <h6 class="text-white text-opacity-85">Unique digital experiences</h6>
                            <h3 class="h1 text-white">Your technical partner towards web success</h3>
                            <p class="text-white text-opacity-85">Lorem Ipsum is simply dummy text of Ipsum the printing and typesetting industry. It has survived not & only five centuries, but also the leap into electronic essentially unchanged and Lorem Ipsum is simply of the printing & typesetting industry. Lorem Ipsum is dummy text of the printing & typesetting industry.has survived not only five centuries.</p>
                            <a class="btn btn-outline-white" href="#">Read More</a>
                        </div>
                        <div class="col-lg-6">
                            <div class="row g-2">
                                <div class="col">
                                    <img src="../assets/img/home/about-1.jpg" title="" alt="">
                                </div>
                                <div class="col">
                                    <img src="../assets/img/home/about-1.jpg" title="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="py-8">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="icon-lg text-primary">
                                    <i class="bi-heart display-5 lh-1"></i>
                                </div>
                                <div class="col ps-3 border-start ms-3">
                                    <h6 class="purecounter mb-0 h2" data-purecounter-start="0" data-purecounter-end="4650"></h6>
                                    <span>Happy Clients</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="icon-lg text-primary">
                                    <i class="bi-laptop display-5 lh-1"></i>
                                </div>
                                <div class="col ps-3 border-start ms-3">
                                    <h6 class="purecounter mb-0 h2" data-purecounter-start="0" data-purecounter-end="3790"></h6>
                                    <span>Project Completed</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="icon-lg text-primary">
                                    <i class="bi-camera display-5 lh-1"></i>
                                </div>
                                <div class="col ps-3 border-start ms-3">
                                    <h6 class="purecounter mb-0 h2" data-purecounter-start="0" data-purecounter-end="5580"></h6>
                                    <span>Photo Capture</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex align-items-center">
                                <div class="icon-lg text-primary">
                                    <i class="bi-headset display-5 lh-1"></i>
                                </div>
                                <div class="col ps-3 border-start ms-3">
                                    <h6 class="purecounter mb-0 h2" data-purecounter-start="0" data-purecounter-end="8580"></h6>
                                    <span>Telephonic Talk</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-7 text-center">
                            <h3 class="h1 mb-1">New stunning projects for our <span class="text-primary">amazing clients</span></h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <ul class="link-style-01 filter justify-content-center nav">
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".branding">Branding</li>
                            <li data-filter=".photoshop">Photoshop</li>
                            <li data-filter=".fashion">Fashion</li>
                            <li data-filter=".product">Product</li>
                        </ul>
                    </div>
                    <div class="portfolio-content row g-3 lightbox-gallery">
                        <div class="grid-item col-lg-4 col-sm-6 product branding">
                            <div class="bg-body p-3 hover-scale rounded-3 shadow">
                                <div class="portfolio-img hover-scale-in hover-opacity-1 position-relative overflow-hidden">
                                    <img src="../assets/img/home/project-1.jpg" title="" alt="">
                                    <div class="d-flex align-items-center justify-content-center hover-opacity-in position-absolute top-0 end-0 start-0 bottom-0 bg-black bg-opacity-80 rounded-3">
                                        <a class="icon-md bg-white text-dark rounded-circle" href="#"><i class="bi-link"></i></a>
                                        <a href="../assets/img/home/project-1.jpg" class="icon-md bg-white text-dark rounded-circle ms-3 gallery-link"><i class="bi-search"></i></a>
                                    </div>
                                </div>
                                <div class="pt-3 text-center">
                                    <h5 class="mb-3"><a class="text-reset" href="#">Our Photography</a></h5>
                                    <div class="nav justify-content-center">
                                        <a class="bg-secondary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">Design</a>
                                        <a class="bg-primary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">HTML</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-lg-4 col-sm-6 product branding">
                            <div class="bg-body p-3 hover-scale rounded-3 shadow">
                                <div class="portfolio-img hover-scale-in hover-opacity-1 position-relative overflow-hidden">
                                    <img src="../assets/img/home/project-1.jpg" title="" alt="">
                                    <div class="d-flex align-items-center justify-content-center hover-opacity-in position-absolute top-0 end-0 start-0 bottom-0 bg-black bg-opacity-80 rounded-3">
                                        <a class="icon-md bg-white text-dark rounded-circle" href="#"><i class="bi-link"></i></a>
                                        <a href="../assets/img/home/project-1.jpg" class="icon-md bg-white text-dark rounded-circle ms-3 gallery-link"><i class="bi-search"></i></a>
                                    </div>
                                </div>
                                <div class="pt-3 text-center">
                                    <h5 class="mb-3"><a class="text-reset" href="#">Our Photography</a></h5>
                                    <div class="nav justify-content-center">
                                        <a class="bg-secondary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">Design</a>
                                        <a class="bg-primary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">HTML</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-lg-4 col-sm-6 product branding photoshop">
                            <div class="bg-body p-3 hover-scale rounded-3 shadow">
                                <div class="portfolio-img hover-scale-in hover-opacity-1 position-relative overflow-hidden">
                                    <img src="../assets/img/home/project-1.jpg" title="" alt="">
                                    <div class="d-flex align-items-center justify-content-center hover-opacity-in position-absolute top-0 end-0 start-0 bottom-0 bg-black bg-opacity-80 rounded-3">
                                        <a class="icon-md bg-white text-dark rounded-circle" href="#"><i class="bi-link"></i></a>
                                        <a href="../assets/img/home/project-1.jpg" class="icon-md bg-white text-dark rounded-circle ms-3 gallery-link"><i class="bi-search"></i></a>
                                    </div>
                                </div>
                                <div class="pt-3 text-center">
                                    <h5 class="mb-3"><a class="text-reset" href="#">Our Photography</a></h5>
                                    <div class="nav justify-content-center">
                                        <a class="bg-secondary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">Design</a>
                                        <a class="bg-primary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">HTML</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-lg-4 col-sm-6 branding photoshop">
                            <div class="bg-body p-3 hover-scale rounded-3 shadow">
                                <div class="portfolio-img hover-scale-in hover-opacity-1 position-relative overflow-hidden">
                                    <img src="../assets/img/home/project-1.jpg" title="" alt="">
                                    <div class="d-flex align-items-center justify-content-center hover-opacity-in position-absolute top-0 end-0 start-0 bottom-0 bg-black bg-opacity-80 rounded-3">
                                        <a class="icon-md bg-white text-dark rounded-circle" href="#"><i class="bi-link"></i></a>
                                        <a href="../assets/img/home/project-1.jpg" class="icon-md bg-white text-dark rounded-circle ms-3 gallery-link"><i class="bi-search"></i></a>
                                    </div>
                                </div>
                                <div class="pt-3 text-center">
                                    <h5 class="mb-3"><a class="text-reset" href="#">Our Photography</a></h5>
                                    <div class="nav justify-content-center">
                                        <a class="bg-secondary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">Design</a>
                                        <a class="bg-primary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">HTML</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-lg-4 col-sm-6 fashion">
                            <div class="bg-body p-3 hover-scale rounded-3 shadow">
                                <div class="portfolio-img hover-scale-in hover-opacity-1 position-relative overflow-hidden">
                                    <img src="../assets/img/home/project-1.jpg" title="" alt="">
                                    <div class="d-flex align-items-center justify-content-center hover-opacity-in position-absolute top-0 end-0 start-0 bottom-0 bg-black bg-opacity-80 rounded-3">
                                        <a class="icon-md bg-white text-dark rounded-circle" href="#"><i class="bi-link"></i></a>
                                        <a href="../assets/img/home/project-1.jpg" class="icon-md bg-white text-dark rounded-circle ms-3 gallery-link"><i class="bi-search"></i></a>
                                    </div>
                                </div>
                                <div class="pt-3 text-center">
                                    <h5 class="mb-3"><a class="text-reset" href="#">Our Photography</a></h5>
                                    <div class="nav justify-content-center">
                                        <a class="bg-secondary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">Design</a>
                                        <a class="bg-primary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">HTML</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-lg-4 col-sm-6 product fashion">
                            <div class="bg-body p-3 hover-scale rounded-3 shadow">
                                <div class="portfolio-img hover-scale-in hover-opacity-1 position-relative overflow-hidden">
                                    <img src="../assets/img/home/project-1.jpg" title="" alt="">
                                    <div class="d-flex align-items-center justify-content-center hover-opacity-in position-absolute top-0 end-0 start-0 bottom-0 bg-black bg-opacity-80 rounded-3">
                                        <a class="icon-md bg-white text-dark rounded-circle" href="#"><i class="bi-link"></i></a>
                                        <a href="../assets/img/home/project-1.jpg" class="icon-md bg-white text-dark rounded-circle ms-3 gallery-link"><i class="bi-search"></i></a>
                                    </div>
                                </div>
                                <div class="pt-3 text-center">
                                    <h5 class="mb-3"><a class="text-reset" href="#">Our Photography</a></h5>
                                    <div class="nav justify-content-center">
                                        <a class="bg-secondary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">Design</a>
                                        <a class="bg-primary px-3 py-1 rounded-pill text-white fs-sm mx-1" href="#">HTML</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-primary effect-section">
                <div class="position-absolute top-0 end-0 start-0 bottom-0 bg-cover bg-no-repeat opacity-10 bg-fixed" style="background-image: url(../assets/img/effect/ef-bg-2.png);"></div>
                <div class="container position-relative">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <img src="../assets/img/home/laptop.jpg" title="" alt="">
                        </div>
                        <div class="col-lg-6 ps-xl-7">
                            <h3 class="h1 text-white mb-3">We are Startup Creative Luper Agency</h3>
                            <p class="fs-lg text-white text-opacity-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul class="list-unstyled m-0 pt-2 pb-4">
                                <li class="d-flex py-1">
                                    <div class="icon-sm bg-secondary text-white rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3 text-white">Beautiful and easy to understand UI, professional animations</div>
                                </li>
                                <li class="d-flex py-1">
                                    <div class="icon-sm bg-secondary text-white rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3 text-white">Theme advantages are pixel perfect design & clear code delivered</div>
                                </li>
                                <li class="d-flex py-1">
                                    <div class="icon-sm bg-secondary text-white rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3 text-white">Present your services with flexible, convenient and multipurpose</div>
                                </li>
                            </ul>
                            <a class="btn btn-outline-white" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-7 text-center">
                            <h3 class="h1 mb-1">Our <span class="text-primary">Advisors</span></h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale rounded-3 bg-body shadow p-2 hover-top">
                                <div class="hover-scale-in rounded-3 overflow-hidden">
                                    <img class="w-100" src="../assets/img/home/avatra-1.jpg" title="" alt="">
                                </div>
                                <div class="py-3 text-center">
                                    <h6>Dick Grayson</h6>
                                    <span>Co-Founder</span>
                                    <div class="nav pt-2 justify-content-center">
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-instagram"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale rounded-3 bg-body shadow p-2 hover-top">
                                <div class="hover-scale-in rounded-3 overflow-hidden">
                                    <img class="w-100" src="../assets/img/home/avatra-2.jpg" title="" alt="">
                                </div>
                                <div class="py-3 text-center">
                                    <h6>Dick Grayson</h6>
                                    <span>Co-Founder</span>
                                    <div class="nav pt-2 justify-content-center">
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-instagram"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale rounded-3 bg-body shadow p-2 hover-top">
                                <div class="hover-scale-in rounded-3 overflow-hidden">
                                    <img class="w-100" src="../assets/img/home/avatra-3.jpg" title="" alt="">
                                </div>
                                <div class="py-3 text-center">
                                    <h6>Dick Grayson</h6>
                                    <span>Co-Founder</span>
                                    <div class="nav pt-2 justify-content-center">
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-instagram"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale rounded-3 bg-body shadow p-2 hover-top">
                                <div class="hover-scale-in rounded-3 overflow-hidden">
                                    <img class="w-100" src="../assets/img/home/avatra-4.jpg" title="" alt="">
                                </div>
                                <div class="py-3 text-center">
                                    <h6>Dick Grayson</h6>
                                    <span>Co-Founder</span>
                                    <div class="nav pt-2 justify-content-center">
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-instagram"></i></a>
                                        <a class="icon-sm btn btn-outline-primary p-0 rounded-circle me-2" href="#"><i class="bi-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 min-vh-50 bg-cover bg-center bg-no-repeat" style="background-image: url(../assets/img/home/about-1.jpg);"></div>
                        <div class="col-lg-6 bg-primary d-flex align-items-center py-lg-8">
                            <div class="w-lg-85 w-xxl-60 p-5 ps-lg-8">
                                <h3 class="h1 text-white mb-4">We design brand, digital experience that engage the right customers.</h3>
                                <p class="text-white text-opacity-85 pb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
                                <a class="btn btn-outline-white" href="#">All Advantages</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-7 text-center">
                            <h3 class="h1 mb-1">Simple, Straight <span class="text-primary">Pricing</span></h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="row align-items-center gy-4">
                        <div class="col-sm-6 col-lg-3">
                            <div class="shadow shadow-lg-hover px-4 py-6 bg-body hover-top border rounded-3">
                                <div class="pb-3 mb-3 border-bottom">
                                    <h5 class="m-0 h1">$45</h5>
                                </div>
                                <h6 class="mb-2">Basic Package</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> 10 GB of Space</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Projects</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Users</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Datas</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited File Recovery</li>
                                </ul>
                                <div class="pt-4 mt-3 border-top"><a href="#" class="btn btn-primary">Sign Up</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="shadow shadow-lg-hover px-4 py-6 bg-body hover-top border rounded-3">
                                <div class="pb-3 mb-3 border-bottom">
                                    <h5 class="m-0 h1">$45</h5>
                                </div>
                                <h6 class="mb-2">Basic Package</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> 10 GB of Space</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Projects</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Users</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Datas</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited File Recovery</li>
                                </ul>
                                <div class="pt-4 mt-3 border-top"><a href="#" class="btn btn-primary">Sign Up</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="shadow shadow-lg-hover px-4 py-6 bg-body hover-top border rounded-3">
                                <div class="pb-3 mb-3 border-bottom"><label class="bg-secondary text-white px-4 py-1 mb-4 ms-n5">Popular Choice</label>
                                    <h5 class="m-0 h1">$45</h5>
                                </div>
                                <h6 class="mb-2">Basic Package</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> 10 GB of Space</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Projects</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Users</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Datas</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited File Recovery</li>
                                </ul>
                                <div class="pt-4 mt-3 border-top"><a href="#" class="btn btn-secondary">Sign Up</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="shadow shadow-lg-hover px-4 py-6 bg-body hover-top border rounded-3">
                                <div class="pb-3 mb-3 border-bottom">
                                    <h5 class="m-0 h1">$45</h5>
                                </div>
                                <h6 class="mb-2">Basic Package</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> 10 GB of Space</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Projects</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Users</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited Datas</li>
                                    <li class="py-2"><i class="bi-check-circle-fill text-secondary me-1"></i> Unlimited File Recovery</li>
                                </ul>
                                <div class="pt-4 mt-3 border-top"><a href="#" class="btn btn-primary">Sign Up</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-cover bg-no-repeat bg-center effect-section bg-fixed" style="background-image: url(../assets/img/home/about-1.jpg);">
                <div class="bg-black bg-opacity-70 position-absolute top-0 start-0 end-0 bottom-0"></div>
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 text-center">
                            <a class="video-btn icon-xl rounded-circle text-white bg-white after-shadow" href="https://www.youtube.com/watch?v=dNIfsv1rKJo">
                                <i class="bi-play-fill text-primary"></i>
                            </a>
                            <h3 class="display-5 pt-4 text-white pb-3">Beautiful and easy to use UI, professional animations and drag & drop feature</h3>
                            <p class="text-white text-opacity-85 pb-2">The code is so clear and professional, No bugs so far, and the guy behind it is very helpful, I highly recommend this code if you want to have a professional Vcard.</p>
                            <a class="btn btn-outline-white" href="#">More About</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-7 text-center">
                            <h3 class="h1 mb-1">What client <span class="text-primary">says about us</span></h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="swiper swiper-container wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s" data-swiper-options='{
                          "slidesPerView": 1,
                          "spaceBetween": 24,
                          "pagination": {
                            "el": ".swiper-pagination",
                            "clickable": true
                          },
                          "breakpoints": {
                            "650": {
                              "slidesPerView": 2
                            },
                            "991": {
                              "slidesPerView": 2
                            },
                            "1024": {
                              "slidesPerView": 3
                            }
                          }
                        }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="border text-center mt-5 mb-4 rounded-3 bg-body">
                                    <div class="icon-lg bg-secondary text-white rounded-circle mt-n5"><i class="bi bi-quote"></i></div>
                                    <div class="p-4">
                                        <p>Luper is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                                        <h5 class="h6 m-0">Nancy Bayers</h5><label class="fw-600 small m-0">Co-founder</label>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="border text-center mt-5 mb-4 rounded-3 bg-body">
                                    <div class="icon-lg bg-secondary text-white rounded-circle mt-n5"><i class="bi bi-quote"></i></div>
                                    <div class="p-4">
                                        <p>Luper is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                                        <h5 class="h6 m-0">Nancy Bayers</h5><label class="fw-600 small m-0">Co-founder</label>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="border text-center mt-5 mb-4 rounded-3 bg-body">
                                    <div class="icon-lg bg-secondary text-white rounded-circle mt-n5"><i class="bi bi-quote"></i></div>
                                    <div class="p-4">
                                        <p>Luper is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                                        <h5 class="h6 m-0">Nancy Bayers</h5><label class="fw-600 small m-0">Co-founder</label>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="border text-center mt-5 mb-4 rounded-3 bg-body">
                                    <div class="icon-lg bg-secondary text-white rounded-circle mt-n5"><i class="bi bi-quote"></i></div>
                                    <div class="p-4">
                                        <p>Luper is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                                        <h5 class="h6 m-0">Nancy Bayers</h5><label class="fw-600 small m-0">Co-founder</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination position-relative mt-2"></div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-7 text-center">
                            <h3 class="h1 mb-1">Our Company <span class="text-primary">News</span></h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-lg-4">
                            <div class="card shadow-hover hover-scale overflow-hidden">
                                <div class="hover-scale-in">
                                    <a href="#">
                                        <img class="card-img-top" src="../assets/img/home/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                                <div class="card-body p-4">
                                    <div class="d-flex lh-1 fs-sm pb-3">
                                        <span>Dick Grayson</span>
                                        <span class="vr mx-3 py-1"></span>
                                        <span>07 Jan 2022</span>
                                    </div>
                                    <h5 class="mb-2"><a class="text-reset" href="#">Make your Marketing website</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="link-effect fw-600" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow-hover hover-scale overflow-hidden">
                                <div class="hover-scale-in">
                                    <a href="#">
                                        <img class="card-img-top" src="../assets/img/home/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                                <div class="card-body p-4">
                                    <div class="d-flex lh-1 fs-sm pb-3">
                                        <span>Dick Grayson</span>
                                        <span class="vr mx-3 py-1"></span>
                                        <span>07 Jan 2022</span>
                                    </div>
                                    <h5 class="mb-2"><a class="text-reset" href="#">Make your Marketing website</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="link-effect fw-600" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow-hover hover-scale overflow-hidden">
                                <div class="hover-scale-in">
                                    <a href="#">
                                        <img class="card-img-top" src="../assets/img/home/blog-1.jpg" title="" alt="">
                                    </a>
                                </div>
                                <div class="card-body p-4">
                                    <div class="d-flex lh-1 fs-sm pb-3">
                                        <span>Dick Grayson</span>
                                        <span class="vr mx-3 py-1"></span>
                                        <span>07 Jan 2022</span>
                                    </div>
                                    <h5 class="mb-2"><a class="text-reset" href="#">Make your Marketing website</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="link-effect fw-600" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-7 text-center">
                            <h3 class="h1 mb-1">Get In <span class="text-primary">Touch</span></h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card shadow-lg">
                                <div class="card-body p-4 p-lg-6">
                                    <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="assets/vendor/mail/bat/rd-mailform.php">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label class="form-label" for="contact-name">Your Name</label>
                                                <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label" for="contact-email">Email Address</label>
                                                <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label" for="contact-phone">Phone (optional)</label>
                                                <input type="tel" name="contact-phone" class="form-control" placeholder="+01 888 888 6666" id="contact-phone">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label" for="contact-subject">Subject</label>
                                                <input id="contact-subject" type="text" name="subject" placeholder="Your Subject" data-constraints="@Required" class="form-control">
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label" for="contact-message">Message</label>
                                                <textarea class="form-control w-100" id="contact-message" name="message" rows="3" placeholder="Hi there, I would like to ..." data-constraints="@Required" style="height: 150px"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary" type="submit" name="send">Get Started</button>
                                                <div class="snackbars" id="form-output-global"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
        "path": ".",
        "imgPath": "../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>