<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
    "path": "",
    "FontsURL":
    "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
    "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <div class="header-height-bar"></div>
        <!-- Header -->
        @@include('./header/_classic_header_02.html',{
        "path": "..",
        "imgPath": "../../assets",
        "HeaderClass": "navbar-light shadow fixed-top bg-body header-height",
        "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            
            <!-- Home Section -->
            <section class="effect-section py-8 bg-gray-g">
                <div class="position-absolute top-0 bottom-0 start-0 end-0 bg-center bg-no-repeat opacity-4" style="background-image: url(../assets/img/effect/map-bg.png);"></div>
                <div class="container position-relative">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 pe-lg-7">
                            <h1 class="display-4 mb-3">Speed up your <mark class="text-primary">development</mark> with Luper</h1>
                            <p class="fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                            <div class="d-flex pt-3">
                                <a class="btn btn-primary me-3" href="#">Lest Start</a>
                                <a class="btn btn-secondary" href="#">Learn More</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img class="lg-img-140" src="../assets/img/home/about-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Home Section -->
            <!-- Section -->
            <div class="section">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-8 text-center">
                            <h3 class="h1">We Develop Digital Products!</h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-lg-4">
                            <div class="card hover-top shadow-hover">
                                <div class="card-body">
                                    <div>
                                        <img src="../assets/img/home/about-1.jpg" title="" alt="">
                                    </div>
                                    <h5 class="mb-2">Unleash you creativity</h5>
                                    <p class="mb-0">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card hover-top shadow-hover">
                                <div class="card-body">
                                    <div>
                                        <img src="../assets/img/home/about-1.jpg" title="" alt="">
                                    </div>
                                    <h5 class="mb-2">Mail Integration</h5>
                                    <p class="mb-0">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card hover-top shadow-hover">
                                <div class="card-body">
                                    <div>
                                        <img src="../assets/img/home/about-1.jpg" title="" alt="">
                                    </div>
                                    <h5 class="mb-2">Build with Love</h5>
                                    <p class="mb-0">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section -->
            <!-- Section -->
            <section class="section pt-0">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-6">
                            <img src="../assets/img/home/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-lg-5 ps-xl-8">
                            <h3 class="h2 mb-3">We deliver the high quality end results you need!</h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose.</p>
                            <div class="pt-3">
                                <div class="d-flex align-items-center py-1">
                                    <div class="icon-sm bg-secondary bg-opacity-20 text-secondary rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3 fw-600">
                                        Perfect for modern startups
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="icon-sm bg-primary bg-opacity-20 text-primary rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3 fw-600">
                                        Ready to be customized
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="icon-sm bg-danger bg-opacity-20 text-danger rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3 fw-600">
                                        Designed for every devices
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section effect-section">
                <div class="position-absolute top-0 mask-65 start-0 end-0 bg-center bg-no-repeat bg-primary">
                    <div class="svg-bottom svg-color position-absolute bottom-0 start-0 end-0">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="96px" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" class="injected-svg svg_img text-mode-re">
                            <path d="M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z"></path>
                        </svg>
                    </div>
                </div>
                <div class="container position-relative">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-8 text-center">
                            <h3 class="h1 mb-1 text-white">Effective tools for busy Administrators!</h3>
                            <p class="m-0 fs-lg text-white text-opacity-85">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-lg-4">
                            <div class="card hover-top shadow-hover">
                                <div class="card-body px-4 px-lg-6 py-5">
                                    <div class="icon-xl bg-primary bg-opacity-10 text-primary mb-4 rounded">
                                        <i class="bi-laptop"></i>
                                    </div>
                                    <h5 class="mb-2">Web Design Agency</h5>
                                    <p class="mb-0">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card hover-top shadow-hover">
                                <div class="card-body px-4 px-lg-6 py-5">
                                    <div class="icon-xl bg-primary bg-opacity-10 text-primary mb-4 rounded">
                                        <i class="bi-envelope"></i>
                                    </div>
                                    <h5 class="mb-2">Mail Integration</h5>
                                    <p class="mb-0">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card hover-top shadow-hover">
                                <div class="card-body px-4 px-lg-6 py-5">
                                    <div class="icon-xl bg-primary bg-opacity-10 text-primary mb-4 rounded">
                                        <i class="bi-braces-asterisk"></i>
                                    </div>
                                    <h5 class="mb-2">Build with Love</h5>
                                    <p class="mb-0">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section pt-0">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-8 text-center">
                            <h3 class="h1 mb-1">Luper Key features!</h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-md bg-primary bg-opacity-20 text-primary rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3">
                                        <h6 class="mb-1">Unique design</h6>
                                        <span>Built to be customized.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-md bg-info bg-opacity-20 text-info rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3">
                                        <h6 class="mb-1">Different Layout</h6>
                                        <span>Built to be customized.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-md bg-secondary bg-opacity-20 text-secondary rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3">
                                        <h6 class="mb-1">Make it Simple</h6>
                                        <span>Built to be customized.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-md bg-danger bg-opacity-20 text-danger rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3">
                                        <h6 class="mb-1">Responsivenes</h6>
                                        <span>Built to be customized.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-md bg-warning bg-opacity-20 text-warning rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3">
                                        <h6 class="mb-1">Perfection</h6>
                                        <span>Built to be customized.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-md bg-danger bg-opacity-20 text-danger rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3">
                                        <h6 class="mb-1">Advanced</h6>
                                        <span>Built to be customized.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-md bg-primary bg-opacity-20 text-primary rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3">
                                        <h6 class="mb-1">Unique Design</h6>
                                        <span>Built to be customized.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-md bg-info bg-opacity-20 text-info rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3">
                                        <h6 class="mb-1">100% Responsive</h6>
                                        <span>Built to be customized.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-md bg-success bg-opacity-20 text-success rounded-circle">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                    <div class="col ps-3">
                                        <h6 class="mb-1">Different Layout</h6>
                                        <span>Built to be customized.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section border-style top">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-8 text-center">
                            <h3 class="h1 mb-1">Pricing Plans</h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-lg-4">
                            <div class="card hover-top shadow-hover">
                                <div class="card-header border-0 text-center py-6 border-style bottom">
                                    <h2 class="h4 mb-3">Multiple use</h2>
                                    <h4 class="h1"><span>$</span>49</h4>
                                    <p class="m-0">Basic Package</p>
                                </div>
                                <div class="card-body py-4">
                                    <ul class="list-unstyled text-center m-0">
                                        <li class="py-1">Drag &amp; Drop Builder</li>
                                        <li class="py-1">1,000s of Templates Ready</li>
                                        <li class="py-1">Blog Tools</li>
                                        <li class="py-1">eCommerce Store</li>
                                        <li class="py-1">30+ Webmaster Tools</li>
                                    </ul>
                                    <div class="pt-4 text-center">
                                        <a class="btn w-100 btn-primary" href="#">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card hover-top shadow-hover bg-primary text-white">
                                <div class="card-header border-0 text-center py-6 border-style bottom light bg-transparent">
                                    <h2 class="h4 mb-3 text-white">Multiple use</h2>
                                    <h4 class="h1 text-white"><span>$</span>49</h4>
                                    <p class="m-0">Basic Package</p>
                                </div>
                                <div class="card-body py-4">
                                    <ul class="list-unstyled text-center m-0">
                                        <li class="py-1">Drag &amp; Drop Builder</li>
                                        <li class="py-1">1,000s of Templates Ready</li>
                                        <li class="py-1">Blog Tools</li>
                                        <li class="py-1">eCommerce Store</li>
                                        <li class="py-1">30+ Webmaster Tools</li>
                                    </ul>
                                    <div class="pt-4 text-center">
                                        <a class="btn w-100 btn-white" href="#">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card hover-top shadow-hover">
                                <div class="card-header border-0 text-center py-6 border-style bottom">
                                    <h2 class="h4 mb-3">Multiple use</h2>
                                    <h4 class="h1"><span>$</span>49</h4>
                                    <p class="m-0">Basic Package</p>
                                </div>
                                <div class="card-body py-4">
                                    <ul class="list-unstyled text-center m-0">
                                        <li class="py-1">Drag &amp; Drop Builder</li>
                                        <li class="py-1">1,000s of Templates Ready</li>
                                        <li class="py-1">Blog Tools</li>
                                        <li class="py-1">eCommerce Store</li>
                                        <li class="py-1">30+ Webmaster Tools</li>
                                    </ul>
                                    <div class="pt-4 text-center">
                                        <a class="btn w-100 btn-primary" href="#">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section border-style top">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-8 text-center">
                            <h3 class="h1 mb-1">What client says about us</h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="swiper swiper-container" data-swiper-options='{
                            "slidesPerView": 1,
                            "spaceBetween": 10,
                            "loop": true,
                            "pagination": {
                                "el": ".swiper-pagination",
                                "clickable": true
                            },
                            "breakpoints": {
                                "600": {
                                    "slidesPerView": 2
                                },
                                "991": {
                                    "slidesPerView": 3,
                                    "spaceBetween": 24
                                },
                                "1200": {
                                    "slidesPerView": 3,
                                    "spaceBetween": 15
                                }
                            }
                        }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <div class="d-flex align-items-center text-warning pb-2">
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                        </div>
                                        <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar">
                                                <img class="avatar-img rounded-circle" src="../assets/img/home/avatra-1.jpg" title="" alt="">
                                            </div>
                                            <div class="col ps-3">
                                                <h6 class="mb-0">Dick Grayson</h6>
                                                <span class="fs-sm">Web Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <div class="d-flex align-items-center text-warning pb-2">
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                        </div>
                                        <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar">
                                                <img class="avatar-img rounded-circle" src="../assets/img/home/avatra-1.jpg" title="" alt="">
                                            </div>
                                            <div class="col ps-3">
                                                <h6 class="mb-0">Dick Grayson</h6>
                                                <span class="fs-sm">Web Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <div class="d-flex align-items-center text-warning pb-2">
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                        </div>
                                        <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar">
                                                <img class="avatar-img rounded-circle" src="../assets/img/home/avatra-1.jpg" title="" alt="">
                                            </div>
                                            <div class="col ps-3">
                                                <h6 class="mb-0">Dick Grayson</h6>
                                                <span class="fs-sm">Web Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <div class="d-flex align-items-center text-warning pb-2">
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                        </div>
                                        <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar">
                                                <img class="avatar-img rounded-circle" src="../assets/img/home/avatra-1.jpg" title="" alt="">
                                            </div>
                                            <div class="col ps-3">
                                                <h6 class="mb-0">Dick Grayson</h6>
                                                <span class="fs-sm">Web Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <div class="d-flex align-items-center text-warning pb-2">
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                        </div>
                                        <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar">
                                                <img class="avatar-img rounded-circle" src="../assets/img/home/avatra-1.jpg" title="" alt="">
                                            </div>
                                            <div class="col ps-3">
                                                <h6 class="mb-0">Dick Grayson</h6>
                                                <span class="fs-sm">Web Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <div class="d-flex align-items-center text-warning pb-2">
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                            <i class="bi-star-fill me-1"></i>
                                        </div>
                                        <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                                        <div class="d-flex align-items-center mt-4">
                                            <div class="avatar">
                                                <img class="avatar-img rounded-circle" src="../assets/img/home/avatra-1.jpg" title="" alt="">
                                            </div>
                                            <div class="col ps-3">
                                                <h6 class="mb-0">Dick Grayson</h6>
                                                <span class="fs-sm">Web Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination mt-4 position-relative"></div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-8 text-center">
                            <h3 class="h1 mb-1">Helpful answers</h3>
                            <p class="m-0 fs-lg">Luper is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="accordion" id="home_accordion_01">
                                <div class="accordion-item rounded-3 border border-gray-200 mb-3 bg-body">
                                    <h2 class="accordion-header" id="home_accordion_01headingOne">
                                        <button class="accordion-button bg-transparent d-flex collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#home_accordion_01collapseOne" aria-expanded="false" aria-controls="home_accordion_01collapseOne">
                                            <i class="bi-lock-fill text-primary"></i> <span class="col ps-3 text-mode fw-500">Can I change plans later on?</span>
                                        </button>
                                    </h2>
                                    <div id="home_accordion_01collapseOne" class="accordion-collapse collapse" aria-labelledby="home_accordion_01headingOne" data-bs-parent="#home_accordion_01">
                                        <div class="accordion-body text-body">Tempora, ab officiis ducimus commodi quibusdam similique quam corporis sequi adipisicing elit lorem ipsum dolor sit amet, consectetur. id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.</div>
                                    </div>
                                </div>
                                <div class="accordion-item rounded-3 border border-gray-200 mb-3 bg-body">
                                    <h2 class="accordion-header" id="home_accordion_01headingTwo">
                                        <button class="accordion-button bg-transparent d-flex collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#home_accordion_01collapseTwo" aria-expanded="false" aria-controls="home_accordion_01collapseTwo">
                                            <i class="bi-lock-fill text-primary"></i> <span class="col ps-3 text-mode fw-500">What is the difference between Pro and Ultimate?</span>
                                        </button>
                                    </h2>
                                    <div id="home_accordion_01collapseTwo" class="accordion-collapse collapse" aria-labelledby="home_accordion_01headingTwo" data-bs-parent="#home_accordion_01">
                                        <div class="accordion-body text-body">Tempora, ab officiis ducimus commodi quibusdam similique quam corporis sequi adipisicing elit lorem ipsum dolor sit amet, consectetur. id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.</div>
                                    </div>
                                </div>
                                <div class="accordion-item rounded-3 border border-gray-200 mb-3 bg-body">
                                    <h2 class="accordion-header" id="home_accordion_01headingThree">
                                        <button class="accordion-button bg-transparent d-flex collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#home_accordion_01collapseThree" aria-expanded="false" aria-controls="home_accordion_01collapseThree">
                                            <i class="bi-lock-fill text-primary"></i> <span class="col ps-3 text-mode fw-500">Can I try before I buy?</span>
                                        </button>
                                    </h2>
                                    <div id="home_accordion_01collapseThree" class="accordion-collapse collapse" aria-labelledby="home_accordion_01headingThree" data-bs-parent="#home_accordion_01">
                                        <div class="accordion-body text-body">
                                            Tempora, ab officiis ducimus commodi quibusdam similique quam corporis sequi adipisicing elit lorem ipsum dolor sit amet, consectetur. id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion" id="home_accordion_02">
                                <div class="accordion-item rounded-3 border border-gray-200 mb-3 bg-body">
                                    <h2 class="accordion-header" id="home_accordion_02headingOne">
                                        <button class="accordion-button bg-transparent d-flex collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#home_accordion_02collapseOne" aria-expanded="false" aria-controls="home_accordion_02collapseOne">
                                            <i class="bi-lock-fill text-primary"></i> <span class="col ps-3 text-mode fw-500">Can I change plans later on?</span>
                                        </button>
                                    </h2>
                                    <div id="home_accordion_02collapseOne" class="accordion-collapse collapse" aria-labelledby="home_accordion_02headingOne" data-bs-parent="#home_accordion_02">
                                        <div class="accordion-body text-body">Tempora, ab officiis ducimus commodi quibusdam similique quam corporis sequi adipisicing elit lorem ipsum dolor sit amet, consectetur. id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.</div>
                                    </div>
                                </div>
                                <div class="accordion-item rounded-3 border border-gray-200 mb-3 bg-body">
                                    <h2 class="accordion-header" id="home_accordion_02headingTwo">
                                        <button class="accordion-button bg-transparent d-flex collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#home_accordion_02collapseTwo" aria-expanded="false" aria-controls="home_accordion_02collapseTwo">
                                            <i class="bi-lock-fill text-primary"></i> <span class="col ps-3 text-mode fw-500">What is the difference between Pro and Ultimate?</span>
                                        </button>
                                    </h2>
                                    <div id="home_accordion_02collapseTwo" class="accordion-collapse collapse" aria-labelledby="home_accordion_02headingTwo" data-bs-parent="#home_accordion_02">
                                        <div class="accordion-body text-body">Tempora, ab officiis ducimus commodi quibusdam similique quam corporis sequi adipisicing elit lorem ipsum dolor sit amet, consectetur. id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.</div>
                                    </div>
                                </div>
                                <div class="accordion-item rounded-3 border border-gray-200 mb-3 bg-body">
                                    <h2 class="accordion-header" id="home_accordion_02headingThree">
                                        <button class="accordion-button bg-transparent d-flex collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#home_accordion_02collapseThree" aria-expanded="false" aria-controls="home_accordion_02collapseThree">
                                            <i class="bi-lock-fill text-primary"></i> <span class="col ps-3 text-mode fw-500">Can I try before I buy?</span>
                                        </button>
                                    </h2>
                                    <div id="home_accordion_02collapseThree" class="accordion-collapse collapse" aria-labelledby="home_accordion_02headingThree" data-bs-parent="#home_accordion_02">
                                        <div class="accordion-body text-body">
                                            Tempora, ab officiis ducimus commodi quibusdam similique quam corporis sequi adipisicing elit lorem ipsum dolor sit amet, consectetur. id, voluptates suscipit quasi nisi. Qui, explicabo quod laborum alias vero aliquid.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
        "path": ".",
        "imgPath": "../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>