<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
    "path": "",
    "FontsURL":
    "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
    "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_classic_header.html',{
        "path": "..",
        "imgPath": "../../assets",
        "HeaderClass": "navbar-light fixed-top",
        "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            
            <!-- Home Banner -->
            <section id="home" class="bg-gray-100 overflow-hidden">
                <div class="container position-relative">
                    <div class="row min-vh-100 align-items-center py-10">
                        <div class="col-lg-6 pe-xl-10 my-3 wow fadeInUp" data-wow-duration="0.5s">
                            <label class="bg-secondary px-3 py-1 text-white rounded-3 mb-3">We are the best</label>
                            <h2 class="display-4 mb-4">Our Analysis is your financial results.</h2>
                            <p class="fs-lg">Momboo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                            <div class="pt-2">
                                <a class="btn btn-primary" href="#">Start Now</a>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-duration="0.5s">
                            <img class="lg-img-120" src="../assets/img/home-banner/home-banner.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Home Banner -->
            <!-- Section -->
            <div>
                <div class="container border-bottom pt-3 pb-4 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                    <div class="swiper swiper-container" data-swiper-options='{
                                  "slidesPerView": 3,
                                  "spaceBetween": 24,
                                  "loop": true,
                                  "breakpoints": {
                                    "650": {
                                      "slidesPerView": 4
                                    },
                                    "991": {
                                      "slidesPerView": 5
                                    },
                                    "1024": {
                                      "slidesPerView": 7
                                    }
                                  }
                                }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="px-3 py-3">
                                    <a href="#">
                                        <img src="../assets/img/brand/airbnb.svg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="px-3 py-3">
                                    <a href="#">
                                        <img src="../assets/img/brand/spotify.svg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="px-3 py-3">
                                    <a href="#">
                                        <img src="../assets/img/brand/paypal.svg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="px-3 py-3">
                                    <a href="#">
                                        <img src="../assets/img/brand/slack.svg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="px-3 py-3">
                                    <a href="#">
                                        <img src="../assets/img/brand/spotify.svg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="px-3 py-3">
                                    <a href="#">
                                        <img src="../assets/img/brand/airbnb.svg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="px-3 py-3">
                                    <a href="#">
                                        <img src="../assets/img/brand/amazon.svg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->
            <!-- Section -->
            <section id="about" class="section">
                <div class="container">
                    <div class="row section-heading justify-content-center text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                        <div class="col-lg-8 col-xl-6">
                            <h3 class="h1 title-03 pb-3 mb-3">What we do?</h3>
                            <div class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 my-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <div class="card hover-rotate border-0 shadow-hover hover-top">
                                <div class="card-body text-center py-6 px-xl-7">
                                    <div class="ef-3 hr-rotate-after icon icon-xl rounded-circle bg-primary text-primary mb-5">
                                        <i class="bi-laptop text-white"></i>
                                    </div>
                                    <h5 class="h6 mb-3">Different Layout</h5>
                                    <p class="m-0">Momboo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 my-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.15s">
                            <div class="card hover-rotate border-0 shadow-hover hover-top bg-primary">
                                <div class="card-body text-center py-6 px-xl-7">
                                    <div class="ef-3 hr-rotate-after icon icon-xl rounded-circle bg-white text-white mb-5">
                                        <i class="bi-tools text-primary"></i>
                                    </div>
                                    <h5 class="h6 mb-3 text-white">Logo & Identity</h5>
                                    <p class="m-0 text-white text-opacity-65">Momboo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 my-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            <div class="card hover-rotate border-0 shadow-hover hover-top">
                                <div class="card-body text-center py-6 px-xl-7">
                                    <div class="ef-3 hr-rotate-after icon icon-xl rounded-circle bg-primary text-primary mb-5">
                                        <i class="bi-command text-white"></i>
                                    </div>
                                    <h5 class="h6 mb-3">Graphics Design</h5>
                                    <p class="m-0">Momboo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row gy-4 align-items-center">
                        <div class="col-lg-5 pe-xl-8 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <h2 class="mb-3">Make Your Softwer Quick & Faster!</h2>
                            <p class="mb-3">Momboo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</p>
                            <ul class="list-type-03 list-unstyled">
                                <li class="d-flex py-1"><i class="bi bi-check-circle-fill text-secondary me-2"></i> We assist efficient business management</li>
                                <li class="d-flex py-1"><i class="bi bi-check-circle-fill text-secondary me-2"></i> We identify your requirements and design an ideal relationship structure to fit your needs</li>
                                <li class="d-flex py-1"><i class="bi bi-check-circle-fill text-secondary me-2"></i> Our latest thinking on the issues that matter most in business</li>
                            </ul>
                            <div class="mt-3">
                                <a class="btn btn-primary" href="#">More About</a>
                            </div>
                        </div>
                        <div class="col-lg-7 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <img src="../assets/img/feature/feature-01.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section id="feature" class="section">
                <div class="container">
                    <div class="row section-heading justify-content-center text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                        <div class="col-lg-8 col-xl-6">
                            <h3 class="h1 title-03 pb-3 mb-3">Why Choose Us?</h3>
                            <div class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</div>
                        </div>
                    </div>
                    <div class="tab-style-4 mt-3">
                        <ul class="nav nav-fill nav-tabs wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <li class="nav-item">
                                <a href="#tab3_sec1" data-bs-toggle="tab" class="active">
                                    <div class="tb-icon"><i class="bi-chat"></i></div>
                                    <span>Discussion</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab3_sec2" data-bs-toggle="tab">
                                    <div class="tb-icon"><i class="bi-tools"></i></div>
                                    <span>Creative Concept</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab3_sec3" data-bs-toggle="tab">
                                    <div class="tb-icon"><i class="bi-megaphone"></i></div>
                                    <span>Production</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <!-- start tab content -->
                            <div id="tab3_sec1" class="tab-pane fade in active show">
                                <div class="row align-items-center gy-4 pt-5">
                                    <div class="col-lg-5 pe-xl-8">
                                        <div class="h2 mb-3">Make smarter business decisions with data analysis</div>
                                        <p class="fs-lg mb-5">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                                        <div class="d-flex mb-5">
                                            <div class="icon icon-lg border border-primary rounded bg-gray-100 dots-icon">
                                                <i class="bi-laptop"></i>
                                                <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                            </div>
                                            <div class="col ps-3">
                                                <h6>Web Development</h6>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="icon icon-lg border border-primary rounded bg-gray-100 dots-icon">
                                                <i class="bi-tools"></i>
                                                <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                            </div>
                                            <div class="col ps-3">
                                                <h6>Logo &amp; Identity</h6>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 text-center">
                                        <img src="../assets/img/feature/feature-01.jpg" title="" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <div id="tab3_sec2" class="tab-pane fade in">
                                <div class="row align-items-center gy-4 pt-5 flex-row-reverse">
                                    <div class="col-lg-5 ps-xl-8">
                                        <div class="h2 mb-3">Make smarter business decisions with data analysis</div>
                                        <p class="fs-lg mb-5">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                                        <div class="d-flex mb-5">
                                            <div class="icon icon-lg border border-primary rounded bg-gray-100 dots-icon">
                                                <i class="bi-laptop"></i>
                                                <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                            </div>
                                            <div class="col ps-3">
                                                <h6>Web Development</h6>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="icon icon-lg border border-primary rounded bg-gray-100 dots-icon">
                                                <i class="bi-tools"></i>
                                                <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                            </div>
                                            <div class="col ps-3">
                                                <h6>Logo &amp; Identity</h6>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 text-center">
                                        <img src="../assets/img/feature/feature-01.jpg" title="" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <div id="tab3_sec3" class="tab-pane fade in">
                                <div class="row align-items-center gy-4 pt-5">
                                    <div class="col-lg-5 pe-xl-8">
                                        <div class="h2 mb-3">Make smarter business decisions with data analysis</div>
                                        <p class="fs-lg mb-5">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                                        <div class="d-flex mb-5">
                                            <div class="icon icon-lg border border-primary rounded bg-gray-100 dots-icon">
                                                <i class="bi-laptop"></i>
                                                <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                            </div>
                                            <div class="col ps-3">
                                                <h6>Web Development</h6>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="icon icon-lg border border-primary rounded bg-gray-100 dots-icon">
                                                <i class="bi-tools"></i>
                                                <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                            </div>
                                            <div class="col ps-3">
                                                <h6>Logo &amp; Identity</h6>
                                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 text-center">
                                        <img src="../assets/img/feature/feature-01.jpg" title="" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row gy-4 align-items-center">
                        <div class="col-lg-6 pe-xl-12 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <label class="bg-secondary px-3 py-1 text-white rounded small mb-3">We are the best</label>
                            <h2 class="h1 mb-4">Get access to all the information you need.</h2>
                            <p class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            <div class="pt-2">
                                <a class="btn btn-primary" href="#">More About</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row align-items-center">
                                <div class="col-sm-6 my-3">
                                    <div class="card card-body text-center hover-top theme-hover-bg py-6 mb-5 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.1s">
                                        <div class="icon icon-xl rounded-circle dots-icon mb-4 mx-auto bg-gray-100 text-primary">
                                            <i class="bi-laptop"></i>
                                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                        </div>
                                        <h6>Web Development</h6>
                                        <p class="m-0">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                                    </div>
                                    <div class="card card-body text-center hover-top theme-hover-bg py-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.2s">
                                        <div class="icon icon-xl rounded-circle dots-icon mb-4 mx-auto bg-gray-100 text-primary">
                                            <i class="bi-tools"></i>
                                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                        </div>
                                        <h6>Logo &amp; Identity</h6>
                                        <p class="m-0">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 my-3">
                                    <div class="card card-body text-center hover-top theme-hover-bg py-6 mb-5 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.3s">
                                        <div class="icon icon-xl rounded-circle dots-icon mb-4 mx-auto bg-gray-100 text-primary">
                                            <i class="bi-dribbble"></i>
                                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                        </div>
                                        <h6>Graphics Design</h6>
                                        <p class="m-0">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-fixed bg-center bg-cover bg-no-repeat" style="background-image: url(../assets/img/bg/bg-banner-1.jpg);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-9 col-lg-7 col-xl-6 text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <h2 class="display-4 text-white mb-3">This is an Call To Actions</h2>
                            <p class="text-white text-opacity-65 fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="m-btn-dual pt-2">
                                <a class="btn btn-light" href="#">Take a tour</a>
                                <a class="btn btn-outline-light ms-2" href="#">Try it free</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading justify-content-center text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                        <div class="col-lg-8 col-xl-6">
                            <h3 class="h1 title-03 pb-3 mb-3">Pricing Plans</h3>
                            <div class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 my-3 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between border-bottom mb-4 pb-4">
                                        <div>
                                            <h4 class="h5 mb-1">Basic Package</h4>
                                            <small>10 Lines Min lines min</small>
                                        </div>
                                        <div>
                                            <h5 class="text-secondary h1 m-0 lh-1"><sup class="h6 text-secondary">$</sup>49</h5>
                                            <small>/Per Mon</small>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="py-2 d-flex">10 GB of Space <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited Projects <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited Users <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited Datas <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited File Recovery <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                    </ul>
                                    <div class="mt-4 pt-4 border-top">
                                        <a class="btn btn-secondary" href="#">Register Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 my-3 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between border-bottom mb-4 pb-4">
                                        <div>
                                            <h4 class="h5 mb-1">Basic Package</h4>
                                            <small>10 Lines Min lines min</small>
                                        </div>
                                        <div>
                                            <h5 class="text-secondary h1 m-0 lh-1"><sup class="h6 text-secondary">$</sup>49</h5>
                                            <small>/Per Mon</small>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="py-2 d-flex">10 GB of Space <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited Projects <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited Users <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited Datas <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited File Recovery <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                    </ul>
                                    <div class="mt-4 pt-4 border-top">
                                        <a class="btn btn-secondary" href="#">Register Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 my-3 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
                            <div class="card shadow-hover hover-top">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between border-bottom mb-4 pb-4">
                                        <div>
                                            <h4 class="h5 mb-1">Basic Package</h4>
                                            <small>10 Lines Min lines min</small>
                                        </div>
                                        <div>
                                            <h5 class="text-secondary h1 m-0 lh-1"><sup class="h6 text-secondary">$</sup>49</h5>
                                            <small>/Per Mon</small>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="py-2 d-flex">10 GB of Space <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited Projects <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited Users <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited Datas <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                        <li class="py-2 d-flex">Unlimited File Recovery <i class="bi-check-circle-fill text-mode me-1 ms-auto"></i></li>
                                    </ul>
                                    <div class="mt-4 pt-4 border-top">
                                        <a class="btn btn-secondary" href="#">Register Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row section-heading justify-content-center text-center wow fadeInUp" data-wow-duration="0.3s">
                        <div class="col-lg-8 col-xl-6">
                            <h3 class="h1 title-03 pb-3 mb-3">Testimonials</h3>
                            <div class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</div>
                        </div>
                    </div>
                    <div class="swiper swiper-container wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s" data-swiper-options='{
                                  "slidesPerView": 1,
                                  "spaceBetween": 24,
                                  "pagination": {
                                    "el": ".swiper-pagination",
                                    "clickable": true
                                  },
                                  "breakpoints": {
                                    "650": {
                                      "slidesPerView": 2
                                    },
                                    "991": {
                                      "slidesPerView": 2
                                    },
                                    "1024": {
                                      "slidesPerView": 3
                                    }
                                  }
                                }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="border text-center mt-5 mb-4 rounded-3 bg-body">
                                    <div class="icon-lg bg-secondary text-white rounded-circle mt-n5">
                                        <i class="bi bi-quote"></i>
                                    </div>
                                    <div class="p-4">
                                        <p>Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use.</p>
                                        <h5 class="h6 m-0">Nancy Bayers</h5>
                                        <label class="fw-600 small m-0">Co-founder</label>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="border text-center mt-5 mb-4 rounded-3 bg-body">
                                    <div class="icon-lg bg-secondary text-white rounded-circle mt-n5">
                                        <i class="bi bi-quote"></i>
                                    </div>
                                    <div class="p-4">
                                        <p>Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use.</p>
                                        <h5 class="h6 m-0">Nancy Bayers</h5>
                                        <label class="fw-600 small m-0">Co-founder</label>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="border text-center mt-5 mb-4 rounded-3 bg-body">
                                    <div class="icon-lg bg-secondary text-white rounded-circle mt-n5">
                                        <i class="bi bi-quote"></i>
                                    </div>
                                    <div class="p-4">
                                        <p>Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use.</p>
                                        <h5 class="h6 m-0">Nancy Bayers</h5>
                                        <label class="fw-600 small m-0">Co-founder</label>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="border text-center mt-5 mb-4 rounded-3 bg-body">
                                    <div class="icon-lg bg-secondary text-white rounded-circle mt-n5">
                                        <i class="bi bi-quote"></i>
                                    </div>
                                    <div class="p-4">
                                        <p>Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use.</p>
                                        <h5 class="h6 m-0">Nancy Bayers</h5>
                                        <label class="fw-600 small m-0">Co-founder</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination position-relative mt-2"></div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-fixed bg-center bg-cover bg-no-repeat" style="background-image: url(../assets/img/bg/bg-banner-1.jpg);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-7 text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <label class="text-white text-opacity-65 mb-3">Feel The Futuer</label>
                            <h2 class="h1 text-white mb-4"><u>Growth and development</u> are fostered here!</h2>
                            <div class="pt-2">
                                <a class="btn btn-light" href="#">
                                    <i class="bi-google me-2"></i> Google Play
                                </a>
                                <a class="btn btn-light" href="#">
                                    <i class="bi-apple me-2"></i> App Store
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section id="team" class="section bg-gray-100">
                <div class="container">
                    <div class="row section-heading justify-content-center text-center wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
                        <div class="col-lg-8 col-xl-6">
                            <h3 class="h1 title-03 pb-3 mb-3">Our Advisors</h3>
                            <div class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 my-3 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
                            <div class="hover-top-in text-center">
                                <div class="overflow-hidden z-index-1 position-relative px-5">
                                    <img class="rounded-circle border border-5 border-white shadow" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded-3 position-relative mt-n4 bg-body p-4 pt-6 mx-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-facebook"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-twitter"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-linkedin"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 my-3 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
                            <div class="hover-top-in text-center">
                                <div class="overflow-hidden z-index-1 position-relative px-5">
                                    <img class="rounded-circle border border-5 border-white shadow" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded-3 position-relative mt-n4 bg-body p-4 pt-6 mx-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-facebook"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-twitter"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-linkedin"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 my-3 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
                            <div class="hover-top-in text-center">
                                <div class="overflow-hidden z-index-1 position-relative px-5">
                                    <img class="rounded-circle border border-5 border-white shadow" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded-3 position-relative mt-n4 bg-body p-4 pt-6 mx-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-facebook"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-twitter"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-linkedin"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 my-3 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.4s">
                            <div class="hover-top-in text-center">
                                <div class="overflow-hidden z-index-1 position-relative px-5">
                                    <img class="rounded-circle border border-5 border-white shadow" src="../assets/img/team/team-1.jpg" title="" alt="">
                                </div>
                                <div class="mx-2 mx-xl-3 shadow rounded-3 position-relative mt-n4 bg-body p-4 pt-6 mx-4 text-center hover-top--in">
                                    <h6 class="fw-700 dark-color mb-1">Nancy Bayers</h6>
                                    <small>Co-Founder</small>
                                    <div class="pt-2">
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-facebook"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-twitter"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-linkedin"></i></a>
                                        <a class="icon-sm bg-primary rounded-circle me-1 text-white" href="#"><i class="bi bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading justify-content-center text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                        <div class="col-lg-8 col-xl-6">
                            <h3 class="h1 title-03 pb-3 mb-3">Daily Updates</h3>
                            <div class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups.</div>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                            <div class="position-relative">
                                <div class="">
                                    <img class="rounded" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                </div>
                                <div class="pt-4">
                                    <span class="small">02 Mar 2020</span>
                                    <h5 class="pt-2">
                                        <a class="text-reset" href="#">Make your Marketing website</a>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <a class="btn btn-sm btn-primary stretched-link" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.15s">
                            <div class="position-relative">
                                <div class="">
                                    <img class="rounded" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                </div>
                                <div class="pt-4">
                                    <span class="small">02 Mar 2020</span>
                                    <h5 class="pt-2">
                                        <a class="text-reset" href="#">Make your Marketing website</a>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <a class="btn btn-sm btn-primary stretched-link" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            <div class="position-relative">
                                <div class="">
                                    <img class="rounded" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                </div>
                                <div class="pt-4">
                                    <span class="small">02 Mar 2020</span>
                                    <h5 class="pt-2">
                                        <a class="text-reset" href="#">Make your Marketing website</a>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <a class="btn btn-sm btn-primary stretched-link" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                            <div class="position-relative">
                                <div class="">
                                    <img class="rounded" src="../assets/img/blog/blog-1.jpg" title="" alt="">
                                </div>
                                <div class="pt-4">
                                    <span class="small">02 Mar 2020</span>
                                    <h5 class="pt-2">
                                        <a class="text-reset" href="#">Make your Marketing website</a>
                                    </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <a class="btn btn-sm btn-primary stretched-link" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-fixed bg-center bg-cover bg-no-repeat" style="background-image: url(../assets/img/bg/bg-banner-1.jpg);">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 col-xl-5 text-center">
                            <h3 class="h1 text-white title-03 pb-3 mb-6" style="--bs-title-03:#fff;">Get Every Updates</h3>
                            <form class="d-flex flex-row mb-2 input-group">
                                <input type="email" class="form-control form-control-lg rounded-0 border-0 bg-white text-black" placeholder="you@yoursite.com">
                                <button class="btn btn-secondary rounded-0" type="submit">Get Started</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_01.html', {
        "path": ".",
        "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>