<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <div class="header-height-bar"></div>
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top header-height bg-body border-bottom",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="section bg-primary bg-opacity-10">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-7 text-center wow fadeInUp" data-wow-duration="0.5s">
                            <h3 class="h1 mb-3">Our Stunning Projects.</h3>
                            <div class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row align-items-start">
                        <div class="col-md-3 sticky-lg-top-header sticky-lg-top wow fadeInUp" data-wow-duration="0.5s">
                            <div class="portfolio-filter-02 mb-6">
                                <ul class="filter">
                                    <li class="active" data-filter="*">All</li>
                                    <li data-filter=".branding">Branding</li>
                                    <li data-filter=".photoshop">Photoshop</li>
                                    <li data-filter=".fashion">Fashion</li>
                                    <li data-filter=".product">Product</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="portfolio-content row g-3 lightbox-gallery  wow fadeInUp" data-wow-duration="0.5s">
                                <div class="col-sm-6 col-lg-4 grid-item product branding">
                                    <div class="hover-scale hover-bottom-show">
                                        <div class="hover-scale-in rounded-3">
                                            <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                                <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                        <div class="hover-bottom-show-in bg-body p-3 m-2 rounded-3">
                                            <div class="nav">
                                                <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                            </div>
                                            <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 grid-item photoshop fashion">
                                    <div class="hover-scale hover-bottom-show">
                                        <div class="hover-scale-in rounded-3">
                                            <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                                <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                        <div class="hover-bottom-show-in bg-body p-3 m-2 rounded-3">
                                            <div class="nav">
                                                <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                            </div>
                                            <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 grid-item product branding">
                                    <div class="hover-scale hover-bottom-show">
                                        <div class="hover-scale-in rounded-3">
                                            <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                                <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                        <div class="hover-bottom-show-in bg-body p-3 m-2 rounded-3">
                                            <div class="nav">
                                                <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                            </div>
                                            <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 grid-item fashion branding">
                                    <div class="hover-scale hover-bottom-show">
                                        <div class="hover-scale-in rounded-3">
                                            <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                                <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                        <div class="hover-bottom-show-in bg-body p-3 m-2 rounded-3">
                                            <div class="nav">
                                                <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                            </div>
                                            <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 grid-item product photoshop">
                                    <div class="hover-scale hover-bottom-show">
                                        <div class="hover-scale-in rounded-3">
                                            <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                                <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                        <div class="hover-bottom-show-in bg-body p-3 m-2 rounded-3">
                                            <div class="nav">
                                                <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                            </div>
                                            <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 grid-item product fashion">
                                    <div class="hover-scale hover-bottom-show">
                                        <div class="hover-scale-in rounded-3">
                                            <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                                <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                        <div class="hover-bottom-show-in bg-body p-3 m-2 rounded-3">
                                            <div class="nav">
                                                <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                            </div>
                                            <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 grid-item fashion photoshop">
                                    <div class="hover-scale hover-bottom-show">
                                        <div class="hover-scale-in rounded-3">
                                            <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                                <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                        <div class="hover-bottom-show-in bg-body p-3 m-2 rounded-3">
                                            <div class="nav">
                                                <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                            </div>
                                            <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 grid-item product fashion">
                                    <div class="hover-scale hover-bottom-show">
                                        <div class="hover-scale-in rounded-3">
                                            <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                                <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                        <div class="hover-bottom-show-in bg-body p-3 m-2 rounded-3">
                                            <div class="nav">
                                                <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                            </div>
                                            <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 grid-item photoshop branding">
                                    <div class="hover-scale hover-bottom-show">
                                        <div class="hover-scale-in rounded-3">
                                            <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                                <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                            </a>
                                        </div>
                                        <div class="hover-bottom-show-in bg-body p-3 m-2 rounded-3">
                                            <div class="nav">
                                                <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                            </div>
                                            <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>