<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <div class="header-height-bar"></div>
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top header-height bg-body border-bottom",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row align-items-start">
                        <div class="col-lg-6">
                            <img class="rounded-3 mb-4" src="../assets/img/project/project-1.jpg" title="" alt="">
                            <img class="rounded-3 mb-4" src="../assets/img/project/project-1.jpg" title="" alt="">
                            <img class="rounded-3 mb-4" src="../assets/img/project/project-1.jpg" title="" alt="">
                            <img class="rounded-3 mb-4" src="../assets/img/project/project-1.jpg" title="" alt="">
                        </div>
                        <div class="col-lg-6 sticky-lg-top-header sticky-lg-top ps-lg-6 wow fadeInUp" data-wow-duration="0.5s">
                            <h2 class="mb-3">Single Portfolio</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            <ul class="list-unstyled border-top mt-4 pt-3">
                                <li class="row py-2">
                                    <div class="col-4">
                                        <span class="fw-600 text-mode">Client</span>
                                    </div>
                                    <div class="col-8">pxdraft</div>
                                </li>
                                <li class="row py-2">
                                    <div class="col-4">
                                        <span class="fw-600 text-mode">Designers</span>
                                    </div>
                                    <div class="col-8">Maria Muszynska, Jack Wayley</div>
                                </li>
                                <li class="row py-2">
                                    <div class="col-4">
                                        <span class="fw-600 text-mode">Partners</span>
                                    </div>
                                    <div class="col-8">Maria ThemeForest</div>
                                </li>
                                <li class="row py-2">
                                    <div class="col-4">
                                        <span class="fw-600 text-mode">Share</span>
                                    </div>
                                    <div class="col-8 d-flex flex-wrap">
                                        <a class="icon-sm hover-top rounded-circle text-white bg-facebook me-2" href="#"><i class="bi-facebook"></i></a>
                                        <a class="icon-sm hover-top rounded-circle text-white bg-twitter me-2" href="#"><i class="bi-twitter"></i></a>
                                        <a class="icon-sm hover-top rounded-circle text-white bg-linkedin me-2" href="#"><i class="bi-linkedin"></i></a>
                                        <a class="icon-sm hover-top rounded-circle text-white bg-instagram me-2" href="#"><i class="bi-instagram"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-7 text-center section-heading wow fadeInUp" data-wow-duration="0.5s">
                            <h3 class="h1 mb-3">Related works.</h3>
                            <div class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                        </div>
                    </div>
                    <div class="row gy-4 wow fadeInUp" data-wow-duration="0.5s">
                        <div class="col-lg-4">
                            <div class="card hover-scale overflow-hidden">
                                <a href="#" class="gallery-link hover-scale-in">
                                    <img class="card-img-top" src="../assets/img/project/project-1.jpg" title="" alt="">
                                </a>
                                <div class="card-body p-3">
                                    <div class="nav">
                                        <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                    </div>
                                    <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card hover-scale overflow-hidden">
                                <a href="#" class="gallery-link hover-scale-in">
                                    <img class="card-img-top" src="../assets/img/project/project-1.jpg" title="" alt="">
                                </a>
                                <div class="card-body p-3">
                                    <div class="nav">
                                        <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                    </div>
                                    <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card hover-scale overflow-hidden">
                                <a href="#" class="gallery-link hover-scale-in">
                                    <img class="card-img-top" src="../assets/img/project/project-1.jpg" title="" alt="">
                                </a>
                                <div class="card-body p-3">
                                    <div class="nav">
                                        <a href="#" class="small fw-600 me-2 text-primary">Articles</a>
                                    </div>
                                    <h5 class="mt-1 mb-0"><a class="text-reset" href="#">Momb ios App</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_01.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>