<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap",
        "CSSName": "style",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
    ========================
        Wrapper 
    ========================
    -->
    <div class="wrapper">
        <div class="header-height-bar"></div>
        <!-- Header -->
        @@include('./header/_classic_header.html',{
            "path": "..",
            "imgPath": "../../assets",
            "HeaderClass": "navbar-light fixed-top header-height bg-body border-bottom",
            "ContainerClass": "container position-relative",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            
            <!-- Section -->
            <section class="section bg-gray-100  border-bottom">
                <div class="container">
                    <div class="row justify-content-center pb-8">
                        <div class="col-lg-8 col-xl-7 text-center">
                            <h2 class="h1 mb-3">How can we help?</h2>
                            <p class="fs-lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
                            <form class="d-flex flex-column flex-md-row mt-4">
                                <input type="email" class="form-control me-sm-2 mb-2 mb-sm-0" placeholder="you@yoursite.com">
                                <button class="btn btn-primary flex-shrink-0" type="submit">Get Started</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section pt-0">
                <div class="container mt-n12">
                    <div class="row gy-4 justify-content-center">
                        <div class="col-sm-6 col-md-6">
                            <div class="card hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-lg bg-primary rounded-3 text-white">
                                        <i class="bi-question"></i>
                                    </div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Buying and Item Support</a></h5>
                                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="card hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-lg bg-primary rounded-3 text-white">
                                        <i class="bi-newspaper"></i>
                                    </div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Licensing</a></h5>
                                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="card hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-lg bg-primary rounded-3 text-white">
                                        <i class="bi-person"></i>
                                    </div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Your Account</a></h5>
                                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="card hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-lg bg-primary rounded-3 text-white">
                                        <i class="bi-badge-tm"></i>
                                    </div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Copyright and Trademarks</a></h5>
                                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="card hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-lg bg-primary rounded-3 text-white">
                                        <i class="bi-file-earmark-text"></i>
                                    </div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Tax &amp; Compliance</a></h5>
                                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="card hover-top">
                                <div class="card-body d-flex">
                                    <div class="icon-lg bg-primary rounded-3 text-white">
                                        <i class="bi-check2-square"></i>
                                    </div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2"><a class="stretched-link text-reset" href="#">Licensing</a></h5>
                                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-9 col-xl-8 text-center">
                            <h3 class="h1 mb-3">Frequently asked questions</h3>
                            <div class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="d-flex p-3 bg-body border position-relative mb-3 hover-top">
                                <div class="icon-sm text-white bg-primary rounded-circle">
                                    <i class="bi bi-question fs-5 lh-1"></i>
                                </div>
                                <div class="col ps-3 align-self-center">
                                    <h6 class="m-0"><a class="text-reset stretched-link" href="#">How about Refund policy?</a></h6>
                                </div>
                            </div>
                            <div class="d-flex p-3 bg-body border position-relative mb-3 hover-top">
                                <div class="icon-sm text-white bg-primary rounded-circle">
                                    <i class="bi bi-question fs-5 lh-1"></i>
                                </div>
                                <div class="col ps-3 align-self-center">
                                    <h6 class="m-0"><a class="text-reset stretched-link" href="#">Can I Pay with PayPal?</a></h6>
                                </div>
                            </div>
                            <div class="d-flex p-3 bg-body border position-relative mb-3 hover-top">
                                <div class="icon-sm text-white bg-primary rounded-circle">
                                    <i class="bi bi-question fs-5 lh-1"></i>
                                </div>
                                <div class="col ps-3 align-self-center">
                                    <h6 class="m-0"><a class="text-reset stretched-link" href="#">Is There a Free Trial?</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex p-3 bg-body border position-relative mb-3 hover-top">
                                <div class="icon-sm text-white bg-primary rounded-circle">
                                    <i class="bi bi-question fs-5 lh-1"></i>
                                </div>
                                <div class="col ps-3 align-self-center">
                                    <h6 class="m-0"><a class="text-reset stretched-link" href="#">Do I get free support?</a></h6>
                                </div>
                            </div>
                            <div class="d-flex p-3 bg-body border position-relative mb-3 hover-top">
                                <div class="icon-sm text-white bg-primary rounded-circle">
                                    <i class="bi bi-question fs-5 lh-1"></i>
                                </div>
                                <div class="col ps-3 align-self-center">
                                    <h6 class="m-0"><a class="text-reset stretched-link" href="#">Can I pay with credit card?</a></h6>
                                </div>
                            </div>
                            <div class="d-flex p-3 bg-body border position-relative mb-3 hover-top">
                                <div class="icon-sm text-white bg-primary rounded-circle">
                                    <i class="bi bi-question fs-5 lh-1"></i>
                                </div>
                                <div class="col ps-3 align-self-center">
                                    <h6 class="m-0"><a class="text-reset stretched-link" href="#">How to I cancel subscriptions?</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-8 col-xl-7 text-center">
                            <h2 class="h1">Still have a questions?</h2>
                            <div class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-5 my-3">
                            <div class="card shadow hover-top">
                                <div class="card-body text-center">
                                    <div class="icon-lg bg-primary text-white rounded-circle mb-4">
                                        <i class="bi bi-phone"></i>
                                    </div>
                                    <h5>+01 963 965 3265</h5>
                                    <p class="m-0">Do not hesitate to contact us</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-5 my-3">
                            <div class="card shadow hover-top">
                                <div class="card-body text-center">
                                    <div class="icon-lg bg-primary text-white rounded-circle mb-4">
                                        <i class="bi bi-envelope"></i>
                                    </div>
                                    <h5>support@yourdomain.com</h5>
                                    <p class="m-0">We will come back to you in a maximum of 24 hours</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_classic_footer_02.html', {
            "path": ".",
            "imgPath": "../../assets",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
       End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
            "path": "",
    })
    <!-- End script start -->
</body>

</html>