<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap",
        "CSSName": "seo",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
========================
Wrapper 
========================
-->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_seo_header.html',{
        "path": "",
        "HeaderClass": "",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="section">
                <div class="container pt-8">
                    <h1 class="text-center display-2">We offer a wide range of services to <span class="mark">businesses</span>, including SEO, content marketing, and <span class="mark">social media</span> marketing.</h1>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <div class="container">
                <div class="bg-primary p-4 p-lg-6 rounded-3">
                    <div class="row gy-5 mb-5 mb-lg-8">
                        <div class="col-lg-6 p-lg-6 p-4">
                            <h2 class="h1 text-white mb-4">SEO helps you to reach your target audience</h2>
                            <p class="fs-lg text-white text-opacity-75 mb-5">When you optimize your website for SEO, you are essentially telling search engines what your website is about and who you are targeting. This helps to ensure that your website appears in search results for relevant keywords, which can help you to reach your target audience.</p>
                            <a class="btn rounded-pill border-2 btn-lg btn-slide btn-slide-top btn-outline-white" href="#">
                                <span class="btn-slide-bg bg-white"></span>
                                <span class="btn-slide-text">Get a Free SEO Audit</span>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <img class="rounded-3" src="../assets/img/seo/blog-1.jpg" title="" alt="">
                        </div>
                    </div>
                    <div class="row gy-5 flex-row-reverse">
                        <div class="col-lg-6 p-lg-6 p-4">
                            <h2 class="h1 text-white mb-4">SEO can help you to improve your website's speed</h2>
                            <p class="fs-lg text-white text-opacity-75 mb-5">A fast-loading website is more likely to rank well in search results. SEO can help you to improve your website's speed by optimizing your images, minifying your code, and using a content delivery network (CDN)</p>
                            <a class="btn rounded-pill border-2 btn-lg btn-slide btn-slide-top btn-outline-white" href="#">
                                <span class="btn-slide-bg bg-white"></span>
                                <span class="btn-slide-text">Get a Free SEO Audit</span>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <img class="rounded-3" src="../assets/img/seo/blog-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row section-heading">
                        <div class="col-lg-6">
                            <h2 class="h1 mb-2 position-relative d-inline-flex">Meet Our Team <span class="icon bg-warning bg-opacity-70 rounded-circle position-absolute top-0 end-0 me-n2 mt-1 z-n1"></span></h2>
                            <p class="m-0 fs-lg">We are a team of experienced SEO professionals who are passionate about helping businesses improve their online visibility.</p>
                        </div>
                    </div>
                    <div class="row gy-5">
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-start-5">
                                    <img  src="../assets/img/avatar/01.jpg" alt="" title="">
                                </div>
                                <div class="text-center pt-3">
                                    <h5 class="mb-0">Dean Oakley</h5>
                                    <span class="text-primary fs-sm fw-500">Owner / Director</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-end-5">
                                    <img  src="../assets/img/avatar/02.jpg" alt="" title="">
                                </div>
                                <div class="text-center pt-3">
                                    <h5 class="mb-0">Dean Oakley</h5>
                                    <span class="text-primary fs-sm fw-500">Owner / Director</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-top-5">
                                    <img  src="../assets/img/avatar/03.jpg" alt="" title="">
                                </div>
                                <div class="text-center pt-3">
                                    <h5 class="mb-0">Dean Oakley</h5>
                                    <span class="text-primary fs-sm fw-500">Owner / Director</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-bottom-5">
                                    <img  src="../assets/img/avatar/04.jpg" alt="" title="">
                                </div>
                                <div class="text-center pt-3">
                                    <h5 class="mb-0">Dean Oakley</h5>
                                    <span class="text-primary fs-sm fw-500">Owner / Director</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-end-5">
                                    <img  src="../assets/img/avatar/05.jpg" alt="" title="">
                                </div>
                                <div class="text-center pt-3">
                                    <h5 class="mb-0">Dean Oakley</h5>
                                    <span class="text-primary fs-sm fw-500">Owner / Director</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-bottom-5">
                                    <img  src="../assets/img/avatar/06.jpg" alt="" title="">
                                </div>
                                <div class="text-center pt-3">
                                    <h5 class="mb-0">Dean Oakley</h5>
                                    <span class="text-primary fs-sm fw-500">Owner / Director</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-top-5">
                                    <img  src="../assets/img/avatar/07.jpg" alt="" title="">
                                </div>
                                <div class="text-center pt-3">
                                    <h5 class="mb-0">Dean Oakley</h5>
                                    <span class="text-primary fs-sm fw-500">Owner / Director</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-start-5">
                                    <img  src="../assets/img/avatar/08.jpg" alt="" title="">
                                </div>
                                <div class="text-center pt-3">
                                    <h5 class="mb-0">Dean Oakley</h5>
                                    <span class="text-primary fs-sm fw-500">Owner / Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_seo_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
========================
End Wrapper 
========================
-->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>