<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap",
        "CSSName": "seo",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
========================
Wrapper 
========================
-->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_seo_header.html',{
        "path": "",
        "HeaderClass": "",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="section">
                <div class="container pt-8">
                    <h1 class="text-center display-2">Latest our blog</h1>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="d-flex pb-4 pb-lg-6">
                        <div class="d-flex gap-2">
                            <a class="btn btn-sm rounded-pill btn-outline-primary" href="#">Latest</a>
                            <a class="btn btn-sm rounded-pill btn-outline-primary" href="#">SEO</a>
                            <a class="btn btn-sm rounded-pill btn-outline-primary" href="#">Marketing</a>
                            <a class="btn btn-sm rounded-pill btn-outline-primary" href="#">Rewrite</a>
                            <a class="btn btn-sm rounded-pill btn-outline-primary" href="#">Keywords</a>
                        </div>
                    </div>
                    <div class="row gy-5">
                        <div class="col-lg-4">
                            <div class="bg-body rounded-top-5 overflow-hidden w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="position-absolute top-0 start-0 ms-4 mt-4">
                                        <span class="bg-primary text-white px-4 py-2 rounded-pill">19 Aug 2023</span>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <h5 class="mb-2"><a href="#" class="text-reset">How to Rewrite a Blog Post to
                                            Improve Your SEO</a></h5>
                                    <p class="mb-4">This blog post provides tips on how to rewrite a blog post to
                                        improve its SEO, such as updating the content with new information, fixing any
                                        errors, and optimizing for new keywords.</p>
                                    <a class="fw-500 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="bg-body rounded-top-5 overflow-hidden w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="position-absolute top-0 start-0 ms-4 mt-4">
                                        <span class="bg-primary text-white px-4 py-2 rounded-pill">19 Aug 2023</span>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <h5 class="mb-2"><a href="#" class="text-reset">How to Rewrite a Blog Post to
                                            Improve Your SEO</a></h5>
                                    <p class="mb-4">This blog post provides tips on how to rewrite a blog post to
                                        improve its SEO, such as updating the content with new information, fixing any
                                        errors, and optimizing for new keywords.</p>
                                    <a class="fw-500 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="bg-body rounded-top-5 overflow-hidden w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="position-absolute top-0 start-0 ms-4 mt-4">
                                        <span class="bg-primary text-white px-4 py-2 rounded-pill">19 Aug 2023</span>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <h5 class="mb-2"><a href="#" class="text-reset">How to Rewrite a Blog Post to
                                            Improve Your SEO</a></h5>
                                    <p class="mb-4">This blog post provides tips on how to rewrite a blog post to
                                        improve its SEO, such as updating the content with new information, fixing any
                                        errors, and optimizing for new keywords.</p>
                                    <a class="fw-500 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="bg-body rounded-top-5 overflow-hidden w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="position-absolute top-0 start-0 ms-4 mt-4">
                                        <span class="bg-primary text-white px-4 py-2 rounded-pill">19 Aug 2023</span>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <h5 class="mb-2"><a href="#" class="text-reset">How to Rewrite a Blog Post to
                                            Improve Your SEO</a></h5>
                                    <p class="mb-4">This blog post provides tips on how to rewrite a blog post to
                                        improve its SEO, such as updating the content with new information, fixing any
                                        errors, and optimizing for new keywords.</p>
                                    <a class="fw-500 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="bg-body rounded-top-5 overflow-hidden w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="position-absolute top-0 start-0 ms-4 mt-4">
                                        <span class="bg-primary text-white px-4 py-2 rounded-pill">19 Aug 2023</span>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <h5 class="mb-2"><a href="#" class="text-reset">How to Rewrite a Blog Post to
                                            Improve Your SEO</a></h5>
                                    <p class="mb-4">This blog post provides tips on how to rewrite a blog post to
                                        improve its SEO, such as updating the content with new information, fixing any
                                        errors, and optimizing for new keywords.</p>
                                    <a class="fw-500 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="bg-body rounded-top-5 overflow-hidden w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="position-absolute top-0 start-0 ms-4 mt-4">
                                        <span class="bg-primary text-white px-4 py-2 rounded-pill">19 Aug 2023</span>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <h5 class="mb-2"><a href="#" class="text-reset">How to Rewrite a Blog Post to
                                            Improve Your SEO</a></h5>
                                    <p class="mb-4">This blog post provides tips on how to rewrite a blog post to
                                        improve its SEO, such as updating the content with new information, fixing any
                                        errors, and optimizing for new keywords.</p>
                                    <a class="fw-500 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="bg-body rounded-top-5 overflow-hidden w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="position-absolute top-0 start-0 ms-4 mt-4">
                                        <span class="bg-primary text-white px-4 py-2 rounded-pill">19 Aug 2023</span>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <h5 class="mb-2"><a href="#" class="text-reset">How to Rewrite a Blog Post to
                                            Improve Your SEO</a></h5>
                                    <p class="mb-4">This blog post provides tips on how to rewrite a blog post to
                                        improve its SEO, such as updating the content with new information, fixing any
                                        errors, and optimizing for new keywords.</p>
                                    <a class="fw-500 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="bg-body rounded-top-5 overflow-hidden w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="position-absolute top-0 start-0 ms-4 mt-4">
                                        <span class="bg-primary text-white px-4 py-2 rounded-pill">19 Aug 2023</span>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <h5 class="mb-2"><a href="#" class="text-reset">How to Rewrite a Blog Post to
                                            Improve Your SEO</a></h5>
                                    <p class="mb-4">This blog post provides tips on how to rewrite a blog post to
                                        improve its SEO, such as updating the content with new information, fixing any
                                        errors, and optimizing for new keywords.</p>
                                    <a class="fw-500 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="bg-body rounded-top-5 overflow-hidden w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="position-absolute top-0 start-0 ms-4 mt-4">
                                        <span class="bg-primary text-white px-4 py-2 rounded-pill">19 Aug 2023</span>
                                    </div>
                                </div>
                                <div class="p-4">
                                    <h5 class="mb-2"><a href="#" class="text-reset">How to Rewrite a Blog Post to
                                            Improve Your SEO</a></h5>
                                    <p class="mb-4">This blog post provides tips on how to rewrite a blog post to
                                        improve its SEO, such as updating the content with new information, fixing any
                                        errors, and optimizing for new keywords.</p>
                                    <a class="fw-500 link-effect" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-8 text-center">
                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-primary" href="#">
                            <span class="btn-slide-bg bg-primary"></span>
                            <span class="btn-slide-text">Load More</span>
                        </a>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_seo_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
========================
End Wrapper 
========================
-->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>