<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap",
        "CSSName": "seo",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
========================
Wrapper 
========================
-->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_seo_header.html',{
        "path": "",
        "HeaderClass": "",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="section">
                <div class="container pt-8">
                    <h1 class="text-center display-1">SEO agencies typically offer a variety of services</h1>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row gy-5">
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="bg-body rounded-top-5 overflow-hidden hover-top w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="icon-lg bg-primary text-white rounded-circle position-absolute start-0 end-0 m-auto bottom-0 mb-n4 border border-4 border-white">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                </div>
                                <div class="p-4 pt-7">
                                    <h5 class="mb-2"><a href="#" class="text-reset">Keyword research</a></h5>
                                    <p class="mb-4">This involves identifying the keywords that your target audience is
                                        using to search for products or services like yours.</p>
                                    <a class="fw-500 link-effect" href="#">Get a Free Audit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="bg-body rounded-top-5 overflow-hidden hover-top w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="icon-lg bg-primary text-white rounded-circle position-absolute start-0 end-0 m-auto bottom-0 mb-n4 border border-4 border-white">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                </div>
                                <div class="p-4 pt-7">
                                    <h5 class="mb-2"><a href="#" class="text-reset">On-page optimization</a></h5>
                                    <p class="mb-4">This involves optimizing your website's content, titles, and meta
                                        descriptions to ensure that they are optimized for the keywords you are
                                        targeting.</p>
                                    <a class="fw-500 link-effect" href="#">Get a Free Audit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="bg-body rounded-top-5 overflow-hidden hover-top w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="icon-lg bg-primary text-white rounded-circle position-absolute start-0 end-0 m-auto bottom-0 mb-n4 border border-4 border-white">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                </div>
                                <div class="p-4 pt-7">
                                    <h5 class="mb-2"><a href="#" class="text-reset">Off-page optimization</a></h5>
                                    <p class="mb-4">This involves building links to your website from other high-quality
                                        websites to help improve your authority and ranking.</p>
                                    <a class="fw-500 link-effect" href="#">Get a Free Audit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="bg-body rounded-top-5 overflow-hidden hover-top w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="icon-lg bg-primary text-white rounded-circle position-absolute start-0 end-0 m-auto bottom-0 mb-n4 border border-4 border-white">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                </div>
                                <div class="p-4 pt-7">
                                    <h5 class="mb-2"><a href="#" class="text-reset">Technical SEO</a></h5>
                                    <p class="mb-4">This involves ensuring that your website is technically optimized
                                        for search engines, such as by fixing any errors or inconsistencies.</p>
                                    <a class="fw-500 link-effect" href="#">Get a Free Audit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="bg-body rounded-top-5 overflow-hidden hover-top w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="icon-lg bg-primary text-white rounded-circle position-absolute start-0 end-0 m-auto bottom-0 mb-n4 border border-4 border-white">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                </div>
                                <div class="p-4 pt-7">
                                    <h5 class="mb-2"><a href="#" class="text-reset">Content marketing</a></h5>
                                    <p class="mb-4">This involves creating and publishing high-quality content that is
                                        relevant to your target audience and optimized for search engines.</p>
                                    <a class="fw-500 link-effect" href="#">Get a Free Audit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 d-flex">
                            <div class="bg-body rounded-top-5 overflow-hidden hover-top w-100">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                    <div class="icon-lg bg-primary text-white rounded-circle position-absolute start-0 end-0 m-auto bottom-0 mb-n4 border border-4 border-white">
                                        <i class="bi-check-lg"></i>
                                    </div>
                                </div>
                                <div class="p-4 pt-7">
                                    <h5 class="mb-2"><a href="#" class="text-reset">PPC management</a></h5>
                                    <p class="mb-4">This involves managing pay-per-click (PPC) campaigns, which can help
                                        you to get your website to the top of the search results pages (SERPs) for
                                        specific keywords.</p>
                                    <a class="fw-500 link-effect" href="#">Get a Free Audit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-primary">
                <div class="container">
                    <div class="swiper swiper-container" data-swiper-options='{
                        "slidesPerView": 1,
                        "spaceBetween": 24,
                        "pagination": {
                        "el": ".swiper-pagination",
                        "clickable": true
                        },
                        "breakpoints": {
                        "650": {
                        "slidesPerView": 1
                        },
                        "991": {
                        "slidesPerView": 2
                        }
                        }
                    }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text-center px-2 px-md-4 py-3 lead text-white">
                                    "I was skeptical at first about using an SEO agency, but I'm so glad I did. The team
                                    at [SEO agency name] has been amazing to work with. They are knowledgeable,
                                    professional, and results-oriented.
                                </div>
                                <div class="d-flex justify-content-center pt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg">
                                            <img class="avatar-img rounded" src="../assets/img/avatar/01.jpg" title=""
                                                alt="">
                                        </div>
                                        <div class="col ps-4">
                                            <h6 class="text-white mb-1">Jenna Ortega</h6>
                                            <span class="text-white text-opacity-75">Shop Owner</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center px-2 px-md-4 py-3 lead text-white">
                                    "I was skeptical at first about using an SEO agency, but I'm so glad I did. The team
                                    at [SEO agency name] has been amazing to work with. They are knowledgeable,
                                    professional, and results-oriented.
                                </div>
                                <div class="d-flex justify-content-center pt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg">
                                            <img class="avatar-img rounded" src="../assets/img/avatar/02.jpg" title=""
                                                alt="">
                                        </div>
                                        <div class="col ps-4">
                                            <h6 class="text-white mb-1">Jenna Ortega</h6>
                                            <span class="text-white text-opacity-75">Shop Owner</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center px-2 px-md-4 py-3 lead text-white">
                                    "I was skeptical at first about using an SEO agency, but I'm so glad I did. The team
                                    at [SEO agency name] has been amazing to work with. They are knowledgeable,
                                    professional, and results-oriented.
                                </div>
                                <div class="d-flex justify-content-center pt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg">
                                            <img class="avatar-img rounded" src="../assets/img/avatar/03.jpg" title=""
                                                alt="">
                                        </div>
                                        <div class="col ps-4">
                                            <h6 class="text-white mb-1">Jenna Ortega</h6>
                                            <span class="text-white text-opacity-75">Shop Owner</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination light position-relative mt-4"></div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 text-center">
                            <h3 class="display-2">READY TO START A PROJECT?</h3>
                            <a class="btn rounded-pill border-2 px-6 btn-lg btn-slide btn-slide-top btn-outline-primary" href="#">
                                <span class="btn-slide-bg bg-primary"></span>
                                <span class="btn-slide-text">Get a Free SEO Audit</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_seo_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
========================
End Wrapper 
========================
-->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>