<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap",
        "CSSName": "seo",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
========================
Wrapper 
========================
-->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_seo_header.html',{
        "path": "",
        "HeaderClass": "",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            <!-- Section -->
            <section class="section">
                <div class="container pt-8">
                    <h1 class="text-center display-1">We are currently working on our latest project.</h1>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row gy-5">
                        <div class="col-md-6">
                            <div class="bg-body rounded-top-5 overflow-hidden">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                </div>
                                <div class="p-4">
                                    <div class="d-flex gap-2 flex-wrap mb-3">
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Responsive</span>
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Web
                                            Design</span>
                                    </div>
                                    <h5 class="h4 mb-3"><a href="#" class="text-reset">Keyword research</a></h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ut, architecto sit nesciunt ullam perspiciatis dolorum dicta corporis unde.</p>
                                    <div class="d-flex gap-3">
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-warning" href="#">
                                            <span class="btn-slide-bg bg-warning"></span>
                                            <span class="btn-slide-text">Visit Website</span>
                                        </a>
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-primary" href="#">
                                            <span class="btn-slide-bg bg-primary"></span>
                                            <span class="btn-slide-text">View Case Study</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg-body rounded-top-5 overflow-hidden">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                </div>
                                <div class="p-4">
                                    <div class="d-flex gap-2 flex-wrap mb-3">
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Responsive</span>
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Web
                                            Design</span>
                                    </div>
                                    <h5 class="h4 mb-3"><a href="#" class="text-reset">Keyword research</a></h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ut, architecto sit nesciunt ullam perspiciatis dolorum dicta corporis unde.</p>
                                    <div class="d-flex gap-3">
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-warning" href="#">
                                            <span class="btn-slide-bg bg-warning"></span>
                                            <span class="btn-slide-text">Visit Website</span>
                                        </a>
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-primary" href="#">
                                            <span class="btn-slide-bg bg-primary"></span>
                                            <span class="btn-slide-text">View Case Study</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg-body rounded-top-5 overflow-hidden">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                </div>
                                <div class="p-4">
                                    <div class="d-flex gap-2 flex-wrap mb-3">
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Responsive</span>
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Web
                                            Design</span>
                                    </div>
                                    <h5 class="h4 mb-3"><a href="#" class="text-reset">Keyword research</a></h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ut, architecto sit nesciunt ullam perspiciatis dolorum dicta corporis unde.</p>
                                    <div class="d-flex gap-3">
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-warning" href="#">
                                            <span class="btn-slide-bg bg-warning"></span>
                                            <span class="btn-slide-text">Visit Website</span>
                                        </a>
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-primary" href="#">
                                            <span class="btn-slide-bg bg-primary"></span>
                                            <span class="btn-slide-text">View Case Study</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg-body rounded-top-5 overflow-hidden">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                </div>
                                <div class="p-4">
                                    <div class="d-flex gap-2 flex-wrap mb-3">
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Responsive</span>
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Web
                                            Design</span>
                                    </div>
                                    <h5 class="h4 mb-3"><a href="#" class="text-reset">Keyword research</a></h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ut, architecto sit nesciunt ullam perspiciatis dolorum dicta corporis unde.</p>
                                    <div class="d-flex gap-3">
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-warning" href="#">
                                            <span class="btn-slide-bg bg-warning"></span>
                                            <span class="btn-slide-text">Visit Website</span>
                                        </a>
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-primary" href="#">
                                            <span class="btn-slide-bg bg-primary"></span>
                                            <span class="btn-slide-text">View Case Study</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg-body rounded-top-5 overflow-hidden">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                </div>
                                <div class="p-4">
                                    <div class="d-flex gap-2 flex-wrap mb-3">
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Responsive</span>
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Web
                                            Design</span>
                                    </div>
                                    <h5 class="h4 mb-3"><a href="#" class="text-reset">Keyword research</a></h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ut, architecto sit nesciunt ullam perspiciatis dolorum dicta corporis unde.</p>
                                    <div class="d-flex gap-3">
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-warning" href="#">
                                            <span class="btn-slide-bg bg-warning"></span>
                                            <span class="btn-slide-text">Visit Website</span>
                                        </a>
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-primary" href="#">
                                            <span class="btn-slide-bg bg-primary"></span>
                                            <span class="btn-slide-text">View Case Study</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg-body rounded-top-5 overflow-hidden">
                                <div class="position-relative">
                                    <img src="../assets/img/seo/blog-1.jpg" title="" alt="">
                                </div>
                                <div class="p-4">
                                    <div class="d-flex gap-2 flex-wrap mb-3">
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Responsive</span>
                                        <span class="px-3 py-1 bg-primary bg-opacity-20 text-uppercase text-primary fs-xs fw-600 rounded-pill">Web
                                            Design</span>
                                    </div>
                                    <h5 class="h4 mb-3"><a href="#" class="text-reset">Keyword research</a></h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ut, architecto sit nesciunt ullam perspiciatis dolorum dicta corporis unde.</p>
                                    <div class="d-flex gap-3">
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-warning" href="#">
                                            <span class="btn-slide-bg bg-warning"></span>
                                            <span class="btn-slide-text">Visit Website</span>
                                        </a>
                                        <a class="btn rounded-pill btn-slide btn-slide-top btn-outline-primary" href="#">
                                            <span class="btn-slide-bg bg-primary"></span>
                                            <span class="btn-slide-text">View Case Study</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-primary">
                <div class="container">
                    <div class="swiper swiper-container" data-swiper-options='{
                        "slidesPerView": 1,
                        "spaceBetween": 24,
                        "pagination": {
                        "el": ".swiper-pagination",
                        "clickable": true
                        },
                        "breakpoints": {
                        "650": {
                        "slidesPerView": 1
                        },
                        "991": {
                        "slidesPerView": 2
                        }
                        }
                    }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text-center px-2 px-md-4 py-3 lead text-white">
                                    "I was skeptical at first about using an SEO agency, but I'm so glad I did. The team
                                    at [SEO agency name] has been amazing to work with. They are knowledgeable,
                                    professional, and results-oriented.
                                </div>
                                <div class="d-flex justify-content-center pt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg">
                                            <img class="avatar-img rounded" src="../assets/img/avatar/04.jpg" title=""
                                                alt="">
                                        </div>
                                        <div class="col ps-4">
                                            <h6 class="text-white mb-1">Jenna Ortega</h6>
                                            <span class="text-white text-opacity-75">Shop Owner</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center px-2 px-md-4 py-3 lead text-white">
                                    "I was skeptical at first about using an SEO agency, but I'm so glad I did. The team
                                    at [SEO agency name] has been amazing to work with. They are knowledgeable,
                                    professional, and results-oriented.
                                </div>
                                <div class="d-flex justify-content-center pt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg">
                                            <img class="avatar-img rounded" src="../assets/img/avatar/02.jpg" title=""
                                                alt="">
                                        </div>
                                        <div class="col ps-4">
                                            <h6 class="text-white mb-1">Jenna Ortega</h6>
                                            <span class="text-white text-opacity-75">Shop Owner</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center px-2 px-md-4 py-3 lead text-white">
                                    "I was skeptical at first about using an SEO agency, but I'm so glad I did. The team
                                    at [SEO agency name] has been amazing to work with. They are knowledgeable,
                                    professional, and results-oriented.
                                </div>
                                <div class="d-flex justify-content-center pt-4">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-lg">
                                            <img class="avatar-img rounded" src="../assets/img/avatar/03.jpg" title=""
                                                alt="">
                                        </div>
                                        <div class="col ps-4">
                                            <h6 class="text-white mb-1">Jenna Ortega</h6>
                                            <span class="text-white text-opacity-75">Shop Owner</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination light position-relative mt-4"></div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 text-center">
                            <h3 class="display-2">READY TO START A PROJECT?</h3>
                            <a class="btn rounded-pill border-2 px-6 btn-lg btn-slide btn-slide-top btn-outline-primary" href="#">
                                <span class="btn-slide-bg bg-primary"></span>
                                <span class="btn-slide-text">Get a Free SEO Audit</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_seo_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
========================
End Wrapper 
========================
-->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>