<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap",
        "CSSName": "seo",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
========================
Wrapper 
========================
-->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_coworking_header.html',{
        "path": "",
        "HeaderClass": "",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            @@include('./page-heading/_page-heading-03.html', {
                "titleSm": "About",
                "title": "About",
            })
            <!-- section -->
            <section class="section">
                <div class="container">
                    <div class="row gy-4 align-items-center">
                        <div class="col-lg-6">
                            <img src="../assets/img/coworking/about-1.jpg" title="" alt="">
                        </div>
                        <div class="col-lg-6 ps-xl-7">
                            <div class="title-02 text-primary fw-600">GET TO KNOW US</div>
                            <h3 class="h1 pt-4 pb-3">We Known for Having Cool Workspaces Filled with Canada</h3>
                            <p class="fs-lg">Mombo is a HTML5 template based on Sass and Bootstrap 5 with modern and creative multipurpose design you can use it as a startups. Ut enim ad minim veniam.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            <div class="pt-2">
                                <a class="btn btn-primary" href="#"><span class="btn-inner--text">Discover more</span><i class="bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="shadow-lg bg-body p-4 mt-8">
                        <div class="row counter">
                            <div class="col-6 col-lg-3 my-3 text-center">
                                <h2 class="purecounter h1" data-purecounter-start="0" data-purecounter-end="500"></h2>
                                <h6 class="text-primary m-0">Member active</h6>
                            </div>
                            <div class="col-6 col-lg-3 my-3 text-center">
                                <h2 class="purecounter h1" data-purecounter-start="0" data-purecounter-end="285"></h2>
                                <h6 class="text-primary m-0">Company active</h6>
                            </div>
                            <div class="col-6 col-lg-3 my-3 text-center">
                                <h2 class="purecounter h1" data-purecounter-start="0" data-purecounter-end="150"></h2>
                                <h6 class="text-primary m-0">Private room</h6>
                            </div>
                            <div class="col-6 col-lg-3 my-3 text-center">
                                <h2 class="purecounter h1" data-purecounter-start="0" data-purecounter-end="15"></h2>
                                <h6 class="text-primary m-0">Years Experience</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row section-heading justify-content-center">
                        <div class="col-lg-8 col-xl-6 text-center">
                            <h3 class="h1 bg-primary-after title-03 pb-3 mb-3">Work together. Work efficiently. Work smartly</h3>
                            <div class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-lg-4">
                            <div class="card hover-scale">
                                <a href="#" class="hover-scale-in">
                                    <img class="card-img-top" src="../assets/img/coworking/about-1.jpg" title="" alt="">
                                </a>
                                <div class="card-body p-3">
                                    <h5><a class="text-reset" href="#">The Best Location</a></h5>
                                    <p>There are many variations of passages of available, but the majority have suffered alteration.</p>
                                    <button class="btn btn-primary btn-sm">Get started</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card hover-scale">
                                <a href="#" class="hover-scale-in">
                                    <img class="card-img-top" src="../assets/img/coworking/about-1.jpg" title="" alt="">
                                </a>
                                <div class="card-body p-3">
                                    <h5><a class="text-reset" href="#">The Feature List</a></h5>
                                    <p>There are many variations of passages of available, but the majority have suffered alteration.</p>
                                    <button class="btn btn-primary btn-sm">Get started</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card hover-scale">
                                <a href="#" class="hover-scale-in">
                                    <img class="card-img-top" src="../assets/img/coworking/about-1.jpg" title="" alt="">
                                </a>
                                <div class="card-body p-3">
                                    <h5><a class="text-reset" href="#">The Private office</a></h5>
                                    <p>There are many variations of passages of available, but the majority have suffered alteration.</p>
                                    <button class="btn btn-primary btn-sm">Get started</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section -->
            <!-- Section -->
            <section class="section bg-dark position-relative overflow-hidden">
                <!-- @s BG Effect -->
                <div class="pe-none position-absolute start-0 top-0 mx-auto me-n5 ms-n5 mt-lg-n10 ms-lg-n10 w-custom w-lg-custom h-custom h-lg-custom" style="--bs-w-custom: 200px; --bs-w-lg-custom: 220px; --bs-h-custom: 200px; --bs-h-lg-custom: 220px;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 187 192" fill="none" class="text-warning">
                        <path d="M49.234 40.7275C50.7799 37.5066 53.9267 35.3552 57.489 35.0836L119.332 30.3681C122.895 30.0965 126.331 31.746 128.348 34.6952L163.353 85.8953C165.369 88.8446 165.659 92.6455 164.113 95.8664L137.275 151.782C135.729 155.003 132.583 157.154 129.02 157.426L67.177 162.141C63.6147 162.413 60.178 160.763 58.1617 157.814L23.1563 106.614C21.1399 103.665 20.8501 99.8639 22.396 96.6431L49.234 40.7275Z" fill="currentColor"/>
                    </svg>
                </div>
                <div class="pe-none position-absolute end-0 bottom-0 me-n4 mb-n4 me-lg-n8 mb-lg-n8 w-custom w-lg-custom h-custom h-lg-custom" style="--bs-w-custom: 130px; --bs-w-lg-custom: 150px; --bs-h-custom: 130px; --bs-h-lg-custom: 150px;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 187 192" fill="none" class="text-warning">
                        <path d="M49.234 40.7275C50.7799 37.5066 53.9267 35.3552 57.489 35.0836L119.332 30.3681C122.895 30.0965 126.331 31.746 128.348 34.6952L163.353 85.8953C165.369 88.8446 165.659 92.6455 164.113 95.8664L137.275 151.782C135.729 155.003 132.583 157.154 129.02 157.426L67.177 162.141C63.6147 162.413 60.178 160.763 58.1617 157.814L23.1563 106.614C21.1399 103.665 20.8501 99.8639 22.396 96.6431L49.234 40.7275Z" fill="currentColor"/>
                    </svg>
                </div>
                
                <img class="position-absolute bottom-0 start-0 pe-none w-custom w-lg-custom" style="--bs-w-custom: 100px; --bs-w-lg-custom: 250px;" src="../assets/img/effect/polygon-03.png" title="" alt="">
                <img class="position-absolute top-0 end-0 pe-none w-custom w-lg-custom" style="--bs-w-custom: 100px; --bs-w-lg-custom: 250px;" src="../assets/img/effect/polygon-04.png" title="" alt="">
                <!-- @E BG Effect -->
                <div class="container position-relative">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-7 col-xl-6 text-center">
                            <h3 class="h1 title-03 pb-3 mb-3 text-white">Our Great Clients</h3>
                            <p class="fs-lg text-white text-opacity-65 m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-6 col-md-3">
                            <div class="border border-white border-opacity-25 py-4 px-4 px-lg-5 px-xxl-6 text-center rounded-3 bg-dark hover-top">
                                <img width="180" src="../assets/img/brand/spotify-white.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="border border-white border-opacity-25 py-4 px-4 px-lg-5 px-xxl-6 text-center rounded-3 bg-dark hover-top">
                                <img width="180" src="../assets/img/brand/paypal-white.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="border border-white border-opacity-25 py-4 px-4 px-lg-5 px-xxl-6 text-center rounded-3 bg-dark hover-top">
                                <img width="180" src="../assets/img/brand/slack-white.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="border border-white border-opacity-25 py-4 px-4 px-lg-5 px-xxl-6 text-center rounded-3 bg-dark hover-top">
                                <img width="180" src="../assets/img/brand/spotify-white.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="border border-white border-opacity-25 py-4 px-4 px-lg-5 px-xxl-6 text-center rounded-3 bg-dark hover-top">
                                <img width="180" src="../assets/img/brand/airbnb-white.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="border border-white border-opacity-25 py-4 px-4 px-lg-5 px-xxl-6 text-center rounded-3 bg-dark hover-top">
                                <img width="180" src="../assets/img/brand/paypal-white.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="border border-white border-opacity-25 py-4 px-4 px-lg-5 px-xxl-6 text-center rounded-3 bg-dark hover-top">
                                <img width="180" src="../assets/img/brand/slack-white.svg" title="" alt="">
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="border border-white border-opacity-25 py-4 px-4 px-lg-5 px-xxl-6 text-center rounded-3 bg-dark hover-top">
                                <img width="180" src="../assets/img/brand/spotify-white.svg" title="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-7 col-xl-6 text-center">
                            <h3 class="h1 bg-primary-after title-03 pb-3 mb-3">Testimonials</h3>
                            <p class="fs-lg m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body p-3 p-lg-5 d-flex">
                                    <div class="avatar-lg">
                                        <img class="avatar-img rounded-circle" src="../assets/img/avatar/avatar-1.jpg" title="" alt="">
                                    </div>
                                    <div class="col ps-4">
                                        <p class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                        <h6 class="mb-0">Nancy Drew</h6>
                                        <span>pxdraft</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="card">
                                <div class="card-body p-3 p-lg-5 d-flex">
                                    <div class="avatar-lg">
                                        <img class="avatar-img rounded-circle" src="../assets/img/avatar/avatar-1.jpg" title="" alt="">
                                    </div>
                                    <div class="col ps-4">
                                        <p class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                        <h6 class="mb-0">Nancy Drew</h6>
                                        <span>pxdraft</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body p-3 p-lg-5 d-flex">
                                    <div class="avatar-lg">
                                        <img class="avatar-img rounded-circle" src="../assets/img/avatar/avatar-1.jpg" title="" alt="">
                                    </div>
                                    <div class="col ps-4">
                                        <p class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                        <h6 class="mb-0">Nancy Drew</h6>
                                        <span>pxdraft</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body p-3 p-lg-5 d-flex">
                                    <div class="avatar-lg">
                                        <img class="avatar-img rounded-circle" src="../assets/img/avatar/avatar-1.jpg" title="" alt="">
                                    </div>
                                    <div class="col ps-4">
                                        <p class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                        <h6 class="mb-0">Nancy Drew</h6>
                                        <span>pxdraft</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-gray-100">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-md-6 pe-xl-12">
                            <h3 class="h2 mb-3">Send a Message</h3>
                            <p class="w-lg-90">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            <div class="pt-2">
                                <address class="">
                                    <p>301 The Greenhouse London,<br> E2 8DY UK</p>
                                    <p class="mb-2"><a class="link-effect" href="mailto:support@domain.com">support@domain.com</a></p>
                                    <p class="mb-2"><a class="link-effect" href="tel:820-885-3321">820-885-3321</a></p>
                                </address>
                                <div class="nav pt-2 mb-5">
                                    <a class="icon-sm bg-primary text-white rounded-circle me-2 hover-top" href="#"><i class="bi-facebook"></i></a>
                                    <a class="icon-sm bg-primary text-white rounded-circle me-2 hover-top" href="#"><i class="bi-twitter"></i></a>
                                    <a class="icon-sm bg-primary text-white rounded-circle me-2 hover-top" href="#"><i class="bi-linkedin"></i></a>
                                    <a class="icon-sm bg-primary text-white rounded-circle me-2 hover-top" href="#"><i class="bi-instagram"></i></a>
                                </div>
                                <div class="ratio ratio-16x9">
                                    <iframe class="rounded-3 bg-gray-200 p-2 shadow-sm" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 ms-auto">
                            <div class="card">
                                <div class="card-body p-5">
                                    <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="../assets/vendor/mail/bat/rd-mailform.php">
                                        <div class="mb-3">
                                            <label class="form-label" for="contact-name">Your Name</label>
                                            <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="contact-name">Email Address</label>
                                            <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="contact-name">Phone (optional)</label>
                                            <input type="tel" name="contact-phone" class="form-control" placeholder="+01 888 888 6666" id="contact-phone">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="contact-name">Message</label>
                                            <textarea class="form-control" id="contact-message" name="message" rows="5" placeholder="Hi there, I would like to ..." data-constraints="@Required"></textarea>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary w-100" type="submit" name="send">Get Started</button>
                                            <div class="snackbars" id="form-output-global"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_coworking_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
========================
End Wrapper 
========================
-->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>