<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap",
        "CSSName": "seo",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
========================
Wrapper 
========================
-->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_coworking_header.html',{
        "path": "",
        "HeaderClass": "",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            @@include('./page-heading/_page-heading-03.html', {
                "titleSm": "Contact Us",
                "title": "Contact Us",
            })
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-md-6 d-flex flex-row">
                            <div class="min-h-250px position-relative w-100">
                                <iframe class="w-100 bg-white position-absolute top-0 bottom-0 end-0 start-0 h-100" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex flex-row">
                            <div class="bg-gray-100 p-4 p-lg-6 w-100">
                                <h3>Get in touch</h3>
                                <p class="fs-lg">Need a quick response? E-mail us or contact our call line below. Call Hours Monday - Friday 10.00 AM - 7.00 PM</p>
                                <address class="pt-3">
                                    <div class="d-flex">
                                        <div class="icon-md bg-primary text-white rounded-circle">
                                            <i class="bi-map"></i>
                                        </div>
                                        <p class="col ps-3">301 The Greenhouse London,<br> E2 8DY UK</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="icon-md bg-primary text-white rounded-circle">
                                            <i class="bi-envelope"></i>
                                        </div>
                                        <p class="col ps-3">support@domain.com<br> info@domain.com</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="icon-md bg-primary text-white rounded-circle">
                                            <i class="bi-phone"></i>
                                        </div>
                                        <p class="col ps-3">+01 8585 855 855<br> 02454 8523 856</p>
                                    </div>
                                </address>
                                <div class="nav">
                                    <a class="icon-md bg-dark text-white rounded ms-2" href="#"><i class="bi-facebook"></i></a>
                                    <a class="icon-md bg-dark text-white rounded ms-2" href="#"><i class="bi-twitter"></i></a>
                                    <a class="icon-md bg-dark text-white rounded ms-2" href="#"><i class="bi-linkedin"></i></a>
                                    <a class="icon-md bg-dark text-white rounded ms-2" href="#"><i class="bi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section border-top bg-gray-100">
                <div class="container">
                    <div class="row justify-content-center section-heading">
                        <div class="col-lg-9 col-xl-7 text-center">
                            <h3 class="h1 title-03 pb-3 mb-3">Contact our sales team</h3>
                            <div class="fs-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-md-6 d-flex flex-row">
                            <div class="min-h-250px position-relative w-100">
                                <div class="w-100 bg-white position-absolute top-0 bottom-0 end-0 start-0 h-100 bg-cover bg-center bg-no-repeat" style="background-image: url(../assets/img/coworking/about-1.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex flex-row">
                            <div class="bg-body shadow p-4 p-lg-6">
                                <div class="pb-4">
                                    <h5 class="m-0">Contact Us</h5>
                                </div>
                                <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="../assets/vendor/mail/bat/rd-mailform.php" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label class="form-label">Name</label>
                                                <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control form-control-has-validation form-control-last-child">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label class="form-label">Email address</label>
                                                <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control form-control-has-validation form-control-last-child">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group mb-3">
                                                <label class="form-label">Comment</label>
                                                <textarea class="form-control form-control-has-validation form-control-last-child" id="contact-message" name="message" rows="3" placeholder="Hi there, I would like to ..." data-constraints="@Required"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 pt-2">
                                            <button class="btn btn-primary" type="submit" name="send">Create my account</button>
                                            <div class="snackbars" id="form-output-global"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_coworking_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
    ========================
    End Wrapper 
    ========================
    -->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>