<!doctype html>
<html lang="zxx" data-bs-theme="dark">

<head>
    @@include('./_head.html', {
        "path": "",
        "FontsURL": "https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap",
        "CSSName": "seo",
    })
</head>

<body>
    <!-- Skippy & Prload -->
    @@include('./_skippy.html',{
    "path": "",
    })
    <!-- Edn Skippy & Prload -->
    <!-- 
========================
Wrapper 
========================
-->
    <div class="wrapper">
        <!-- Header -->
        @@include('./header/_coworking_header.html',{
        "path": "",
        "HeaderClass": "",
        })
        <!-- End Header -->
        <!-- Main -->
        <main>
            @@include('./page-heading/_page-heading-03.html', {
                "titleSm": "Gallery",
                "title": "Gallery",
            })
            <!-- Section -->
            <section class="section">
                <div class="container">
                    <div class="portfolio-content row g-3 lightbox-gallery">
                        <div class="col-sm-6 col-lg-4 grid-item product branding">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-3 position-relative">
                                    <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                        <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item photoshop fashion">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-3 position-relative">
                                    <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                        <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item product branding">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-3 position-relative">
                                    <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                        <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item fashion branding">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-3 position-relative">
                                    <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                        <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item product photoshop">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-3 position-relative">
                                    <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                        <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item product fashion">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-3 position-relative">
                                    <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                        <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item fashion photoshop">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-3 position-relative">
                                    <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                        <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item product fashion">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-3 position-relative">
                                    <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                        <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item photoshop branding">
                            <div class="hover-scale">
                                <div class="hover-scale-in rounded-3 position-relative">
                                    <a href="../assets/img/project/project-1.jpg" class="gallery-link">
                                        <img src="../assets/img/project/project-1.jpg" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
            <!-- Section -->
            <section class="section bg-cover bg-no-repeat bg-center position-relative" style="background-image: url(../assets/img/coworking/home-banner.jpg);">
                <div class="position-absolute top-0 start-0 end-0 bottom-0 bg-dark opacity-50"></div>
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-7 text-center">
                            <label class="text-white text-opacity-65 fw-600 mb-3">Feel The Futuer</label>
                            <h2 class="h1 text-white mb-4"><u>Growth and development</u> are fostered here!</h2>
                            <div class="pt-2 d-flex gap-3 justify-content-center">
                                <a class="btn btn-white" href="#">
                                    <i class="bi-google me-2"></i> Google Play
                                </a>
                                <a class="btn btn-white" href="#">
                                    <i class="bi-apple me-2"></i> App Store
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->
        </main>
        <!-- End Main -->
        <!-- Footer -->
        @@include('./footer/_coworking_footer.html',{
        "path": "",
        })
        <!-- End Footer -->
    </div>
    <!-- 
========================
End Wrapper 
========================
-->
    <!-- script start -->
    @@include('./_scripts.html', {
    "path": "",
    })
    <!-- End script start -->
</body>

</html>